In [14]:
import pandas as pd

ruta = r'C:\Documents\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AVANCE COSECHA\2025\AVANCE SEMANAL\AVANCE DE COSECHA V1.xlsx'
ruta_output = r'C:\Documents\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AVANCE COSECHA\2025\AVANCE SEMANAL\CLASIFICACION.xlsx'

In [10]:
df = pd.read_excel(ruta, sheet_name='AVANCE')
df.head(3)

,COD COS,INST,COD CA,NOMBRE,COMPROMISO,ENTREGAS,%ENTREGA,TOTAL AREA,COSECHADO,SIN COSECHAR,...,TCH,%DIFF AVANCE,TCH EST,PRODUC EST,EST PRODUC COSECHADO,DIF. EST ENTREGA,%DIF. EST ENTREGA,TN EN CAMPO,COMPROMISO RES,DIFERENCIA
0,1,50,515,AGUILERA OLGA RIVERO VDA DE,30572.11,28238.58,0.923671,618.28,483.90,128.41,...,58.356231,0.141016,57.639599,35292.15,28397.01,-158.43,1.005610,6895.14,2333.53,4561.61
1,2,69,1180,BALCAZAR BALCAZAR JESUS E.,10965.29,11948.34,1.089651,200.37,198.31,NaN,...,60.250819,0.099932,53.046741,10531.90,10531.90,1416.44,0.881453,0.00,0.00,0.00
2,3,69,911,BALCAZAR JUSTINIANO MARIO,5422.67,3568.61,0.658091,122.97,68.49,53.83,...,52.104103,0.101126,51.427065,6289.53,3652.93,-84.32,1.023628,2636.60,1854.06,782.54

In [11]:
df.columns

Index(['COD COS', 'INST ', 'COD CA', 'NOMBRE', 'COMPROMISO', 'ENTREGAS',
       '%ENTREGA', 'TOTAL AREA', 'COSECHADO', 'SIN COSECHAR', 'SEMILLA',
       '%COSECHADO', 'TCH', '%DIFF AVANCE', 'TCH EST', 'PRODUC EST',
       'EST PRODUC COSECHADO', 'DIF. EST ENTREGA', '%DIF. EST ENTREGA',
       'TN EN CAMPO', 'COMPROMISO RES ', 'DIFERENCIA'],
      dtype='object')

In [16]:
# CON Y SIN FIN DE ZAFRA
df.loc[df['%COSECHADO'] >= 0.9, 'FIN ZAFRA'] = 'SI'
df.loc[df['%COSECHADO'] < 0.9, 'FIN ZAFRA'] = 'NO'

In [17]:
df.to_excel(ruta_output, index=False)