Cartar de posible desvio para la union

In [2]:
import sys
sys.path.append('..')

import pandas as pd
import collections
import os

from docxtpl import DocxTemplate

from config import RUTA_UNIDAD_ONE_DRIVE
from config import RUTA_LOCAL_ONE_DRIVE
from config import POSTGRES_UTEA

RUTA_COMPLETA = os.path.join(RUTA_UNIDAD_ONE_DRIVE, RUTA_LOCAL_ONE_DRIVE)

In [15]:
RUTA_COMPLETA

'G:\\OneDrive - Ingenio Azucarero Guabira S.A\\_DATOS_PYTHON'

In [16]:
path_xlsx_avance = RUTA_UNIDAD_ONE_DRIVE + r'\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AVANCE COSECHA\2025\AVANCE SEMANAL\AVANCE DE COSECHA V1.xlsx'

In [17]:
xlsx_entregas = pd.read_excel(path_xlsx_avance, sheet_name='DETALLE ENTREGAS')
xlsx_avance = pd.read_excel(path_xlsx_avance, sheet_name = 'AVANCE')

C:\Users\Usuario\anaconda3\envs\utea\lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
C:\Users\Usuario\anaconda3\envs\utea\lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [18]:
xlsx_entregas = xlsx_entregas.drop(xlsx_entregas.index[-1])
xlsx_entregas['cod_cos'] = xlsx_entregas['cod_cos'].astype(int)
xlsx_entregas['cod_ca'] = xlsx_entregas['cod_ca'].astype(int)
xlsx_entregas['%ENTREGA'] = xlsx_entregas['%ENTREGA'] * 100
xlsx_entregas.head(3)

,inst,cod_cos,cod_ca,nom_ca,TOTAL COMPROMISO,TOTAL ENTREGAS,%ENTREGA
0,1,49,660,AGUILERA ANTELO ALEX ENRIQUE,982.61,627.21,63.831021
1,1,54,3361,ENRIQUEZ ROJAS ALBERTO,1615.39,246.99,15.289806
2,1,55,3460,ESPINOZA MENDOZA SANTIAGO,5288.56,4142.64,78.332098

In [19]:
xlsx_avance.head(3)

,COD COS,COD CA,NOMBRE CAÑERO,COMPROMISO,ENTREGAS,%ENTREGA,AREA,COSECHADO,SIN COSECHAR,SEMILLA,...,PRODUCCION EST,EST TN COSECHA,DIF EST ENTREGA,%DIF EST ENTREGA,TN EN CAMPO,COMPROMISO REST,DIFERENICA,COMPRADOR,DESVIADOR,EST VS COMPRIM
0,414,41973,RIBERA JUSTINIANO JEFFER PAUL,9549.85,1545.58,0.161843,196.846310,60.204988,136.641322,NaN,...,9459.560899,2893.184810,-1347.604810,1.871909,6566.376089,8004.27,-1437.893911,0,1,0.990545
1,374,4638,LOPEZ JUANA GODOY DE,15693.28,5462.92,0.348106,301.708136,180.152916,121.555220,NaN,...,14856.435455,8870.924737,-3408.004737,1.623843,5985.510718,10230.36,-4244.849282,0,1,0.946675
2,526,62,AGUILERA PALMA JORGE ENRIQUE,2201.22,1359.12,0.617439,42.160018,42.160018,NaN,NaN,...,2089.558765,2089.558765,-730.438765,1.537435,NaN,842.10,-842.100000,0,1,0.949273

In [20]:
fecha_inf = '02 de septiembre de 2025'
fecha_form = '02-09-2025'

fecha_img = ' de septiembre de 2025'

cod_grupos = [544]
cod = 544

In [29]:
def crear_reporte(lista_cod_cos):
    for cod in lista_cod_cos:
        grupo = xlsx_entregas[xlsx_entregas['cod_cos'] == cod].copy()
        
        # convertir datos del grupo a objetos
        list_obj_caneros = []
        for index, row in grupo.iterrows():
            canero = {
            'inst' : row['inst'],
            'cod_ca' : row['cod_ca'],
            'nom_ca' : row['nom_ca'],
            'compromiso' : row['TOTAL COMPROMISO'],
            'entrega' : row['TOTAL ENTREGAS'],
            'entrega_porcen' : row['%ENTREGA']
            }
            list_obj_caneros.append(collections.namedtuple("canero", canero.keys())(*canero.values()))
        # totales de los datos del grupo
        grupo_totales = {
            'compromiso' : grupo['TOTAL COMPROMISO'].sum(),
            'entregas' : grupo['TOTAL ENTREGAS'].sum(),
            'entrega_porcen' : grupo['TOTAL ENTREGAS'].sum() / grupo['TOTAL COMPROMISO'].sum() * 100
        }
        obj_grupo_totales = collections.namedtuple("grupo_totales", grupo_totales.keys())(*grupo_totales.values())
        
        # datos generales de avance de cosecha
        avance = xlsx_avance[xlsx_avance['COD COS'] ==cod]
        avance_totales = {
            'fecha_img' : fecha_img,
            'fecha_informe' : fecha_inf,
            'compromiso' : float(avance['COMPROMISO'].iloc[0]),
            'entrega' : float(avance['ENTREGAS'].iloc[0]),
            'entrega_porcen' : float(avance['%ENTREGA'].iloc[0]) * 100,
            'ha_canha' : float(avance['COSECHADO'].iloc[0] + avance['SIN COSECHAR'].iloc[0]),
            'ha_cosecha' : float(avance['COSECHADO'].iloc[0]),
            'cosecha_porcen' : float(avance['%COSECHA'].iloc[0]) * 100,
            'tch' : float(avance['TCH'].iloc[0])
        }
        # datos generales a objeto
        obj_avance_totales = collections.namedtuple("avance_totales",avance_totales.keys())(*avance_totales.values())
        
        # generar reporte
        doc = DocxTemplate(RUTA_COMPLETA + '/templates/tpl_rpt_avance_posible_desvio.docx')
        context = {
            'insp' : list_obj_caneros,
            'grupo_totales' : obj_grupo_totales,
            'avance' : obj_avance_totales
        }
        doc.render(context)

        #REPROTE POSIBLE COMPRA DE CAÑA
        doc.save(RUTA_COMPLETA + '/informes/' + str(avance['COD CA'].iloc[0]) + '_RPCC_' + fecha_form + '_' + avance['NOMBRE CAÑERO'].iloc[0] + '.docx')
        print('Se generó reporte de grupo:', cod, ' - ', avance['NOMBRE CAÑERO'].iloc[0])

In [30]:
compradores = xlsx_avance[xlsx_avance['DESVIADOR'] == 1]
compradores.head(3)

,COD COS,COD CA,NOMBRE CAÑERO,COMPROMISO,ENTREGAS,%ENTREGA,AREA,COSECHADO,SIN COSECHAR,SEMILLA,...,PRODUCCION EST,EST TN COSECHA,DIF EST ENTREGA,%DIF EST ENTREGA,TN EN CAMPO,COMPROMISO REST,DIFERENICA,COMPRADOR,DESVIADOR,EST VS COMPRIM
0,414,41973,RIBERA JUSTINIANO JEFFER PAUL,9549.85,1545.58,0.161843,196.846310,60.204988,136.641322,NaN,...,9459.560899,2893.184810,-1347.604810,1.871909,6566.376089,8004.27,-1437.893911,0,1,0.990545
1,374,4638,LOPEZ JUANA GODOY DE,15693.28,5462.92,0.348106,301.708136,180.152916,121.555220,NaN,...,14856.435455,8870.924737,-3408.004737,1.623843,5985.510718,10230.36,-4244.849282,0,1,0.946675
2,526,62,AGUILERA PALMA JORGE ENRIQUE,2201.22,1359.12,0.617439,42.160018,42.160018,NaN,NaN,...,2089.558765,2089.558765,-730.438765,1.537435,NaN,842.10,-842.100000,0,1,0.949273

In [31]:
lista_cods = list(set(compradores['COD COS']))
print(lista_cods)

[450, 291, 132, 409, 155, 187, 526, 432, 370, 371, 374, 345, 347, 414]

In [32]:
lista_cods = [374,
375,
345,
432,
187]

In [33]:
crear_reporte(lista_cods)

Se generó reporte de grupo: 374  -  LOPEZ JUANA GODOY DE
Se generó reporte de grupo: 375  -  DURAN MERIDA CHARLES ROBERT
Se generó reporte de grupo: 345  -  DELGADILLO FERMINA LOPEZ DE
Se generó reporte de grupo: 432  -  BALDERRAMA VEIZAGA  CHARLES
Se generó reporte de grupo: 187  -  LEON RODAS PASCUAL

In [37]:
grupo = xlsx_entregas[xlsx_entregas['cod_cos'] == cod].copy()
grupo

,inst,cod_cos,cod_ca,nom_ca,TOTAL COMPROMISO,TOTAL ENTREGAS,%ENTREGA
616,63,544,5277,HUALLPA MENDEZ ADHEMAR,443.91,196.74,44.319795
617,63,544,5334,HUALLPA AUCACHI JUSTINO,864.39,625.99,72.419857
618,63,544,5423,HUALLPA MENDEZ ROLY,215.03,NaN,NaN
619,63,544,5460,HUALLPA MENDEZ GLADYS,893.56,885.39,99.085680
620,63,544,42375,HUALLPA MENDEZ DIEGO,542.04,234.20,43.207143

In [39]:
# convertir datos del grupo a objetos
list_obj_caneros = []
for index, row in grupo.iterrows():
    canero = {
        'inst' : row['inst'],
        'cod_ca' : row['cod_ca'],
        'nom_ca' : row['nom_ca'],
        'compromiso' : row['TOTAL COMPROMISO'],
        'entrega' : row['TOTAL ENTREGAS'],
        'entrega_porcen' : row['%ENTREGA']
    }
    list_obj_caneros.append(collections.namedtuple("canero", canero.keys())(*canero.values()))
list_obj_caneros

[canero(inst=63, cod_ca=5277, nom_ca='HUALLPA MENDEZ ADHEMAR', compromiso=443.91, entrega=196.74, entrega_porcen=44.31979455294992),
 canero(inst=63, cod_ca=5334, nom_ca='HUALLPA AUCACHI JUSTINO', compromiso=864.39, entrega=625.99, entrega_porcen=72.41985677761195),
 canero(inst=63, cod_ca=5423, nom_ca='HUALLPA MENDEZ ROLY', compromiso=215.03, entrega=nan, entrega_porcen=nan),
 canero(inst=63, cod_ca=5460, nom_ca='HUALLPA MENDEZ GLADYS', compromiso=893.56, entrega=885.39, entrega_porcen=99.08567975289853),
 canero(inst=63, cod_ca=42375, nom_ca='HUALLPA MENDEZ DIEGO', compromiso=542.04, entrega=234.2, entrega_porcen=43.207143384252085)]

In [41]:
# totales de los datos del grupo
grupo_totales = {
    'compromiso' : grupo['TOTAL COMPROMISO'].sum(),
    'entregas' : grupo['TOTAL ENTREGAS'].sum(),
    'entrega_porcen' : grupo['TOTAL ENTREGAS'].sum() / grupo['TOTAL COMPROMISO'].sum() * 100
}
obj_grupo_totales = collections.namedtuple("grupo_totales", grupo_totales.keys())(*grupo_totales.values())
obj_grupo_totales

grupo_totales(compromiso=2958.93, entregas=1942.32, entrega_porcen=65.64264784905355)

In [46]:
# datos generales de avance de cosecha
avance = xlsx_avance[xlsx_avance['COD COS'] ==cod]
avance_totales = {
    'fecha_img' : fecha_img,
    'fecha_informe' : fecha_inf,
    'compromiso' : float(avance['COMPROMISO'].iloc[0]),
    'entrega' : float(avance['ENTREGAS'].iloc[0]),
    'entrega_porcen' : float(avance['%ENTREGA'].iloc[0]) * 100,
    'ha_canha' : float(avance['COSECHADO'].iloc[0] + avance['SIN COSECHAR'].iloc[0]),
    'ha_cosecha' : float(avance['COSECHADO'].iloc[0]),
    'cosecha_porcen' : float(avance['%COSECHA'].iloc[0]) * 100,
    'tch' : float(avance['TCH'].iloc[0])
}
# datos generales a objeto
obj_avance_totales = collections.namedtuple("avance_totales",avance_totales.keys())(*avance_totales.values())
obj_avance_totales

avance_totales(fecha_img=' de agosto de 2025', fecha_informe='27 de agosto de 2025', compromiso=2958.93, entrega=1942.32, entrega_porcen=65.64264784905355, ha_canha=37.17237600000001, ha_cosecha=10.711097322463035, cosecha_porcen=28.814669588145325, tch=181.33716289988487)

In [52]:
# generar reporte
doc = DocxTemplate(RUTA_COMPLETA + '/templates/tpl_rpt_avance_posble_compra.docx')
context = {
    'insp' : list_obj_caneros,
    'grupo_totales' : obj_grupo_totales,
    'avance' : obj_avance_totales
}
doc.render(context)

#REPROTE POSIBLE COMPRA DE CAÑA
doc.save(RUTA_COMPLETA + '/informes/_' + str(avance['COD CA'].iloc[0]) + '_RPCC_' + fecha_form + '_' + avance['NOMBRE CAÑERO'].iloc[0] + '.docx')
print('Se generó reporte de grupo:', cod)

Se generó reporte de grupo: 544