In [1]:
import pandas as pd

In [2]:
path_xlsx_avance = r'C:/Documents/Ingenio Azucarero Guabira S.A/UTEA - SEMANAL - AVANCE COSECHA/2024/AVANCE_SEMANAL/AVANCE DE COSECHA V1.xlsx'

In [3]:
xlsx_resumen = pd.read_excel(path_xlsx_avance, sheet_name='AVANCE_FECHAS')

In [4]:
# elimina el ultimo registro, para descartar los totales
xlsx_resumen = xlsx_resumen.drop(xlsx_resumen.index[-1])

In [5]:
xlsx_resumen

     COD_COS      FECHA       AREA     ESTIMADO  ENTREGADO
0          1 2024-05-16   4.127295   221.918352        NaN
1          1 2024-05-29        NaN          NaN    1906.18
2          1 2024-05-31  45.972261  2338.489409     970.59
3          1 2024-06-05  63.240335  2836.576690    2483.70
4          1 2024-06-10  48.153913  2486.759690    2421.99
...      ...        ...        ...          ...        ...
4262     581 2024-08-29   1.243801          NaN      72.09
4263     583 2024-08-15        NaN          NaN     156.68
4264     583 2024-08-19        NaN          NaN     326.84
4265     583 2024-08-29        NaN          NaN     439.29
4266     584 2024-08-29   4.209443          NaN        NaN

[4267 rows x 5 columns]

In [6]:
def colapsar_tabla(df_param):
    suma_acumulador = [None] * len(df_param)
    acumulador = 0
    contador = 0
    for i, r in df_param.iterrows():
        if(r['AREA'] == 0):
            acumulador += r['ENTREGADO']
            contador += 1
        else:
            acumulador += r['ENTREGADO']
            suma_acumulador[contador] = acumulador
            acumulador = 0
            contador += 1
            continue
    df_param['ENTREGAS'] = suma_acumulador
    df_param = df_param.drop(columns=['ENTREGADO'])
    df_param = df_param[df_param['AREA']!=0]
    return df_param

In [7]:
list_cod_cos = list(set(xlsx_resumen['COD_COS']))

In [8]:
list_df = []

In [9]:
for i in list_cod_cos:
    grupo = xlsx_resumen[xlsx_resumen['COD_COS']==i].fillna(0)
    result = colapsar_tabla(grupo)
    list_df.append(result)

In [10]:
df_combinado = pd.concat(list_df, ignore_index=True)

C:\Users\bismarksr\AppData\Local\Temp\ipykernel_34592\69313519.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_combinado = pd.concat(list_df, ignore_index=True)

In [11]:
df_combinado

      COD_COS      FECHA       AREA     ESTIMADO  ENTREGAS
0           1 2024-05-16   4.127295   221.918352      0.00
1           1 2024-05-31  45.972261  2338.489409   2876.77
2           1 2024-06-05  63.240335  2836.576690   2483.70
3           1 2024-06-10  48.153913  2486.759690   2421.99
4           1 2024-06-18  20.112090   815.611812   2230.23
...       ...        ...        ...          ...       ...
2873      579 2024-08-15   1.912826     0.000000     43.41
2874      581 2024-08-11   1.176980     0.000000    211.94
2875      581 2024-08-19   4.186267     0.000000     88.91
2876      581 2024-08-29   1.243801     0.000000     72.09
2877      584 2024-08-29   4.209443     0.000000      0.00

[2878 rows x 5 columns]

In [12]:
df_combinado.to_excel('C:/Documents/Ingenio Azucarero Guabira S.A/UTEA - SEMANAL - AVANCE COSECHA/2024/AVANCE_SEMANAL/_TEMP_AVANCE_FECHAS.xlsx', index=False, engine='openpyxl', sheet_name='data')