In [93]:
import pandas as pd

In [94]:
path_xlsx_avance = r'C:/Documents/Ingenio Azucarero Guabira S.A/UTEA - SEMANAL - AVANCE COSECHA/2023/ANALISIS DE CAÃ‘A EN CAMPO 2023/TEST_AVANCE DE COSECHA V5.xlsx'

In [95]:
xlsx_resumen = pd.read_excel(path_xlsx_avance, sheet_name='RESUMEN')

In [106]:
grupo = xlsx_resumen[xlsx_resumen['COD_COS']==220].fillna(0)

In [108]:
suma_acumulador = [None] * len(grupo)

In [109]:
acumulador = 0
contador = 0
for i, r in grupo.iterrows():
    if(r['AREA'] == 0):
        acumulador += r['ENTREGAS']
        contador += 1
    else:
        acumulador += r['ENTREGAS']
        suma_acumulador[contador] = acumulador
        acumulador = 0
        contador += 1
        continue

In [110]:
len(suma_acumulador)

46

In [111]:
len(grupo)

46

In [112]:
grupo['SUM_ACUM'] = suma_acumulador

In [113]:
df = grupo[grupo['AREA']!=0]

In [114]:
df

      COD_COS      FECHA   AREA  ESTIMATIVA COSECHADO  ENTREGAS  SUM_ACUM
6343      220 2023-05-22   8.91            561.876477      0.00    734.00
6344      220 2023-05-25   2.04            109.612076     68.26     68.26
6346      220 2023-06-19  13.83            748.190068    278.14    797.32
6347      220 2023-06-21   2.13            126.400913      0.00      0.00
6352      220 2023-07-11  24.72           1475.906456     25.58   1337.37
6355      220 2023-07-21  47.90           2681.106987   1128.05   2400.16
6357      220 2023-07-24   6.33            401.420237    224.24    531.50
6360      220 2023-07-31  26.87           1555.550967    320.20   1280.30
6362      220 2023-08-05   8.68            595.184724    653.54   1499.21
6363      220 2023-08-09   3.87            228.891744   1140.93   1140.93
6364      220 2023-08-15  18.67           1073.707950    853.65    853.65
6365      220 2023-08-18  11.04            480.983770    758.84    758.84
6366      220 2023-08-20   2.10            114.543994    440.31    440.31
6367      220 2023-08-23  15.35            983.725517    368.80    368.80
6370      220 2023-08-30  15.94            847.311381    343.25   1459.92
6372      220 2023-09-04  10.95            637.140689    523.73   1304.51
6377      220 2023-09-17  56.40           3110.718364    900.62   2830.06
6379      220 2023-09-24  37.46           1651.618022    293.17   2032.40
6380      220 2023-09-29  41.58           2383.109679    621.69    621.69
6382      220 2023-10-03   9.94            617.650118     48.90    613.54
6383      220 2023-10-09  26.97           1434.053595   1089.80   1089.80
6385      220 2023-10-14  25.87           1079.388878    147.82    562.09