In [15]:
import pandas as pd

In [16]:
path_xlsx_avance = r'C:/Documents/Ingenio Azucarero Guabira S.A/UTEA - SEMANAL - AVANCE COSECHA/2024/AVANCE_SEMANAL/AVANCE DE COSECHA - PRUEBA.xlsx'

In [17]:
xlsx_resumen = pd.read_excel(path_xlsx_avance, sheet_name='AVANCE_FECHAS')

In [18]:
# elimina el ultimo registro, para descartar los totales
xlsx_resumen = xlsx_resumen.drop(xlsx_resumen.index[-1])

In [19]:
xlsx_resumen

     COD_COS                FECHA       AREA     ESTIMADO  ENTREGADO
0          1  2024-05-16 00:00:00   4.127295   221.918352        NaN
1          1  2024-05-29 00:00:00        NaN          NaN    1906.18
2          1  2024-05-31 00:00:00  45.972261  2338.489409     970.59
3          1  2024-06-05 00:00:00  63.240335  2836.576690    2483.70
4          1  2024-06-10 00:00:00  48.153913  2486.759690    2421.99
...      ...                  ...        ...          ...        ...
2480     576  2024-07-17 00:00:00   7.923825   428.124620     433.41
2481     577  2024-06-28 00:00:00        NaN          NaN      89.57
2482     578  2024-06-28 00:00:00        NaN          NaN     203.34
2483     578  2024-07-17 00:00:00        NaN          NaN      81.86
2484     578              (blank)   7.535220          NaN        NaN

[2485 rows x 5 columns]

In [20]:
def colapsar_tabla(df_param):
    suma_acumulador = [None] * len(df_param)
    acumulador = 0
    contador = 0
    for i, r in df_param.iterrows():
        if(r['AREA'] == 0):
            acumulador += r['ENTREGADO']
            contador += 1
        else:
            acumulador += r['ENTREGADO']
            suma_acumulador[contador] = acumulador
            acumulador = 0
            contador += 1
            continue
    df_param['ENTREGAS'] = suma_acumulador
    df_param = df_param.drop(columns=['ENTREGADO'])
    df_param = df_param[df_param['AREA']!=0]
    return df_param

In [21]:
list_cod_cos = list(set(xlsx_resumen['COD_COS']))

In [22]:
list_df = []

In [23]:
for i in list_cod_cos:
    grupo = xlsx_resumen[xlsx_resumen['COD_COS']==i].fillna(0)
    result = colapsar_tabla(grupo)
    list_df.append(result)

In [24]:
df_combinado = pd.concat(list_df, ignore_index=True)

C:\Users\bismarksr\AppData\Local\Temp\ipykernel_27348\69313519.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_combinado = pd.concat(list_df, ignore_index=True)

In [25]:
df_combinado

      COD_COS                FECHA       AREA     ESTIMADO  ENTREGAS
0           1  2024-05-16 00:00:00   4.127295   221.918352      0.00
1           1  2024-05-31 00:00:00  45.972261  2338.489409   2876.77
2           1  2024-06-05 00:00:00  63.240335  2836.576690   2483.70
3           1  2024-06-10 00:00:00  48.153913  2486.759690   2421.99
4           1  2024-06-18 00:00:00  20.112090   815.611812   2230.23
...       ...                  ...        ...          ...       ...
1480      574  2024-06-20 00:00:00  11.478037     0.000000      0.00
1481      574  2024-07-17 00:00:00   1.419261     0.000000    455.13
1482      576  2024-06-18 00:00:00   2.330276   133.227310      0.00
1483      576  2024-07-17 00:00:00   7.923825   428.124620    463.90
1484      578              (blank)   7.535220     0.000000    285.20

[1485 rows x 5 columns]

In [26]:
df_combinado.to_excel('C:/Documents/Ingenio Azucarero Guabira S.A/UTEA - SEMANAL - AVANCE COSECHA/2024/AVANCE_SEMANAL/_TEMP_AVANCE_FECHAS.xlsx', index=False, engine='openpyxl', sheet_name='data')