In [1]:
import pandas as pd

In [2]:
path_xlsx_avance = r'G:/Ingenio Azucarero Guabira S.A/UTEA - SEMANAL - AVANCE COSECHA/2023/ANALISIS DE CAÑA EN CAMPO 2023/TEST_AVANCE DE COSECHA V5.xlsx'

In [3]:
xlsx_resumen = pd.read_excel(path_xlsx_avance, sheet_name='RESUMEN')

In [4]:
grupo = xlsx_resumen[xlsx_resumen['COD_COS']==425].fillna(0)

In [46]:
def colapsar_tabla(df_param):
    suma_acumulador = [None] * len(df_param)
    acumulador = 0
    contador = 0
    for i, r in df_param.iterrows():
        if(r['AREA'] == 0):
            acumulador += r['ENTREGAS']
            contador += 1
        else:
            acumulador += r['ENTREGAS']
            suma_acumulador[contador] = acumulador
            acumulador = 0
            contador += 1
            continue
    df_param['ENTREGADO'] = suma_acumulador
    df_param = df_param.drop(columns=['ENTREGAS'])
    df_param = df_param[grupo['AREA']!=0]
    return df_param

In [56]:
list_cod_cos = list(set(xlsx_resumen['COD_COS']))

In [57]:
list_df = []

In [58]:
for i in list_cod_cos:
    grupo = xlsx_resumen[xlsx_resumen['COD_COS']==i].fillna(0)
    result = colapsar_tabla(grupo)
    list_df.append(result)

In [64]:
df_combinado = pd.concat(list_df, ignore_index=True)

In [65]:
df_combinado

,COD_COS,FECHA,AREA,ESTIMATIVA COSECHADO,ENTREGADO
0,1,2023-05-10 00:00:00,22.78,1.437356e+03,659.05
1,1,2023-05-12 00:00:00,15.20,7.274950e+02,443.14
2,1,2023-05-15 00:00:00,15.05,1.028831e+03,1145.63
3,1,2023-05-17 00:00:00,13.93,8.066098e+02,951.55
4,1,2023-05-22 00:00:00,13.49,7.454022e+02,0.00
...,...,...,...,...,...
6038,526,2023-08-15 00:00:00,24.05,1.016686e+03,632.77
6039,527,2023-10-12 00:00:00,2.88,1.425561e+02,894.81
6040,527,2023-10-14 00:00:00,11.80,6.166638e+02,0.00
6041,527,2023-10-19 00:00:00,2.75,1.203119e+02,0.00
6042,Total general,0,45838.96,2.510449e+06,2663603.57

In [67]:
df_combinado.to_excel('data_result.xlsx', index=False, engine='openpyxl')

In [45]:
suma_acumulador = [None] * len(grupo)
acumulador = 0
contador = 0
for i, r in grupo.iterrows():
    if(r['AREA'] == 0):
        acumulador += r['ENTREGAS']
        contador += 1
    else:
        acumulador += r['ENTREGAS']
        suma_acumulador[contador] = acumulador
        acumulador = 0
        contador += 1
        continue

In [40]:
len(suma_acumulador)

42

In [41]:
len(grupo)

42

In [42]:
grupo['SUM_ACUM'] = suma_acumulador

In [43]:
df = grupo[grupo['AREA']!=0]

In [44]:
df

       COD_COS      FECHA   AREA  ESTIMATIVA COSECHADO  ENTREGAS  SUM_ACUM
12934      425 2023-05-12   4.15            202.354590      0.00      0.00
12935      425 2023-05-15   0.59             49.480958      0.00      0.00
12936      425 2023-05-25   2.11            145.434029      0.00      0.00
12937      425 2023-06-09   0.62             36.085311      0.00      0.00
12939      425 2023-06-26   1.54             89.763398    149.29    258.09
12940      425 2023-06-29  13.21            584.206218    607.31    607.31
12941      425 2023-07-01   5.85            259.778895    379.00    379.00
12942      425 2023-07-04   5.22            286.335526    122.23    122.23
12945      425 2023-07-16   7.52            694.451479    567.33   1045.31
12947      425 2023-07-21   9.30            858.829621     97.82    529.23
12949      425 2023-07-26  11.12            717.313730    270.09    311.54
12951      425 2023-07-31  14.55            724.429810    181.17    607.92
12953      425 2023-08-05   8.05            454.089807    222.03    345.58
12954      425 2023-08-09   2.79            157.380194    314.88    314.88
12955      425 2023-08-15   9.42            531.369687    421.59    421.59
12957      425 2023-08-20   2.51            184.100854    202.07    378.62
12958      425 2023-08-23   7.60            535.292363    140.79    140.79
12960      425 2023-08-28  18.67           1049.435809    166.61    444.67
12961      425 2023-08-30   1.27             89.261550     47.55     47.55
12963      425 2023-09-09   4.66            271.664615      0.00     86.72
12964      425 2023-09-12   3.73            229.161355     50.70     50.70
12966      425 2023-09-17  11.45            522.949634     46.59    134.82
12968      425 2023-09-24  17.35            846.120067    125.53    348.99
12969      425 2023-09-29  10.02            452.396459    184.12    184.12
12970      425 2023-10-02  15.79            606.802492    325.90    325.90
12971      425 2023-10-03   9.55            470.495569    137.08    137.08
12973      425 2023-10-12  23.48            840.661908     41.14    438.01
12974      425 2023-10-14  29.60           1206.312682    211.74    211.74
12975      425 2023-10-22  23.45           1324.426965      0.00      0.00