In [119]:
import pandas as pd

In [120]:
path_xlsx_avance = r'G:/Ingenio Azucarero Guabira S.A/UTEA - SEMANAL - AVANCE COSECHA/2024/AVANCE_SEMANAL/AVANCE DE COSECHA - PRUEBA.xlsx'

In [121]:
xlsx_resumen = pd.read_excel(path_xlsx_avance, sheet_name='AVANCE_FECHAS')

In [122]:
# elimina el ultimo registro, para descartar los totales
xlsx_resumen = xlsx_resumen.drop(xlsx_resumen.index[-1])

In [123]:
xlsx_resumen

     COD_COS      FECHA   AREA     ESTIMADO  ENTREGADO
0          1 2024-05-16   4.13   221.900459        NaN
1          1 2024-05-31  45.98  2338.507302    2876.77
2          1 2024-06-05  63.24  2836.576690    2483.70
3          1 2024-06-10  48.15  2486.759690    2421.99
4          1 2024-06-18    NaN          NaN    2230.23
...      ...        ...    ...          ...        ...
1595     573 2024-05-31    NaN          NaN     493.78
1596     573 2024-06-10   7.21          NaN     296.21
1597     573 2024-06-18  18.03          NaN     163.12
1598     573 2024-06-20    NaN          NaN     101.24
1599     574 2024-06-20  11.48          NaN        NaN

[1600 rows x 5 columns]

In [124]:
def colapsar_tabla(df_param):
    suma_acumulador = [None] * len(df_param)
    acumulador = 0
    contador = 0
    for i, r in df_param.iterrows():
        if(r['AREA'] == 0):
            acumulador += r['ENTREGADO']
            contador += 1
        else:
            acumulador += r['ENTREGADO']
            suma_acumulador[contador] = acumulador
            acumulador = 0
            contador += 1
            continue
    df_param['ENTREGAS'] = suma_acumulador
    df_param = df_param.drop(columns=['ENTREGADO'])
    df_param = df_param[df_param['AREA']!=0]
    return df_param

In [125]:
list_cod_cos = list(set(xlsx_resumen['COD_COS']))

In [126]:
list_df = []

In [127]:
for i in list_cod_cos:
    grupo = xlsx_resumen[xlsx_resumen['COD_COS']==i].fillna(0)
    result = colapsar_tabla(grupo)
    list_df.append(result)

In [128]:
df_combinado = pd.concat(list_df, ignore_index=True)

In [129]:
df_combinado

      COD_COS      FECHA   AREA     ESTIMADO  ENTREGAS
0           1 2024-05-16   4.13   221.900459      0.00
1           1 2024-05-31  45.98  2338.507302   2876.77
2           1 2024-06-05  63.24  2836.576690   2483.70
3           1 2024-06-10  48.15  2486.759690   2421.99
4           1 2024-06-20  49.58  2837.458685   2230.23
...       ...        ...    ...          ...       ...
1069      569 2024-06-10   3.58   168.954428    295.80
1070      569 2024-06-18   7.02    69.686109    168.93
1071      573 2024-06-10   7.21     0.000000    789.99
1072      573 2024-06-18  18.03     0.000000    163.12
1073      574 2024-06-20  11.48     0.000000      0.00

[1074 rows x 5 columns]

In [130]:
df_combinado.to_excel('G:/Ingenio Azucarero Guabira S.A/UTEA - SEMANAL - AVANCE COSECHA/2024/AVANCE_SEMANAL/_TEMP_AVANCE_FECHAS.xlsx', index=False, engine='openpyxl', sheet_name='data')