In [3]:
import pandas as pd

In [11]:
path_xlsx_avance = r'C:/Documents/Ingenio Azucarero Guabira S.A/UTEA - SEMANAL - AVANCE COSECHA/2024/AVANCE_SEMANAL/COMPARAIVA_AVANCE DE COSECHA_20-06-2024.xlsx'

In [12]:
xlsx_resumen = pd.read_excel(path_xlsx_avance, sheet_name='RESUMEN')

In [13]:
grupo = xlsx_resumen[xlsx_resumen['COD_COS']==425].fillna(0)

In [14]:
def colapsar_tabla(df_param):
    suma_acumulador = [None] * len(df_param)
    acumulador = 0
    contador = 0
    for i, r in df_param.iterrows():
        if(r['AREA'] == 0):
            acumulador += r['ENTREGAS']
            contador += 1
        else:
            acumulador += r['ENTREGAS']
            suma_acumulador[contador] = acumulador
            acumulador = 0
            contador += 1
            continue
    df_param['ENTREGADO'] = suma_acumulador
    df_param = df_param.drop(columns=['ENTREGAS'])
    df_param = df_param[grupo['AREA']!=0]
    return df_param

In [15]:
list_cod_cos = list(set(xlsx_resumen['COD_COS']))

In [16]:
list_df = []

In [17]:
for i in list_cod_cos:
    grupo = xlsx_resumen[xlsx_resumen['COD_COS']==i].fillna(0)
    result = colapsar_tabla(grupo)
    list_df.append(result)

In [18]:
df_combinado = pd.concat(list_df, ignore_index=True)

C:\Users\bismarksr\AppData\Local\Temp\ipykernel_9004\69313519.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_combinado = pd.concat(list_df, ignore_index=True)

In [19]:
df_combinado

          COD_COS                FECHA          AREA     ESTIMATIVA  ENTREGADO
0               1  2024-05-16 00:00:00      4.127295     221.918352       0.00
1               1  2024-05-29 00:00:00     28.557391    1599.784951    1906.18
2               1  2024-05-31 00:00:00     17.414870     738.704458     970.59
3               1  2024-06-05 00:00:00     63.240335    2836.576690    2483.70
4               1  2024-06-08 00:00:00     26.220354    1527.501554    1674.82
...           ...                  ...           ...            ...        ...
1100          569  2024-06-18 00:00:00      7.020859      69.808432     168.93
1101          573  2024-06-10 00:00:00      7.213297       0.000000     789.99
1102          573  2024-06-18 00:00:00     18.023652       0.000000     163.12
1103          574  2024-06-20 00:00:00     11.478037       0.000000       0.00
1104  Grand Total                    0  11977.809730  696329.543056  708105.39

[1105 rows x 5 columns]

In [20]:
df_combinado.to_excel('data_result.xlsx', index=False, engine='openpyxl')

In [28]:
suma_acumulador = [None] * len(grupo)
acumulador = 0
contador = 0
for i, r in grupo.iterrows():
    if(r['AREA'] == 0):
        acumulador += r['ENTREGAS']
        contador += 1
    else:
        acumulador += r['ENTREGAS']
        suma_acumulador[contador] = acumulador
        acumulador = 0
        contador += 1
        continue

In [29]:
len(suma_acumulador)

1

In [30]:
len(grupo)

1

In [31]:
grupo['SUM_ACUM'] = suma_acumulador

In [32]:
df = grupo[grupo['AREA']!=0]

In [33]:
df

     COD_COS      FECHA  AREA  ESTIMATIVA  ENTREGAS  ENTREGADO  SUM_ACUM
114      502 2024-05-16   1.7   65.377995     92.62      92.62     92.62