In [2]:
import pandas as pd
#pd.set_option('future.no_silent_downcasting', True)

In [3]:
#path_xlsx_avance = r'G:/Ingenio Azucarero Guabira S.A/UTEA - SEMANAL - AVANCE COSECHA/2024/AVANCE_SEMANAL/AVANCE DE COSECHA V1.xlsx'
path_xlsx_avance = r'c:\Documents\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AVANCE COSECHA\2025\AVANCE SEMANAL\AVANCE DE COSECHA V1.xlsx'

In [4]:
xlsx_resumen = pd.read_excel(path_xlsx_avance, sheet_name='AVANCE_FECHAS')

In [5]:
# elimina el ultimo registro, para descartar los totales
xlsx_resumen = xlsx_resumen.drop(xlsx_resumen.index[-1])

In [6]:
xlsx_resumen

    COD_COS      FECHA       AREA    ESTIMADO  ENTREGADO
0         1 2025-06-05  12.279029  883.389444     815.18
1         1 2025-06-10        NaN         NaN    1958.91
2         1 2025-06-13        NaN         NaN     774.88
3         2 2025-06-10        NaN         NaN     460.89
4         2 2025-06-13        NaN         NaN     824.62
..      ...        ...        ...         ...        ...
779     622 2025-06-13        NaN         NaN      43.29
780     623 2025-06-10        NaN         NaN     248.31
781     623 2025-06-13        NaN         NaN     118.33
782     625 2025-06-10        NaN         NaN      49.04
783     625 2025-06-13        NaN         NaN     156.96

[784 rows x 5 columns]

In [7]:
def colapsar_tabla(df_param):
    suma_acumulador = [None] * len(df_param)
    acumulador = 0
    contador = 0
    for i, r in df_param.iterrows():
        if(r['AREA'] == 0):
            acumulador += r['ENTREGADO']
            contador += 1
        else:
            acumulador += r['ENTREGADO']
            suma_acumulador[contador] = acumulador
            acumulador = 0
            contador += 1
            continue
    if suma_acumulador[-1] == None:
        suma_acumulador[-1] = acumulador

    df_param['ENTREGAS'] = suma_acumulador
    
    df_param = df_param.dropna(subset=['ENTREGAS'])
    df_param = df_param.drop(columns=['ENTREGADO'])
    #df_param = df_param[df_param['AREA']!=0]
    return df_param

In [8]:
list_cod_cos = list(set(xlsx_resumen['COD_COS']))

In [9]:
list_df = []

In [10]:
for i in list_cod_cos:
    grupo = xlsx_resumen[xlsx_resumen['COD_COS']==i].fillna(0)
    result = colapsar_tabla(grupo)
    list_df.append(result)

In [11]:
df_combinado = pd.concat(list_df, ignore_index=True)

In [12]:
df_combinado

     COD_COS      FECHA       AREA    ESTIMADO  ENTREGAS
0          1 2025-06-05  12.279029  883.389444    815.18
1          1 2025-06-13   0.000000    0.000000   2733.79
2          2 2025-06-13   0.000000    0.000000   1285.51
3          3 2025-05-26   1.065976   65.266769     67.71
4          3 2025-06-10   0.939271   57.508971    171.45
..       ...        ...        ...         ...       ...
473      500 2025-06-13   0.000000    0.000000   4748.54
474      502 2025-06-13   0.000000    0.000000    222.64
475      505 2025-06-13   0.000000    0.000000    105.51
476      508 2025-06-13   0.000000    0.000000     27.29
477      509 2025-06-13   0.000000    0.000000    563.72

[478 rows x 5 columns]

In [13]:
df_combinado.to_excel(r'C:\Documents\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AVANCE COSECHA\2025\AVANCE SEMANAL\_TEMP_AVANCE_FECHAS.xlsx', index=False, engine='openpyxl', sheet_name='data')
#df_combinado.to_excel('G:/Ingenio Azucarero Guabira S.A/UTEA - SEMANAL - AVANCE COSECHA/2024/AVANCE_SEMANAL/_TEMP_AVANCE_FECHAS.xlsx', index=False, engine='openpyxl', sheet_name='data')