In [8]:
import os
import pandas as pd

In [44]:
CARPETA_ENTRADA = r"G:\OneDrive - Ingenio Azucarero Guabira S.A\UTEA_2025\TRABAJOS\2025-08-22_KM RECORRIDOS DE CAMIONES\2024"
CARPETA_SALIDA = r"G:\OneDrive - Ingenio Azucarero Guabira S.A\UTEA_2025\TRABAJOS\2025-08-22_KM RECORRIDOS DE CAMIONES\2024\datos.xlsx"

In [45]:
elementos = os.listdir(CARPETA_ENTRADA)
elementos

['milStatistics(20250822)-08.xls',
 'milStatistics(20250822)-09.xls',
 'milStatistics(20250822)-10.xls',
 'milStatistics(20250822)-11.xls',
 'milStatistics(20250822)-12.xls']

In [46]:
for e in elementos:
    ruta_excel = os.path.join(CARPETA_ENTRADA, e)
    hojas = pd.ExcelFile(ruta_excel, engine='xlrd').sheet_names
    for hoja in hojas:
        hoja = pd.read_excel(ruta_excel, sheet_name=hoja, engine='xlrd')
        data = pd.concat([data, hoja], ignore_index=True)

In [47]:
data

      id          macid       dates  mil  speeding  remain
0      1  antonio nuevo  2024-08-01    0         0       0
1      2  antonio nuevo  2024-08-02    0         0       0
2      3  antonio nuevo  2024-08-03    0         0       0
3      4  antonio nuevo  2024-08-04    0         0       0
4      5  antonio nuevo  2024-08-05    0         0       0
...   ..            ...         ...  ...       ...     ...
2681  28       ZNA RICH  2024-12-28    0         0       0
2682  29       ZNA RICH  2024-12-29    0         0       0
2683  30       ZNA RICH  2024-12-30    0         0       0
2684  31       ZNA RICH  2024-12-31    0         0       0
2685  31          total         NaN    0         0       0

[2686 rows x 6 columns]

In [48]:
data['dates'] = pd.to_datetime(data['dates'], errors='coerce')

In [49]:
data.to_excel(CARPETA_SALIDA, index=False)

In [39]:
ruta_excel = os.path.join(CARPETA_ENTRADA, 'milStatistics(20250822)-08.xls')
ruta_excel

'G:\\OneDrive - Ingenio Azucarero Guabira S.A\\UTEA_2025\\TRABAJOS\\2025-08-22_KM RECORRIDOS DE CAMIONES\\2024\\milStatistics(20250822)-08.xls'

In [40]:
hojas = pd.ExcelFile(ruta_excel, engine='xlrd').sheet_names
hojas

['antonio nuevo',
 'Camioneta Ford F150',
 'Camioneta Great Wall Blanca',
 'Camioneta Triton Tecnico',
 'kia',
 'Marianito Nissan',
 'RAM',
 'Triton numero 40 Cord Maq',
 'Volkswagen  num 25',
 'Volqueta amarilla',
 'Volvo azul #21',
 'Volvo Coty numero20',
 'Volvo pitanga #22',
 'Volvo Power  num 48',
 'Volvo Rojo  num 47',
 'Volvo semental #23',
 'ZNA RICH']

In [41]:
hoja = pd.read_excel(ruta_excel, sheet_name='antonio nuevo', engine='xlrd')

In [42]:
data = hoja.copy()

In [43]:
data = data.iloc[0:0]

In [18]:
data

Empty DataFrame
Columns: [id, macid, dates, mil, speeding, remain]
Index: []