In [1]:
import pandas as pd
import requests

In [102]:
url = "http://10.1.0.103:9080/Utea/ReportePlaya"
params = {
    "pStrFecIni": "2023-05-06",
    "pStrFecFin": "2023-05-08",
}

response = requests.get(url, params=params)

if response.status_code == 200:
    data = response.json()
    print("Datos recibidos con Ã©xito:")
else:
    print(f"Error al obtener datos: {response.status_code}")

Error al obtener datos: 500

In [103]:
tbl = pd.DataFrame(data)

In [99]:
#tbl['netWeight'].sum()/1000

#05 704
#06 2899.9
#07 2446.1

In [104]:
tbl.shape

(167, 18)

In [67]:
tbl

,nCorZafra,nPlaya,dateDocum,horaDocum,dateCupo,inst,grupo,canero,nomcane,turnoCupo,tipoCana,tipoCosecha,tipoAmarre,cantPqt,codTara,nomfltro,propiedad,status
0,174,0000000163,2023-05-08,0001-01-01T00:13:44,2023-05-07,69,5,388,AGROPECUARIA MARIANA S.R.L.,04,Fresca,Picada,Sin Amarre,3,000431,ROJAS JUAN MANUEL,19,SL
1,175,0000000164,2023-05-08,0001-01-01T00:30:35,2023-05-07,131,1,15068,CRUZ VARGAS NAIRA INES,04,Fresca,Picada,Sin Amarre,3,003674,CRUZ LUCIO,417,SL
2,176,0000000165,2023-05-08,0001-01-01T00:54:53,2023-05-07,50,13,2899,EGUEZ EL HAGE JOSE EDUARDO,04,Fresca,Picada,Sin Amarre,3,005849,EGUEZ JOSE EDUARDO,300,SL
3,177,0000000166,2023-05-08,0001-01-01T00:59:18,2023-05-07,50,1,794,AGUILERA WENDE MARIANO,04,Fresca,Picada,Sin Amarre,3,000061,AGUILERA MARIANO,256,SL
4,178,0000000167,2023-05-08,0001-01-01T01:01:15,2023-05-07,50,2,14558,AGUILERA MARIA ALEJANDRA VACA DIEZ DE,04,Fresca,Picada,Sin Amarre,3,004248,AGUILERA JOSE LUIS,13,SL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,277,0000000257,2023-05-08,0001-01-01T23:31:46,2023-05-08,69,5,388,AGROPECUARIA MARIANA S.R.L.,03,Fresca,Picada,Sin Amarre,3,000580,ROJAS CARLOS,19,SL
97,278,0000000258,2023-05-08,0001-01-01T23:53:28,2023-05-08,50,1,794,AGUILERA WENDE MARIANO,03,Fresca,Picada,Sin Amarre,3,001689,TARRADELLES DIETER,256,SL
98,279,0000000259,2023-05-08,0001-01-01T23:58:48,2023-05-08,69,5,388,AGROPECUARIA MARIANA S.R.L.,03,Fresca,Picada,Sin Amarre,3,000430,ROJAS JUAN MANUEL,19,SL
99,241,0000000226,2023-05-08,0001-01-01T18:20:30,2023-05-08,50,34,13132,ZUMARAN MENACHO JORGE,03,Quemada,Entera,Cables,1,003784,JORGE ZUMARAN,1719,AN
100,242,0000000226,2023-05-08,0001-01-01T18:20:30,2023-05-08,50,34,13132,ZUMARAN MENACHO JORGE,03,Quemada,Entera,Cables,1,003785,JORGE ZUMARAN,1719,AN