In [1]:
# TOMA UN EXCEL CON LOS DATOS DE INTERSECCION DE ESTIMATIVAS GENERALES Y LAS EXPORTA COMO IMAGENES POR PROPIEDAD

In [21]:
import pandas as pd

import tkinter as tk
from tkinter import filedialog as fd
import dataframe_image as dfi

In [22]:
# open file dialog
root = tk.Tk()
root.attributes('-topmost', True)
root.iconify()
file_name = fd.askopenfilename(parent=root, filetypes=[(".xlsx", ".xlsx")])
root.destroy()

In [116]:
file_name = 'G:\BISMARK\_TEMP\data_tch.xlsx'

In [117]:
data = pd.read_excel(file_name)

In [118]:
data.head(3)

   cod_prop nom_prop  tch  categoria       area  produccion
0         1   SONIMA    0          1   3.732356    0.000000
1         1   SONIMA   20          2   9.361265  187.225300
2         1   SONIMA   30          3  15.908241  477.247237

In [119]:
data.head(3)

   cod_prop nom_prop  tch  categoria       area  produccion
0         1   SONIMA    0          1   3.732356    0.000000
1         1   SONIMA   20          2   9.361265  187.225300
2         1   SONIMA   30          3  15.908241  477.247237

In [120]:
lista_cod_props = data['cod_prop']
lista_cod_props = list(set(list(lista_cod_props)))
print(lista_cod_props)

[1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 36, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 53, 54, 55, 57, 61, 62, 63, 66, 67, 68, 71, 72, 74, 76, 78, 79, 80, 83, 84, 85, 89, 92, 93, 94, 96, 98, 100, 103, 104, 105, 106, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 122, 123, 125, 126, 127, 128, 129, 132, 133, 135, 136, 137, 139, 140, 141, 142, 145, 146, 147, 149, 150, 155, 156, 159, 161, 162, 164, 168, 171, 172, 173, 174, 176, 178, 179, 182, 183, 185, 186, 187, 188, 189, 195, 197, 198, 201, 205, 206, 209, 211, 212, 213, 216, 217, 218, 219, 220, 221, 222, 225, 226, 227, 228, 229, 230, 231, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 244, 246, 247, 249, 250, 251, 253, 256, 257, 258, 259, 260, 261, 263, 264, 265, 267, 268, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 313, 318, 320, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 341, 342, 343, 344, 345, 348, 349, 350, 355, 357, 358, 359, 360, 361, 365, 367, 368, 369, 370, 371, 374, 375, 376, 377, 378, 384, 386, 389, 391, 392, 395, 396, 398, 399, 400, 404, 405, 406, 407, 408, 411, 414, 415, 416, 417, 418, 419, 423, 424, 426, 429, 433, 434, 435, 437, 439, 440, 441, 442, 444, 445, 447, 450, 454, 458, 459, 466, 468, 469, 471, 472, 473, 476, 478, 483, 484, 485, 486, 487, 488, 489, 490, 491, 493, 494, 495, 496, 499, 500, 501, 502, 503, 504, 505, 507, 509, 510, 511, 512, 513, 514, 515, 516, 517, 519, 520, 521, 522, 523, 524, 525, 526, 527, 529, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 544, 545, 546, 547, 550, 551, 552, 554, 555, 556, 558, 559, 560, 565, 566, 568, 570, 571, 572, 573, 574, 575, 576, 578, 579, 580, 582, 583, 585, 586, 588, 589, 590, 591, 592, 593, 594, 596, 597, 598, 601, 602, 603, 604, 605, 606, 608, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 627, 628, 629, 630, 631, 632, 633, 634, 636, 637, 638, 639, 640, 641, 642, 643, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 681, 682, 683, 685, 687, 690, 691, 693, 694, 695, 696, 697, 699, 700, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 732, 733, 734, 737, 739, 741, 742, 744, 745, 746, 747, 749, 750, 751, 752, 753, 755, 756, 757, 758, 759, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 787, 788, 789, 790, 791, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 823, 824, 825, 827, 828, 829, 830, 831, 832, 833, 834, 835, 838, 839, 840, 841, 842, 843, 844, 845, 846, 848, 849, 851, 852, 853, 854, 855, 856, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 877, 878, 879, 880, 881, 882, 883, 886, 887, 888, 889, 890, 891, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 912, 913, 914, 915, 916, 918, 919, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 932, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 947, 949, 950, 951, 952, 953, 954, 956, 957, 958, 961, 962, 963, 964, 966, 968, 969, 970, 971, 972, 973, 974, 975, 976, 978, 979, 980, 981, 982, 984, 986, 988, 989, 990, 991, 992, 993, 994, 995, 996, 999, 1000, 1001, 1002, 1005, 1006, 1009, 1011, 1013, 1014, 1015, 1018, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1028, 1033, 1035, 1036, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1047, 1049, 1050, 1051, 1052, 1053, 1054, 1057, 1064, 1065, 1066, 1067, 1069, 1070, 1072, 1073, 1074, 1075, 1076, 1077, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1099, 1100, 1102, 1104, 1106, 1107, 1108, 1109, 1111, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1128, 1131, 1132, 1136, 1137, 1139, 1140, 1141, 1142, 1144, 1145, 1146, 1147, 1148, 1149, 1151, 1152, 1153, 1154, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1165, 1166, 1168, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1189, 1190, 1193, 1195, 1197, 1198, 1199, 1200, 1201, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1219, 1220, 1221, 1222, 1225, 1227, 1228, 1229, 1231, 1232, 1233, 1234, 1235, 1237, 1238, 1240, 1242, 1243, 1244, 1247, 1248, 1249, 1250, 1251, 1252, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1262, 1263, 1264, 1266, 1267, 1268, 1269, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1289, 1290, 1291, 1292, 1294, 1295, 1297, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1311, 1313, 1314, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1330, 1331, 1333, 1335, 1336, 1337, 1338, 1339, 1342, 1343, 1344, 1345, 1346, 1347, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1362, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1379, 1380, 1381, 1382, 1384, 1385, 1386, 1388, 1389, 1392, 1393, 1394, 1395, 1397, 1399, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1409, 1410, 1411, 1412, 1413, 1414, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1428, 1431, 1432, 1433, 1434, 1436, 1440, 1441, 1442, 1443, 1445, 1446, 1447, 1450, 1451, 1452, 1453, 1454, 1456, 1457, 1458, 1460, 1461, 1464, 1465, 1466, 1467, 1469, 1470, 1472, 1473, 1474, 1475, 1476, 1478, 1479, 1480, 1481, 1482, 1484, 1488, 1489, 1491, 1494, 1495, 1497, 1498, 1500, 1502, 1503, 1505, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1516, 1518, 1520, 1522, 1523, 1524, 1525, 1526, 1528, 1531, 1535, 1536, 1538, 1539, 1540, 1541, 1542, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1553, 1554, 1556, 1557, 1558, 1559, 1561, 1562, 1563, 1564, 1566, 1567, 1568, 1569, 1570, 1572, 1573, 1574, 1577, 1578, 1579, 1580, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1591, 1592, 1593, 1594, 1596, 1597, 1598, 1600, 1601, 1602, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1627, 1628, 1629, 1630, 1631, 1633, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1658, 1659, 1661, 1662, 1663, 1665, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1693, 1694, 1695, 1696, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1714, 1716, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1726, 1730, 1731, 1732, 1733, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1744, 1745, 1746, 1748, 1750, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1780, 1781, 1782, 1783, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1805, 1806, 1807, 1808, 1811, 1812, 1815, 1816, 1817, 1818, 1819, 1820, 1823, 1824, 1826, 1828, 1829, 1830, 1831, 1832, 1833, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1940, 1941, 1944, 1946, 1947, 1948, 1949, 1950, 1951, 1953, 1955, 1957, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099]

In [121]:
len(lista_cod_props)

1606

In [122]:
data.columns

Index(['cod_prop', 'nom_prop', 'tch', 'categoria', 'area', 'produccion'], dtype='object')

In [123]:
categoria = ['Nulo','Muy Bajo','Bajo Medio','Bajo','Medio','Medio Alto','Alto','Muy Alto']
colores = ['','','','','','','','']

def styling_specific_cell(x,row_idx,col_idx):
    color = ['background-color: #ff2200;',
             'background-color: #ff6f00;',
             'background-color: #ffa600;',
             'background-color: #ffe500;',
             'background-color: #d6e600;',
             'background-color: #8bb500;',
             'background-color: #498a00;',
             'background-color: #006100;']
    df_styler = pd.DataFrame('', index=x.index, columns=x.columns)
    df_styler.iloc[row_idx, col_idx] =  color
    return df_styler

def set_blod_categori(x,row_idx,col_idx):
    color = ['font-weight:bold;',
             'font-weight:bold;',
             'font-weight:bold;',
             'font-weight:bold;',
             'font-weight:bold;',
             'font-weight:bold;',
             'font-weight:bold;',
             'font-weight:bold;',
             'font-weight:bold;']
    df_styler = pd.DataFrame('', index=x.index, columns=x.columns)
    df_styler.iloc[row_idx, col_idx] =  color
    return df_styler

def set_blod_row(x,row_idx,col_idx):
    color = 'font-weight:bold; background-color: #9BC2E6; color: black;'
    df_styler = pd.DataFrame('', index=x.index, columns=x.columns)
    df_styler.iloc[row_idx, col_idx] =  color
    return df_styler

headers = {
    'selector': 'tr:hover',
    'props': [('background-color', '#9BC2E6'), ('color','black'), ('border','solid 1px')]
}

In [124]:
def complete_index(df):
    index_missing = set(range(1, 9)) - set(df.index)
    print(index_missing)
    for i in index_missing:
        df.loc[i] = [0]
    df = df.sort_index()
    return df

In [125]:
data.columns

Index(['cod_prop', 'nom_prop', 'tch', 'categoria', 'area', 'produccion'], dtype='object')

In [126]:
data

,cod_prop,nom_prop,tch,categoria,area,produccion
0,1,SONIMA,0,1,3.732356,0.000000
1,1,SONIMA,20,2,9.361265,187.225300
2,1,SONIMA,30,3,15.908241,477.247237
3,1,SONIMA,40,4,21.641168,865.646728
4,1,SONIMA,55,5,25.187646,1385.320531
...,...,...,...,...,...,...
13316,2099,LA VICTORIA--TORRICO ERWIN,40,4,0.489636,19.585449
13317,2099,LA VICTORIA--TORRICO ERWIN,50,5,0.992389,49.619468
13318,2099,LA VICTORIA--TORRICO ERWIN,60,6,1.443753,86.625153
13319,2099,LA VICTORIA--TORRICO ERWIN,70,7,1.125277,78.769420
13320,2099,LA VICTORIA--TORRICO ERWIN,80,8,0.859731,68.778474

In [127]:
## ITERADOR QUE REALIZAR TODA LA GENERACIOND DE LAS IMAGENES
## EXPORTA TODO EN UNA CARPETA imgs/
for i in lista_cod_props:
    print('INICIO: ' + str(i))
    cod = i
    df = data[data['cod_prop'] == cod]
    df_aux = df[['categoria', 'area']]
    
    df_aux = df_aux.groupby(['categoria']).sum('area')
    df_aux = df_aux.rename(columns={'area':'AREA'})
    df_aux = complete_index(df_aux)
    #print(df_aux)
    df_aux.insert(loc=0, column='CATEGORIA', value=categoria)
    
    df_aux.insert(loc=1, column='COLOR', value=colores)
    tchs = list(df['tch'])
    df_aux.insert(loc=2, column='TCH', value=tchs)
    df_aux['%']=(df_aux['AREA']/df_aux['AREA'].sum())*100
    df_aux['PRODUCCION'] = df_aux['AREA'] * df_aux['TCH']
    df_aux.loc['Total'] = df_aux.sum(axis=0)
    df_aux.at['Total','CATEGORIA'] = 'TOTAL'
    df_aux.at['Total','COLOR'] = ''
    df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']
    
    formato = {'AREA':'{:.2f}', '%':'{:.2f} %', 'TCH':'{:.2f}', 'PRODUCCION':'{:.2f}'}
    i = pd.IndexSlice[df_aux.loc[(df_aux['%']<99.999999)].index, '%']
    s = df_aux.style.format(formato)\
        .bar(subset=i, color='#10CB23')\
        .hide()\
        .apply(styling_specific_cell, row_idx = [0,1,2,3,4,5,6,7], col_idx = 1, axis = None)\
        .apply(set_blod_categori, row_idx = [0,1,2,3,4,5,6,7,8], col_idx = 0, axis = None)\
        .apply(set_blod_row, row_idx = 8, col_idx = [0,1,2,3,4,5], axis = None)\
        .set_table_styles([headers])\
        .set_table_styles([{'selector': 'th',
                           'props': [('background-color', '#f8f8f8'),
                                     ('color', '#333'),
                                     ('border', '1px solid #333')]}])
    s = s.set_properties(border="1px solid black")
    tabla = s
    dfi.export(tabla, 'imgs/' + str(cod) + '.png')
    print('FIN: ' + str(cod))

INICIO: 1
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '57.592608757109446' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 1
INICIO: 2
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '47.40110821384701' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 2
INICIO: 3
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '66.14187349855784' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 3
INICIO: 4
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '53.42535258449719' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 4
INICIO: 5
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '50.83979280113864' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 5
INICIO: 6
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '48.9180587876104' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 6
INICIO: 8
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '44.32399031759826' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 8
INICIO: 9
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '62.157774461557096' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 9
INICIO: 10
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '55.45201047901952' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 10
INICIO: 11
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '53.79767106760915' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 11
INICIO: 12
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '46.02231529671949' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 12
INICIO: 13
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '43.66356797415925' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 13
INICIO: 14
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '57.68823438258952' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 14
INICIO: 15
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '49.059968396791994' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 15
INICIO: 16
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '55.14248602497093' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 16
INICIO: 17
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '49.39699949106403' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 17
INICIO: 18
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '53.61004547961362' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 18
INICIO: 19
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '58.12298276842502' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 19
INICIO: 20
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '44.25444863823616' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 20
INICIO: 21
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '66.64620389440184' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 21
INICIO: 22
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '50.39457274271444' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 22
INICIO: 23
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '45.79095364071378' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 23
INICIO: 25
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '51.447264590225394' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 25
INICIO: 26
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '49.893929371498714' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 26
INICIO: 27
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '47.35161645300511' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 27
INICIO: 28
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '54.2339588050997' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 28
INICIO: 29
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '69.12062431473804' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 29
INICIO: 30
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '62.05896179803993' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 30
INICIO: 31
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '57.08387154776822' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 31
INICIO: 32
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '69.28710976160558' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 32
INICIO: 33
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '56.96068895666376' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 33
INICIO: 36
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '56.26515453583647' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 36
INICIO: 38
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '57.22184512198844' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 38
INICIO: 39
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '51.36742661647709' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 39
INICIO: 40
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '48.82743309230473' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 40
INICIO: 42
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '69.40741828171937' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 42
INICIO: 43
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '44.82292244833667' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 43
INICIO: 44
set()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_29492\4044561297.py:23: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '49.97776468250246' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_aux.at['Total','TCH'] = df_aux.at['Total','PRODUCCION'] / df_aux.at['Total','AREA']

FIN: 44
INICIO: 45
{1}

ValueError: Length of values (7) does not match length of index (8)

In [146]:
d = complete_index(aux)
d

set()

          AREA (ha)
gridcode
1          1.643796
2          0.901373
3          4.864175
4         16.771687
5         37.542967
6         33.898003
7         17.471084
8          9.652222

In [127]:
aux.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8], dtype='int64', name='gridcode')

In [128]:
cod = lista_cod_props[1]
cod

13

In [129]:
# selecciona una propiedad por el codigo
df = data[data['unidad_01'] == 13]
df

,OBJECTID,FID_Raster,Id,gridcode,FID_LOTES_,id_1,unidad_01,unidad_02,unidad_03,unidad_04,...,fs,textura,financia,soca,cultivo,zona,area,Shape_Leng,Shape_Area,cod_prop
105753,105754,100014,100014,6,736,0000130000L17.2,13,GUAYABOCHI--AGUILERA,86,AGUILERA_TARADELLES_JOSE_LUIS,...,2019-05-28,F,IAG,3,canha,50,0.008729,0.000413,7.424122e-09,13
105789,105790,100049,100049,4,736,0000130000L17.2,13,GUAYABOCHI--AGUILERA,86,AGUILERA_TARADELLES_JOSE_LUIS,...,2019-05-28,F,IAG,3,canha,50,0.009488,0.000359,8.069703e-09,13
105790,105791,100050,100050,5,736,0000130000L17.2,13,GUAYABOCHI--AGUILERA,86,AGUILERA_TARADELLES_JOSE_LUIS,...,2019-05-28,F,IAG,3,canha,50,0.009488,0.000359,8.069703e-09,13
105829,105830,100087,100087,5,736,0000130000L17.2,13,GUAYABOCHI--AGUILERA,86,AGUILERA_TARADELLES_JOSE_LUIS,...,2019-05-28,F,IAG,3,canha,50,0.014763,0.000498,1.255657e-08,13
105874,105875,100127,100127,4,736,0000130000L17.2,13,GUAYABOCHI--AGUILERA,86,AGUILERA_TARADELLES_JOSE_LUIS,...,2019-05-28,F,IAG,3,canha,50,0.013235,0.000488,1.125739e-08,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149958,149959,101419,101419,7,1938,0000130000L17.1,13,GUAYABOCHI--AGUILERA,86,AGUILERA_TARADELLES_JOSE_LUIS,...,2022-04-18,F,IAG,0,canha,50,0.004532,0.001672,3.854332e-09,13
149959,149960,103034,103034,4,129,0000130000L12.2,13,GUAYABOCHI--AGUILERA,14558,VACA_DIEZ_ATALA_MARIA_ALEJANDRA,...,2020-05-10,FA,IAG,2,canha,50,0.000005,0.000684,3.943020e-12,13
149960,149961,103034,103034,4,1444,0000130000L13,13,GUAYABOCHI--AGUILERA,86,AGUILERA_TARADELLES_JOSE_LUIS,...,2021-05-01,FA,IAG,1,canha,50,0.000005,0.000684,3.943020e-12,13
149961,149962,104957,104957,5,129,0000130000L12.2,13,GUAYABOCHI--AGUILERA,14558,VACA_DIEZ_ATALA_MARIA_ALEJANDRA,...,2020-05-10,FA,IAG,2,canha,50,0.000002,0.000288,2.024552e-12,13
149962,149963,104957,104957,5,1444,0000130000L13,13,GUAYABOCHI--AGUILERA,86,AGUILERA_TARADELLES_JOSE_LUIS,...,2021-05-01,FA,IAG,1,canha,50,0.000002,0.000288,2.024552e-12,13

In [130]:
aux = df[['gridcode', 'area']]
aux

        gridcode      area
105753         6  0.008729
105789         4  0.009488
105790         5  0.009488
105829         5  0.014763
105874         4  0.013235
...          ...       ...
149958         7  0.004532
149959         4  0.000005
149960         4  0.000005
149961         5  0.000002
149962         5  0.000002

[1105 rows x 2 columns]

In [131]:
aux = aux.groupby(['gridcode']).sum('area')
aux = aux.rename(columns={'area':'AREA (ha)'})
aux

          AREA (ha)
gridcode
1          1.643796
2          0.901373
3          4.864175
4         16.771687
5         37.542967
6         33.898003
7         17.471084
8          9.652222

In [86]:
categoria = ['Nulo','Muy Bajo','Bajo Medio','Bajo','Medio','Medio Alto','Alto','Muy Alto']
colores = ['','','','','','','','']

In [87]:
aux.insert(loc=0, column='CATEGORIA', value=categoria)
aux.insert(loc=1, column='COLOR', value=colores)
aux['%']=(aux['AREA (ha)']/aux['AREA (ha)'].sum())*100
aux.loc['Total'] = aux.sum(axis=0)
aux.at['Total','CATEGORIA'] = 'TOTAL'
aux['TCH (tn/ha)'] = ' '

In [88]:
aux

           CATEGORIA COLOR   AREA (ha)           % TCH (tn/ha)
gridcode
1               Nulo          1.643796    1.339192
2           Muy Bajo          0.901373    0.734344
3         Bajo Medio          4.864175    3.962819
4               Bajo         16.771687   13.663811
5              Medio         37.542967   30.586071
6         Medio Alto         33.898003   27.616537
7               Alto         17.471084   14.233606
8           Muy Alto          9.652222    7.863618
Total          TOTAL        122.745305  100.000000

In [89]:
aux.at['Total','COLOR'] = ''

In [90]:
def styling_specific_cell(x,row_idx,col_idx):
    color = ['background-color: #ff2200;',
             'background-color: #ff6f00;',
             'background-color: #ffa600;',
             'background-color: #ffe500;',
             'background-color: #d6e600;',
             'background-color: #8bb500;',
             'background-color: #498a00;',
             'background-color: #006100;']
    df_styler = pd.DataFrame('', index=x.index, columns=x.columns)
    df_styler.iloc[row_idx, col_idx] =  color
    return df_styler

def set_blod_categori(x,row_idx,col_idx):
    color = ['font-weight:bold;',
             'font-weight:bold;',
             'font-weight:bold;',
             'font-weight:bold;',
             'font-weight:bold;',
             'font-weight:bold;',
             'font-weight:bold;',
             'font-weight:bold;',
             'font-weight:bold;']
    df_styler = pd.DataFrame('', index=x.index, columns=x.columns)
    df_styler.iloc[row_idx, col_idx] =  color
    return df_styler

def set_blod_row(x,row_idx,col_idx):
    color = 'font-weight:bold; background-color: #9BC2E6; color: black;'
    df_styler = pd.DataFrame('', index=x.index, columns=x.columns)
    df_styler.iloc[row_idx, col_idx] =  color
    return df_styler

headers = {
    'selector': 'tr:hover',
    'props': [('background-color', '#9BC2E6'), ('color','black'), ('border','solid 1px')]
}

In [91]:
aux

           CATEGORIA COLOR   AREA (ha)           % TCH (tn/ha)
gridcode
1               Nulo          1.643796    1.339192
2           Muy Bajo          0.901373    0.734344
3         Bajo Medio          4.864175    3.962819
4               Bajo         16.771687   13.663811
5              Medio         37.542967   30.586071
6         Medio Alto         33.898003   27.616537
7               Alto         17.471084   14.233606
8           Muy Alto          9.652222    7.863618
Total          TOTAL        122.745305  100.000000

In [92]:
formato = {'AREA (ha)':'{:.2f}', '%':'{:.2f} %'}
i = pd.IndexSlice[aux.loc[(aux['%']<99.999999)].index, '%']

s = aux.style.format(formato)\
    .bar(subset=i, color='#10CB23')\
    .hide_index()\
    .apply(styling_specific_cell, row_idx = [0,1,2,3,4,5,6,7], col_idx = 1, axis = None)\
    .apply(set_blod_categori, row_idx = [0,1,2,3,4,5,6,7,8], col_idx = 0, axis = None)\
    .apply(set_blod_row, row_idx = 8, col_idx = [0,1,2,3], axis = None)\
    .set_table_styles([headers])\
    .set_table_styles([{'selector': 'th',
                           'props': [('background-color', '#f8f8f8'),
                                     ('color', '#333'),
                                     ('border', '1px solid #333')]}])
s = s.set_properties(border="1px solid black")
tabla = s
tabla

In [55]:
dfi.export(tabla, 'tabla.png')