In [10]:
<<<<<<< LOCAL CELL DELETED >>>>>>>
def get_unidad_local():
    try:
        # ruta del archivo que contiene la informaci√≥n necesaria
        with open('../../unidad_local.txt', 'r') as file:
            unidad = file.readline().strip()
            return unidad
    except FileNotFoundError:
        print("El archivo 'unidad_local.txt' no se encuentra en la ruta especificada.")
    return None

def get_ruta_local():
    try:
        with open('../ruta_local.txt', 'r') as file:
            ruta = file.readline().strip()
            return ruta
    except FileNotFoundError:
        print("El archivo 'ruta_local.txt' no se encuentra en la ruta especificada.")
    return None

# RUTA ONEDRIVE
unidad = get_unidad_local()
ruta = get_ruta_local()
ruta_completa = os.path.join(unidad, ruta)
ruta_completa

'G:\\OneDrive - Ingenio Azucarero Guabira S.A\\_DATOS_PYTHON'

In [11]:
# leer token
acceso = open(ruta_completa + '/_keys/api_amigocloud.key','r')
api_token = acceso.readlines()[0]
acceso.close()
amigocloud = AmigoCloud(token=api_token)
amigocloud

In [14]:
fecha_insp = '2025-02-18'
query = {'query': 'select id, canhero, propiedad, lote, variedad from dataset_365887 where fecha_registro::date=\'{fecha}\''.format(fecha=fecha_insp)}
select = amigocloud.get('https://app.amigocloud.com/api/v1/projects/35567/sql', query)
data = select['data']
tabla = pd.DataFrame(data)
tabla

,id,canhero,propiedad,lote,variedad
0,130,13067 / SAUCEDO CERRUTI SONIA,2076 / NAICO--SAUCEDO SONIA,B12,UCG 90-20
1,131,18086 / SUAREZ CUELLAR JENNY SONIA,550 / LA IMPROVISADA--SUAREZ,L12,CITTCA 0563

In [15]:
ids = list(tabla['id'])
ids

[130, 131]

In [17]:
for i in ids:
    generar_reporte(i)
    print(i)

{'fecha_registro': '18/02/2025', 'id': 130, 'estado': 'APROBADO', 'ubicacion': '0101000020E61000007F5F7EDB28A74FC08A37F3161F4031C0', 'tecnico_responsable': 'JUAN PABLO', 'canhero': '13067 / SAUCEDO CERRUTI SONIA', 'lote': 'B12', 'observaciones': '', 'propiedad': '2076 / NAICO--SAUCEDO SONIA', 'variedad': 'UCG 90-20', 'ciclo': 'HOJA', 'area': 4.8, 'edad': 8, 'usuario': 'Juan Pablo Jaldin Duran', 'amigo_id': '50A2AFB7A10B486C9D542B4EC8EEFCF7', 'procesado': True, 'count': 1}
buscando fotos
{'query': "select * from gallery_67001 where source_amigo_id='50A2AFB7A10B486C9D542B4EC8EEFCF7'"}
descargando fotos
130
{'fecha_registro': '18/02/2025', 'id': 131, 'estado': 'APROBADO', 'ubicacion': '0101000020E61000008A2DF30CD0984FC0CB08B99C5C4F31C0', 'tecnico_responsable': 'MILTON', 'canhero': '18086 / SUAREZ CUELLAR JENNY SONIA', 'lote': 'L12', 'observaciones': None, 'propiedad': '550 / LA IMPROVISADA--SUAREZ', 'variedad': 'CITTCA 0563', 'ciclo': 'SOCA 1', 'area': 13.4, 'edad': 10, 'usuario': '', 'amigo_id': '8f8ef0cb34a14c75964a149ceaf46145', 'procesado': True, 'count': 1}
buscando fotos
{'query': "select * from gallery_67001 where source_amigo_id='8f8ef0cb34a14c75964a149ceaf46145'"}
descargando fotos
descargando una foto
descargando una foto
131