In [2]:
import sys
sys.path.append('..')

import os
from sqlalchemy import create_engine, text
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, Polygon, MultiPolygon, MultiPoint
from shapely import wkb
from geopandas.tools import sjoin

from utilities_amigocloud import AmigocloudFunctions

In [3]:
from config import RUTA_UNIDAD_ONE_DRIVE
from config import RUTA_LOCAL_ONE_DRIVE
from config import API_AMIGOCLOUD_TOKEN_ADM
from config import POSTGRES_UTEA

RUTA_COMPLETA = os.path.join(RUTA_UNIDAD_ONE_DRIVE, RUTA_LOCAL_ONE_DRIVE)
PATH_CAT = RUTA_UNIDAD_ONE_DRIVE + r'\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - EQUIPO AVIACION UTEA\Pulverizacion\2025\SHP\catastro_S09_MIERCOLES.shp'
PATH_XLSX_GRUPOS = RUTA_UNIDAD_ONE_DRIVE + r'\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AVANCE COSECHA\2025\DATA\GRUPO_COSECHA.xlsx'

In [4]:
def obtener_engine():
    return create_engine(
        f"postgresql+psycopg2://{POSTGRES_UTEA['USER']}:{POSTGRES_UTEA['PASSWORD']}@{POSTGRES_UTEA['HOST']}:{POSTGRES_UTEA['PORT']}/{POSTGRES_UTEA['DATABASE']}"
    )

def obtener_planificacion():
    engine = obtener_engine()
    try:
        query = """
            SELECT *
            FROM drones_pulverizacion.planificacion_pulv
            WHERE procesado=false;
        """
        gdf = gpd.read_postgis(query, engine, geom_col='geom')
        return gdf
    except Exception as e:
        print(f"Error en la consulta: {e}")
        return gpd.GeoDataFrame()
    return None

def marcar_como_procesado(id_os):
    engine = obtener_engine()  # tu función que crea el engine
    try:
        with engine.begin() as conn:
            query = text("""
                UPDATE drones_pulverizacion.planificacion_pulv
                SET procesado = true
                WHERE id = :id_os
            """)
            conn.execute(query, {"id_os": id_os})
            print(f"✔️ id {id_os} marcado como procesado.")
    except Exception as e:
        print(f"❌ Error al actualizar: {e}")
    return None

def obtener_parte_diario_por_os(ors):
    engine = obtener_engine()
    try:
        query = f"""
            SELECT * FROM drones_pulverizacion.parte_diario_pulv where os = {ors}
        """
        gdf = gpd.read_postgis(query, engine, geom_col='geom')
        return gdf
    except Exception as e:
        print(f"❌ Error en la consulta: {e}")
        return gpd.GeoDataFrame()
    return None

def convertir_a_multipolygon(geometry):
    if isinstance(geometry, Polygon):
        return MultiPolygon([geometry])
    return geometry

def convertir_a_wkb(polygon):
    wkb_data = wkb.dumps(polygon, hex=True)
    return wkb_data

def cargar_a_amigocloud(gdf):
    # repreyectar a WGS84
    gdf_pla_gral = gdf.to_crs(epsg=4326)
    # convertir poligonos a multipoligonos
    gdf_pla_gral['geom'] = gdf_pla_gral['geom'].apply(convertir_a_multipolygon)
    
    gdf_pla_gral['unidad_01'] = gdf_pla_gral['unidad_01'].astype(int)
    gdf_pla_gral['unidad_03'] = gdf_pla_gral['unidad_03'].astype(int)
    gdf_pla_gral['os'] = gdf_pla_gral['os'].astype(int)
    gdf_pla_gral['soca'] = gdf_pla_gral['soca'].astype(int)
    gdf_pla_gral['id'] = gdf_pla_gral['id'].astype(int)
    gdf_pla_gral['inst'] = gdf_pla_gral['inst'].astype(int)
    gdf_pla_gral['mezcla'] = gdf_pla_gral['mezcla'].astype(int)
    
    # recorrer el gdf de lotes y cargarlo a amigocloud
    id_proyecto = 35248
    for index, row in gdf_pla_gral.iterrows():
        wkb_hex = convertir_a_wkb(row['geom'])
        insert_sql = f"""
            INSERT INTO dataset_360912 (id, unidad_01, unidad_02, unidad_03, unidad_04, unidad_05, area, os, mezcla, geometry)
            VALUES ({row['id']}, {row['unidad_01']}, '{row['unidad_02']}', {row['unidad_03']}, '{row['unidad_04']}', '{row['unidad_05']}', {row['area']}, '{row['os']}', '{row['mezcla']}', ST_SetSRID(ST_GeomFromWKB('\\x{wkb_hex}'), 4326));
        """
        query_sql = {'query': insert_sql}
        resultado_post = amigocloud.ejecutar_query_sql(id_proyecto, insert_sql, 'post')
        print(f'Lote registrado en AmigoCloud')
    return None

In [5]:
amigocloud = AmigocloudFunctions(token=API_AMIGOCLOUD_TOKEN_ADM)
amigocloud

In [7]:
gdf_cat = gpd.read_file(PATH_CAT)
gdf_plan = obtener_planificacion()
gdf_plan

,id,geom,codigo_canero,nombre_canero,procesado,mezcla,obs
0,60,"MULTIPOINT (469989.510 8075913.346, 470257.179...",5373,HURTADO PAZ JORGE EDUARDO,False,51,None
1,61,"MULTIPOINT (469838.796 8075822.369, 469848.371...",5373,HURTADO PAZ JORGE EDUARDO,False,52,None

# CARGAR PARTE DIARIO

In [8]:
gdf_intersect_result = gpd.sjoin(gdf_cat, gdf_plan, how='inner')
os_para_cargar = list(set(gdf_intersect_result['id_right']))
os_para_cargar

[60, 61]

In [10]:
gdf_intersect_result['mezcla']

7519     51
8851     51
8854     51
8861     51
8864     51
8963     51
8964     52
13484    51
13485    52
Name: mezcla, dtype: int64

In [11]:
gdf_result = gdf_intersect_result[['geometry', 'unidad_01', 'unidad_02', 'codigo_canero', 'nombre_canero', 'unidad_05', 'area', 'id_right', 'soca', 'zona', 'mezcla']].copy()
gdf_result['area'] = gdf_result.geometry.area / 10000
gdf_result.rename(columns={
    'geometry': 'geom',
    'codigo_canero': 'unidad_03',
    'nombre_canero': 'unidad_04',
    'id_right': 'os',
    'zona': 'inst'
}, inplace=True)

gdf_result = gdf_result.set_geometry("geom")
gdf_result['unidad_01'] = gdf_result['unidad_01'].astype(int)
gdf_result['unidad_03'] = gdf_result['unidad_03'].astype(int)
gdf_result['os'] = gdf_result['os'].astype(int)
gdf_result['soca'] = gdf_result['soca'].astype(int)
gdf_result['inst'] = gdf_result['inst'].astype(int)
gdf_result['mezcla'] = gdf_result['mezcla'].astype(int)

In [12]:
gdf_result

,geom,unidad_01,unidad_02,unidad_03,unidad_04,unidad_05,area,os,soca,inst,mezcla
7519,"POLYGON ((469918.197 8076478.838, 469782.096 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L5.1,11.603830,60,0,50,51
8851,"POLYGON ((469445.219 8076684.935, 469606.271 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L7.2,6.090127,60,10,50,51
8854,"POLYGON ((469440.937 8076682.765, 469547.697 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L7.1,3.127272,60,10,50,51
8861,"POLYGON ((469355.837 8076526.508, 469234.043 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L9,6.120814,60,12,50,51
8864,"POLYGON ((469326.348 8076957.724, 469438.847 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L8,2.786224,60,10,50,51
8963,"POLYGON ((470158.378 8076181.877, 470211.451 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L1,1.752823,60,7,50,51
8964,"POLYGON ((469823.858 8075953.299, 469983.125 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L2.2,4.536856,61,7,50,52
13484,"POLYGON ((469983.125 8075745.754, 469823.858 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L2.1,10.233236,60,7,50,51
13485,"POLYGON ((469938.192 8076451.442, 469799.749 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L5.1,0.522315,61,0,50,52

In [13]:
# GARANTIZAR LA INST DEL CAÑERO
# cargar grupos de cosecha
df_grupos = pd.read_excel(PATH_XLSX_GRUPOS, sheet_name='CODIGOS')
df_grupos = df_grupos[df_grupos['INSTITUCION'].notna()]
df_grupos['CODIGO CAÑERO'] = df_grupos['CODIGO CAÑERO'].astype(int)
df_grupos['INSTITUCION'] = df_grupos['INSTITUCION'].astype(int)

# Crear un diccionario de mapeo: {codigo_cañero: institucion}
mapa_institucion = df_grupos.set_index('CODIGO CAÑERO')['INSTITUCION'].to_dict()
# Reemplazar los valores de 'inst' en gdf_result usando el diccionario
# a partir del diccionario, busca el codigo cañero (unidad_03), y reempalza la institucion
gdf_result['inst'] = gdf_result['unidad_03'].map(mapa_institucion)

In [14]:
gdf_result

,geom,unidad_01,unidad_02,unidad_03,unidad_04,unidad_05,area,os,soca,inst,mezcla
7519,"POLYGON ((469918.197 8076478.838, 469782.096 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L5.1,11.603830,60,0,50,51
8851,"POLYGON ((469445.219 8076684.935, 469606.271 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L7.2,6.090127,60,10,50,51
8854,"POLYGON ((469440.937 8076682.765, 469547.697 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L7.1,3.127272,60,10,50,51
8861,"POLYGON ((469355.837 8076526.508, 469234.043 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L9,6.120814,60,12,50,51
8864,"POLYGON ((469326.348 8076957.724, 469438.847 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L8,2.786224,60,10,50,51
8963,"POLYGON ((470158.378 8076181.877, 470211.451 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L1,1.752823,60,7,50,51
8964,"POLYGON ((469823.858 8075953.299, 469983.125 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L2.2,4.536856,61,7,50,52
13484,"POLYGON ((469983.125 8075745.754, 469823.858 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L2.1,10.233236,60,7,50,51
13485,"POLYGON ((469938.192 8076451.442, 469799.749 8...",50,EL CIDRAL,5373,HURTADO PAZ JORGE EDUARDO,L5.1,0.522315,61,0,50,52

In [15]:
# agregar nuevos registros a la base de datos
gdf_result.to_postgis("parte_diario_pulv", obtener_engine(), schema="drones_pulverizacion", if_exists="append")

In [16]:
os_para_cargar

[60, 61]

In [17]:
# CARGAR A AMIGOCLOD
for i in os_para_cargar:
    plan_os = obtener_parte_diario_por_os(i)
    cargar_a_amigocloud(plan_os)
    marcar_como_procesado(i)

Lote registrado en AmigoCloud
Lote registrado en AmigoCloud
Lote registrado en AmigoCloud
Lote registrado en AmigoCloud
Lote registrado en AmigoCloud
Lote registrado en AmigoCloud
Lote registrado en AmigoCloud
✔️ id 60 marcado como procesado.
Lote registrado en AmigoCloud
Lote registrado en AmigoCloud
✔️ id 61 marcado como procesado.