In [9]:
import geopandas as gpd
from sqlalchemy import create_engine

# Datos de conexión a PostgreSQL/PostGIS
db_host = 'localhost'
db_name = 'pulverizacion'
db_user = 'postgres'
db_pass = '77663540'
db_port = '5433'  # El puerto predeterminado de PostgreSQL

# Crear URL de conexión
connection_url = f"postgresql://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}"

# Crear motor (engine) de SQLAlchemy
engine = create_engine(connection_url)

In [20]:
# Consulta SQL para obtener todos los registros de la tabla "parcelas"
sql_query = "SELECT * FROM puntos_planificacion ORDER BY os DESC;"

# Leer la consulta directamente a un GeoDataFrame
gdf = gpd.read_postgis(sql_query, con=engine, geom_col='geom')

# Mostrar las primeras filas
gdf.head()

,gid,geom,unidad_03,unidad_04,os,obs,procesado
0,19,"MULTIPOINT (480692.621 8089936.437, 480734.955...",75,AGUILERA TARADELLES NELSON MARIANO,12,None,None
1,18,"MULTIPOINT (483868.460 8066912.246, 484863.296...",86,AGUILERA TARADELLES JOSE LUIS,10,None,None
2,17,"MULTIPOINT (479098.842 8088980.865, 479180.640...",75,AGUILERA TARADELLES NELSON MARIANO,9,None,None
3,10,"MULTIPOINT (472489.092 8093561.638, 472772.726...",2641,CRONENBOLD AGUILERA ROBERTO,8,None,None
4,12,"MULTIPOINT (487114.240 8094228.617, 487426.449...",1530,C.I.T.T.C.A.,8,None,None