In [11]:
import sys
sys.path.append('../..')

import os
from sqlalchemy import create_engine, MetaData, and_, Table, select, delete
import json
import requests
import pandas as pd
import ipywidgets as widgets

from config import RUTA_UNIDAD_ONE_DRIVE
from config import RUTA_LOCAL_ONE_DRIVE
from config import POSTGRES_UTEA

In [12]:
USER_DB = POSTGRES_UTEA['USER']
PASS_DB = POSTGRES_UTEA['PASSWORD']
HOST_DB = POSTGRES_UTEA['HOST']
PORT_DB = POSTGRES_UTEA['PORT']
NAME_DB = POSTGRES_UTEA['DATABASE']

RUTA_COMPLETA = os.path.join(RUTA_UNIDAD_ONE_DRIVE, RUTA_LOCAL_ONE_DRIVE)
ENDPOINT_UCG = "http://38.242.157.178:3000/infocanero/report"

ENGINE = create_engine(f'postgresql+psycopg://{USER_DB}:{PASS_DB}@{HOST_DB}:{PORT_DB}/{NAME_DB}')

metadata = MetaData()
tipo_creditos_tbl = Table("tipo_creditos", metadata, autoload_with=ENGINE, schema="datos_api_agrocittca")
listado_periodos_tbl = Table("listado_periodos", metadata, autoload_with=ENGINE, schema="datos_api_agrocittca")
obtener_grupo_tbl = Table("obtener_grupo", metadata, autoload_with=ENGINE, schema="datos_api_agrocittca")
estado_cuenta_tbl = Table("estado_cuenta", metadata, autoload_with=ENGINE, schema="datos_api_agrocittca")
listado_creditos_tbl = Table("listado_creditos", metadata, autoload_with=ENGINE, schema="datos_api_agrocittca")

boleta_tbl = Table("boleta", metadata, autoload_with=ENGINE, schema="datos_api_agrocittca")
descuentos_tbl = Table("descuentos", metadata, autoload_with=ENGINE, schema="datos_api_agrocittca")

##grupos_economicos = Table("data_grupo_eco", metadata, autoload_with=ENGINE, schema="catastro_iag")
plan_zafra = Table("data_plan_zafra", metadata, autoload_with=ENGINE, schema="catastro_iag")

In [13]:
def get_token_iag():
    # URL base de la API
    url = "https://guabirasistemas.com:9062/Auth/login"
    # Parámetros de consulta
    params = {
        "pStrUsuario": "USRUCAF",
        "pStrClave": "DC513EA4FBDAA7A14786FFDEBC4EF64E"
    }
    response = requests.get(url, params=params)
    data = json.loads(response.text)
    token = data['evUser']['token']
    return token
TOKEN = get_token_iag()
TOKEN

'eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiVVNSVUNBRiIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcm9sZSI6IlVzdWFyaW8iLCJleHAiOjE3NjE1NTMyOTZ9.Ja2YKvXCWAx6FjNIyUuKTUuTtKqQVpcwPkyZy2x-13c'

In [46]:
def get_plan_zafra():
    try:
        with ENGINE.begin() as conn:
            stmt = select(plan_zafra)
            data_plan_zafra = conn.execute(stmt).mappings().all()
            df_plan_zafra = pd.DataFrame(data_plan_zafra)
            print("✅ Se a obtenido todos los datos de PLAN ZAFRA de bd")
            return df_plan_zafra
    except Exception as e:
        print("❌ Error al obtener los datos de PLAN ZAFRA de bd", e)
        return pd.DataFrame()
    
# optiene todos los datos de la tabla ObtenerGrupo
def get_obtener_grupo_de_db():
    try:
        with ENGINE.begin() as conn:
            stmt = select(obtener_grupo_tbl)
            data_obtener_grupo = conn.execute(stmt).mappings().all()
            df_obtener_grupo = pd.DataFrame(data_obtener_grupo)
            print("✅ Se a obtenido todos los datos de OBTENER GRUPO de bd")
            return df_obtener_grupo
    except Exception as e:
        print(f"❌ Error al OBTENER GRUPO de bd", e)
        return pd.DataFrame()
    
# retorna una lista donde estan todos los elementos A que no estan en B
def get_diferencia_entre_listas(lista_a, lista_b):
    # convertir lista_b a set para búsqueda rápida
    set_b = set(lista_b)
    # filtrar los que no están en lista_b
    diferencia = [x for x in lista_a if x not in set_b]
    return diferencia

# /Cml/TipoCreditos

In [15]:
def get_tipo_creditos_endpint():
    api_url = "https://guabirasistemas.com:9062/Cml/TipoCreditos"
    headers = {
        "Authorization": f"Bearer {TOKEN}"
    }
    try:
        response = requests.get(api_url, headers=headers, timeout=15)
        res = response.json()
        
        if 'evTipos' not in res:
            print("⚠️ La respuesta no contiene la clave 'evTipos'.")
            return pd.DataFrame()
        tipo_creditos = res['evTipos']
        df_tipo_creditos = pd.DataFrame(tipo_creditos)
        # Reemplaza NaN por None para SQL
        df_tipo_creditos = df_tipo_creditos.where(pd.notnull(df_tipo_creditos), None)
        print("✅ Se a obtenido datos de endpoint Tipo Credito")
        return df_tipo_creditos
    except Exception as e:
        print("❌ No se a obtenido datos de endpoint Tipo Credito:", e)
        return pd.DataFrame()
    
def registrar_tipo_creditos_en_bd(df_tipp_creditos):
    '''Eliminar los datos de la tabla y registra de nuevo los tipos de credito recibidos'''
    try:
        with ENGINE.begin() as conn:
            conn.execute(tipo_creditos_tbl.delete())  #vacía la tabla
            conn.execute(tipo_creditos_tbl.insert(), df_tipp_creditos.to_dict(orient='records'))
        print("✅ Se registraron en BD - Tipo Creditos")
        return True
    except Exception as e:
        print("❌ Error al registrar en BD - Tipo Credito:", e)
        return False
    return False

In [16]:
tipo_creditos = get_tipo_creditos_endpint()
if len(tipo_creditos) > 0:
    registrar_tipo_creditos_en_bd(tipo_creditos)
else:
    print("❌ No se tiene datos de TIPO CREDITOS")

✅ Se a obtenido datos de endpoint Tipo Credito
✅ Se registraron en BD - Tipo Creditos

# /Cml/ListadoPeriodos

In [20]:
def get_listado_periodos_de_endpoint():
    api_url = "https://guabirasistemas.com:9062/Cml/ListadoPeriodos"
    headers = {
        "Authorization": f"Bearer {TOKEN}"
    }
    try:
        response = requests.get(api_url, headers=headers, timeout=15)
        res = response.json()
        if 'evPeriodos' not in res:
            print("⚠️ La respuesta no contiene la clave 'evPeriodos'.")
            return pd.DataFrame()
        listado_periodos = res['evPeriodos']
        df_listado_periodos = pd.DataFrame(listado_periodos)
        df_listado_periodos['fechaini'] = pd.to_datetime(df_listado_periodos['fechaini'], errors='coerce')
        df_listado_periodos['mes'] = df_listado_periodos['fechaini'].dt.month
        df_listado_periodos['mes_lit'] = df_listado_periodos['fechaini'].dt.month_name()
        df_listado_periodos['quincena'] = df_listado_periodos['fechaini'].dt.day.apply(lambda x: 1 if x <= 15 else 2)
        print("✅ Se obtenido LISTADO PERIODOS de endpoint")
        return df_listado_periodos
    except Exception as e:
        print("❌ No se ha obtenido LISTADO PERIODOS de endpoint", e)
        return pd.DataFrame()

def registrar_lista_periodo_en_bd(df_lista_periodos):
    try:
        with ENGINE.begin() as conn:
            conn.execute(listado_periodos_tbl.delete()) #elimina datos de la tabla
            conn.execute(listado_periodos_tbl.insert(), df_lista_periodos.to_dict(orient='records'))
        print("✅ Se ha registrado LISTADO PERIODOS en bd")
        return True
    except Exception as e:
        print("❌ No se ha registrado LISTADO PERIODOS en bd", e)
        return

In [29]:
lista_periodos = get_listado_periodos_de_endpoint()
registrar_lista_periodo_en_bd(lista_periodos)

✅ Se obtenido LISTADO PERIODOS de endpoint
✅ Se ha registrado LISTADO PERIODOS en bd

True

In [30]:
lista_periodos

   nroperiodo   fechaini    fechafin estado  mes    mes_lit  quincena
0  1000000240 2025-05-19  2025-05-31     06    5        May         2
1  1000000241 2025-06-01  2025-06-15     06    6       June         1
2  1000000242 2025-06-16  2025-06-30     06    6       June         2
3  1000000243 2025-07-01  2025-07-15     06    7       July         1
4  1000000244 2025-07-16  2025-07-31     06    7       July         2
5  1000000245 2025-08-01  2025-08-15     06    8     August         1
6  1000000246 2025-08-16  2025-08-31     06    8     August         2
7  1000000247 2025-09-01  2025-09-15     06    9  September         1
8  1000000248 2025-09-16  2025-09-30     06    9  September         2

# /Cml/ObtenerGrupo

In [50]:
def get_obtener_grupo_de_endpoint(cod_ca):
    api_url = "https://guabirasistemas.com:9062/Cml/ObtenerGrupo"
    headers = {
        "Authorization": f"Bearer {TOKEN}"
    }
    params = {
        "pStrCanero": str(cod_ca)
    }
    try:
        response = requests.get(api_url, headers=headers, params=params, timeout=15)
        res = response.json()
        if 'evGrupos' not in res:
            print("⚠️ La respuesta no contiene la clave 'evGrupos'.")
            return pd.DataFrame()
        grupo = res['evGrupos']
        df_grupo = pd.DataFrame(grupo)
        print(f"✅ Se obtenido grupo del codigo cañero: {cod_ca} de endpoint OBTENER GRUPO")
        return df_grupo
    except Exception as e:
        print(f"❌ Error al obtener grupo para codigo cañero: {cod_ca} de endpoint OBTENER GRUPO")
        return pd.DataFrame()

In [51]:
get_obtener_grupo_de_endpoint(515)

✅ Se obtenido grupo del codigo cañero: 515 de endpoint OBTENER GRUPO

,codgrupo,codcanero,nombrecanero,codfinanza,totaldeuda
0,262,515,AGUILERA OLGA OLIMPIA RIVERO VDA DE,800078,22964.1
1,262,8003,AGUILERA RIVERO SERGIO STEFAN,800083,16705.2
2,262,1215,AGUILERA RIVERO OLGA KARINA,800082,0.0
3,262,40004,AGUILERA RIVERO NICOLAS JULIO,800081,12479.4

In [35]:
df_plan_zafra = get_plan_zafra()
df_plan_zafra = df_plan_zafra.groupby('cod_ca', as_index=False)['compromiso'].sum()
print('Cantidad de cañero:', len(df_plan_zafra))
print('Total compromiso:', df_plan_zafra['compromiso'].sum())

✅ Se a obtenido todos los datos de PLAN ZAFRA de bd
Cantidad de cañero: 1321
Total compromiso: 3170540.63

In [39]:
df_obtener_grupo = get_obtener_grupo_de_db()
print(f'✅ Se encontraron {len(df_obtener_grupo)} registros en tabla OBTENER GRUPO en la BD')

✅ Se a obtenido todos los datos de OBTENER GRUPO de bd
✅ Se encontraron 0 registros en tabla OBTENER GRUPO en la BD

In [44]:
# LISTA DE COD_CA DE PLAN DE ZAFRA
lista_plan_zafra = None
if len(df_plan_zafra) > 0:
    lista_plan_zafra = list(df_plan_zafra['cod_ca'])
else:
    lista_plan_zafra = []
print('Total cod_ca de PLAN ZAFRA =', len(lista_plan_zafra))

Total cod_ca de PLAN ZAFRA = 1321

In [45]:
# LISTA DE COD_CA DE TABLA OBTENER GRUPO
lista_otener_grupo = None
if len(df_obtener_grupo) > 0:
    lista_otener_grupo = df_obtener_grupo['codcanero']
else:
    lista_otener_grupo = []
print('Total cod_ca de OBTENER GRUPO =', len(lista_otener_grupo))

Total cod_ca de OBTENER GRUPO = 0

In [48]:
cods_faltantes_procesar = get_diferencia_entre_listas(lista_plan_zafra, lista_otener_grupo)
print(f'Se encontraron {len(cods_faltantes_procesar)} codigos faltantes en la tabla OBTENER GRUPOS de la bd')

Se encontraron 1321 codigos faltantes en la tabla OBTENER GRUPOS de la bd

In [49]:
detalle_grupo_procesado = widgets.Output(layout={'border': '1px solid black'})
detalle_grupo_procesado

Output(layout=Layout(border_bottom='1px solid black', border_left='1px solid black', border_right='1px solid b…

In [ ]:
contador = 0
for cod in cods_faltantes_procesar:
    intentos = 0
    max_intentos = 3
    while intentos < max_intentos:
        try:
            df_grupo = get_obtener_grupo_de_endpoint(cod)
            
            with ENGINE.begin() as conn:
                conn.execute(obtener_grupo_tbl.insert(), df_grupo.to_dict(orient='records'))
            contador = contador + 1
            with detalle_grupo_procesado:
                detalle_grupo_procesado.clear_output()
                display(f'GET GRUPOS')
                display(f'Se ha procesado el codigo: {cod}')
                display(f'Contador: {contador} de {len(cods_faltantes_procesar)}')
            break  # si salió bien, salir del while

        except requests.exceptions.ConnectTimeout:
            intentos += 1
            print(f'Timeout en intento {intentos} para código {cod}')
            time.sleep(5)

        except Exception as e:
            print(f'Error inesperado para código {cod}: {e}')
            break

In [ ]:
conn = sqlite3.connect('db_data_agrocittca.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS estado_cuenta (
    nrocontrato TEXT,         -- Parece ser una cadena de texto (ej. '0000010019105')
    moneda TEXT,              -- Texto (ej. 'USD')
    claseprstamo TEXT,        -- Texto (ej. 'Préstamo Anticipo Semanal')
    montocredito REAL,        -- Números decimales (ej. 2574.53)
    integenerado REAL,        -- Números decimales (ej. 0.00)
    intercobrado REAL,        -- Números decimales (ej. 0.00)
    interxcobrar REAL,        -- Números decimales (ej. 0.00)
    saldopendnte REAL,      -- Números decimales (ej. 0.00)
    totalpagado REAL,         -- Números decimales (ej. 2574.53)
    totaldeuda REAL,          -- Números decimales (ej. 0.00)
    estado TEXT,              -- Texto (ej. 'PAGADO')
    diasmora INTEGER,         -- Números enteros (ej. 0)
    cod_grupo INTEGER,        -- Números enteros (ej. 262)
    cod_canero INTEGER        -- Números enteros (ej. 1215)
)
''')

# Confirmar los cambios y cerrar la conexión
conn.commit()
conn.close()

In [9]:
def seleccionar_datos_estado_cuenta():
    # conectar a la base SQLite
    conn = sqlite3.connect('db_data_agrocittca.db')
    # leer datos con pandas
    df = pd.read_sql_query('SELECT * FROM estado_cuenta', conn)
    # cerrar conexión
    conn.close()
    return df

def borrar_todos_los_datos_estado_cuenta():
    # conectar a la base SQLite
    conn = sqlite3.connect('db_data_agrocittca.db')
    cursor = conn.cursor()
    # ejecutar borrado
    cursor.execute('DELETE FROM estado_cuenta')
    # confirmar cambios
    conn.commit()
    conn.close()
    print("Todos los datos de la tabla estado_cueta han sido borrados.")
    return None

def obtener_codigos_ca_eco():
    df = pd.read_excel(PARH_XLSX_GRUPOS_UCAF, sheet_name='GRUPO ECONOMICO')
    df = df[['CODIGO', 'GRUPO ECONOMICO']]
    df = df.rename(columns={'CODIGO': 'cod_canero', 'GRUPO ECONOMICO': 'cod_grupo'})
    return df

def codcanero_distintos_estado_cuenta():
    # conectar a la base SQLite
    conn = sqlite3.connect('db_data_agrocittca.db')
    # ejecutar consulta y leer resultados
    df = pd.read_sql_query('SELECT DISTINCT cod_canero FROM estado_cuenta', conn)
    # cerrar conexión
    conn.close()
    return list(df['cod_canero'])

def get_estado_cuenta(grupo, canero):
    api_url = "https://guabirasistemas.com:9062/Cml/EstadoCuenta"
    headers = {
        "Authorization": f"Bearer {TOKEN}"
    }
    params = {
        "pStrGrupo": grupo,
        "pStrCanero": canero
    }

    try:
        response = requests.get(api_url, headers=headers, params=params, timeout=5)
        response.raise_for_status()  # lanza error si el status != 200

        estado_cuenta = response.text  # porque devuelve text/plain
        data = json.loads(estado_cuenta)['evData']
        df = pd.DataFrame(data)
        return df
    except requests.exceptions.RequestException as e:
        print(f"Error al obtener estado de cuenta: {e}")
        return None

In [ ]:
# borrar todos los datos de la tabla ESTAO CUENTA
borrar_todos_los_datos_estado_cuenta()

In [ ]:
# Obtiene una tabla con cod_canero y su codigo grupo
lista_cods_ca_eco = obtener_codigos_ca_eco()
lista_cods_ca_eco.head(3)

In [ ]:
# transforma el df de codigos a dict
dict_lista_cods = lista_cods_ca_eco.set_index('cod_canero')['cod_grupo'].to_dict()

In [ ]:
lista_cod_ca = list(lista_cods_ca_eco['cod_canero'])
print(f'Se encontraron {len(lista_cod_ca)} codigos.')

In [ ]:
lista_cod_ca_db = codcanero_distintos_estado_cuenta()
print(f'Se encontraron {len(lista_cod_ca_db)} codigos en la BD.')

In [ ]:
codigos_faltantes = obtener_diferencia(lista_cod_ca, lista_cod_ca_db)
print(f'Se encontraron {len(codigos_faltantes)} codigos faltantes en la BD')

In [ ]:
detalle_estado_cuenta_procesado = widgets.Output(layout={'border': '1px solid black'})
detalle_estado_cuenta_procesado

In [ ]:
contador = 0
for cod in codigos_faltantes:
    intentos = 0
    max_intentos = 3
    while intentos < max_intentos:
        try:
            grupo = dict_lista_cods[cod]
            estado_cuenta = get_estado_cuenta(grupo, cod)
            estado_cuenta['cod_grupo'] = grupo
            estado_cuenta['cod_canero'] = cod
        
            conn = sqlite3.connect('db_data_agrocittca.db')
            estado_cuenta.to_sql('estado_cuenta', conn, if_exists='append', index=False)
            conn.close()
            
            contador = contador + 1
            with detalle_estado_cuenta_procesado:
                detalle_estado_cuenta_procesado.clear_output()
                display(f'ESTADO DE CUENTA')
                display(f'Se ha procesado el codigo: {cod}')
                display(f'Contador: {contador}')
            break  # si salió bien, salir del while

        except requests.exceptions.ConnectTimeout:
            intentos += 1
            print(f'Timeout en intento {intentos} para código {cod}')
            time.sleep(5)

        except Exception as e:
            print(f'Error inesperado para código {cod}: {e}')
            break  # para errores que no sean timeout, salir del while

In [ ]:
df_resultado = seleccionar_datos_estado_cuenta()
print(f'Se tiene {len(df_resultado)} registros en DB')

In [ ]:
filename = 'EstadoCuenta.xlsx'
out = os.path.join(PATH_OUT, filename)
df_resultado.to_excel(out, index=False)

In [ ]:
lista_cod_ca_db = codcanero_distintos_listado_creditos()
print(f'Se encontraron {len(lista_cod_ca_db)} codigos en la BD.')

In [ ]:
codigos_faltantes = obtener_diferencia(lista_cod_ca, lista_cod_ca_db)
print(f'Se encontraron {len(codigos_faltantes)} codigos faltantes en la BD')

In [ ]:
detalle_listado_creditos_procesado = widgets.Output(layout={'border': '1px solid black'})
detalle_listado_creditos_procesado

In [ ]:
contador = 0
for cod in codigos_faltantes:
    intentos = 0
    max_intentos = 3
    while intentos < max_intentos:
        try:
            grupo = dict_lista_cods[cod]
            listado_creditos = get_listado_creditos(grupo, cod)
            listado_creditos['cod_grupo'] = grupo
            listado_creditos['cod_canero'] = cod
        
            conn = sqlite3.connect('db_data_agrocittca.db')
            listado_creditos.to_sql('listado_creditos', conn, if_exists='append', index=False)
            conn.close()
            
            contador = contador + 1
            with detalle_listado_creditos_procesado:
                detalle_listado_creditos_procesado.clear_output()
                display(f'LISTADO DE CREDITOS')
                display(f'Se ha procesado el codigo: {cod}')
                display(f'Contador: {contador}')
            break  # si salió bien, salir del while

        except requests.exceptions.ConnectTimeout:
            intentos += 1
            print(f'Timeout en intento {intentos} para código {cod}')
            time.sleep(5)

        except Exception as e:
            print(f'Error inesperado para código {cod}: {e}')
            break  # para errores que no sean timeout, salir del while

In [ ]:
df_resultado = seleccionar_datos_listado_credito()
print(f'Se tiene {len(df_resultado)} registros en DB')

In [ ]:
filename = 'ListadoCreditos.xlsx'
out = os.path.join(PATH_OUT, filename)
df_resultado.to_excel(out, index=False)

# DEUDAS UCG

In [6]:
# conectar a la base SQLite (creará archivo si no existe)
conn = sqlite3.connect('db_data_agrocittca.db')
cursor = conn.cursor()

# crear tabla
cursor.execute('''
CREATE TABLE IF NOT EXISTS deudas_ucg (
    taalm INTEGER,
    tipo TEXT,
    codInst INTEGER,
    nomInst TEXT,
    codCan INTEGER,
    ydrazonSocial TEXT,
    saldoCapital REAL,
    cod_grupo INTEGER
)
''')
# Confirmar los cambios y cerrar la conexión
conn.commit()
conn.close()

In [7]:
def borrar_todos_los_datos_deuda_ucg():
    # conectar a la base SQLite
    conn = sqlite3.connect('db_data_agrocittca.db')
    cursor = conn.cursor()
    # ejecutar borrado
    cursor.execute('DELETE FROM deudas_ucg')
    # confirmar cambios
    conn.commit()
    conn.close()
    print("Todos los datos de la tabla deuda_ucg han sido borrados.")
    return None

def obtener_codigos_ca():
    df = pd.read_excel(PARH_XLSX_GRUPOS_UCAF, sheet_name='GRUPO ECONOMICO')
    lista_cods = list(set(df['CODIGO']))
    return lista_cods

def codcanero_distintos_deudas_ucg():
    # conectar a la base SQLite
    conn = sqlite3.connect('db_data_agrocittca.db')
    # ejecutar consulta y leer resultados
    df = pd.read_sql_query('SELECT DISTINCT codCan FROM deudas_ucg', conn)
    # cerrar conexión
    conn.close()
    return list(df['codCan'])

def seleccionar_datos_deudas_ucg():
    # conectar a la base SQLite
    conn = sqlite3.connect('db_data_agrocittca.db')
    # leer datos con pandas
    df = pd.read_sql_query('SELECT * FROM deudas_ucg', conn)
    # cerrar conexión
    conn.close()
    return df

def get_data_ucg(ca):
    # Parámetros del cuerpo de la solicitud (JSON)
    payload = {
        "caneCode": ca
    }
    # Realizar la solicitud POST
    response = requests.post(ENDPOINT_UCG, json=payload)
    # Verificar el código de respuesta
    if response.status_code == 200:
        data = response.json()
        print(f'Respuesta exitosa: {ca}')
        return pd.DataFrame(data['data'])
    elif response.status_code == 404:
        print(f'No se encontro datos de codigo: {cod_ca}')
    else:
        print(f"Error al conectae a endpoint DeudasUCG {response.status_code}")

In [ ]:
borrar_todos_los_datos_deuda_ucg()

In [19]:
# Obtiene una tabla con cod_canero y su codigo grupo
lista_cods_ca_eco = obtener_codigos_ca_eco()
lista_cods_ca_eco.head(3)

  cod_canero  cod_grupo
0       3361          1
1       2380          2
2       2674          2

In [20]:
# transforma el df de codigos a dict
dict_lista_cods = lista_cods_ca_eco.set_index('cod_canero')['cod_grupo'].to_dict()

In [21]:
lista_cod_ca = list(lista_cods_ca_eco['cod_canero'])
print(f'Se encontraron {len(lista_cod_ca)} codigos cañeros.')

Se encontraron 1407 codigos cañeros.

In [22]:
lista_cod_ca_db = codcanero_distintos_deudas_ucg()
print(f'Se encontraron {len(lista_cod_ca_db)} codigos en la BD.')

Se encontraron 1364 codigos en la BD.

In [23]:
codigos_faltantes = obtener_diferencia(lista_cod_ca, lista_cod_ca_db)
print(f'Se encontraron {len(codigos_faltantes)} codigos faltantes en la BD')

Se encontraron 44 codigos faltantes en la BD

In [24]:
detalle_deuda_ucg_procesado = widgets.Output(layout={'border': '1px solid black'})
detalle_deuda_ucg_procesado

Output(layout=Layout(border_bottom='1px solid black', border_left='1px solid black', border_right='1px solid b…

In [25]:
contador = 0
for cod in codigos_faltantes:
    intentos = 0
    max_intentos = 3
    while intentos < max_intentos:
        try:
            grupo = dict_lista_cods[cod]
            listado_deudas_ucg = get_data_ucg(cod)
            listado_deudas_ucg['cod_grupo'] = grupo
        
            conn = sqlite3.connect('db_data_agrocittca.db')
            listado_deudas_ucg.to_sql('deudas_ucg', conn, if_exists='append', index=False)
            conn.close()
            
            contador = contador + 1
            with detalle_deuda_ucg_procesado:
                detalle_deuda_ucg_procesado.clear_output()
                display(f'DEUDAS UCG')
                display(f'Se ha procesado el codigo: {cod}')
                display(f'Contador: {contador}')
            break  # si salió bien, salir del while

        except requests.exceptions.ConnectTimeout:
            intentos += 1
            print(f'Timeout en intento {intentos} para código {cod}')
            time.sleep(5)

        except Exception as e:
            print(f'Error inesperado para código {cod}: {e}')
            break  # para errores que no sean timeout, salir del while

Respuesta exitosa: 277777
Respuesta exitosa: 288888
Respuesta exitosa: 199999
Respuesta exitosa: 144444
Respuesta exitosa: 333333
Respuesta exitosa: 255555
Respuesta exitosa: 444444
Respuesta exitosa: 344444
Respuesta exitosa: 500005
Respuesta exitosa: 422222
Error al conectae a endpoint DeudasUCG 500
Error inesperado para código  : 'NoneType' object does not support item assignment
Respuesta exitosa: 400000
Respuesta exitosa: 411111
Respuesta exitosa: 388888
Respuesta exitosa: 300000
Respuesta exitosa: 299999
Respuesta exitosa: 355555
Respuesta exitosa: 311111
Respuesta exitosa: 400004
Respuesta exitosa: 200002
Respuesta exitosa: 10386
Respuesta exitosa: 100001
Respuesta exitosa: 300003
Respuesta exitosa: 399999
Respuesta exitosa: 600006
Respuesta exitosa: 700007
Respuesta exitosa: 800008
Respuesta exitosa: 100000
Respuesta exitosa: 111111
Respuesta exitosa: 122222
Respuesta exitosa: 155555
Respuesta exitosa: 166666
Respuesta exitosa: 177777
Respuesta exitosa: 188888
Respuesta exitosa: 200000
Respuesta exitosa: 211111
Respuesta exitosa: 222222
Respuesta exitosa: 233333
Respuesta exitosa: 244444
Respuesta exitosa: 377777
Respuesta exitosa: 266666
Respuesta exitosa: 322222
Respuesta exitosa: 366666
Respuesta exitosa: 433333

In [26]:
df_resultado = seleccionar_datos_deudas_ucg()
print(f'Se tiene {len(df_resultado)} registros en DB')

Se tiene 19526 registros en DB

In [27]:
df_resultado

,taalm,tipo,codInst,nomInst,codCan,ydrazonSocial,saldoCapital,cod_grupo
0,1,ALMACEN CENTRAL U.C.G.,1.0,ASOCIACIÓN DE PEQUEÑOS PRODUCTORES DE CAÑA CAM...,3361.0,ENRIQUEZ ROJAS ALBERTO,4584.8,1
1,2,ALMACÉN SHOPPING GUABIRA,1.0,ASOCIACIÓN DE PEQUEÑOS PRODUCTORES DE CAÑA CAM...,3361.0,ENRIQUEZ ROJAS ALBERTO,0.0,1
2,3,SURTIDOR GUABIRÁ,1.0,ASOCIACIÓN DE PEQUEÑOS PRODUCTORES DE CAÑA CAM...,3361.0,ENRIQUEZ ROJAS ALBERTO,0.0,1
3,4,OTROS SURTIDORES,1.0,ASOCIACIÓN DE PEQUEÑOS PRODUCTORES DE CAÑA CAM...,3361.0,ENRIQUEZ ROJAS ALBERTO,0.0,1
4,10001,PRESTAMOS VARIOS,1.0,ASOCIACIÓN DE PEQUEÑOS PRODUCTORES DE CAÑA CAM...,3361.0,ENRIQUEZ ROJAS ALBERTO,0.0,1
...,...,...,...,...,...,...,...,...
19521,10010,OTRA UNIÓN,NaN,None,NaN,None,0.0,2029
19522,10013,ESTUDIO DE SUELOS Y EQUIPO,NaN,None,NaN,None,0.0,2029
19523,10014,OTROS PRESTAMOS SIN APORTE,NaN,None,NaN,None,0.0,2029
19524,10015,MULTAS,NaN,None,NaN,None,0.0,2029
19525,10016,PRESTAMOS DE CONVENIO,NaN,None,NaN,None,0.0,2029

In [28]:
filename = 'DeudasUCG.xlsx'
out = os.path.join(PATH_OUT, filename)
df_resultado.to_excel(out, index=False)