In [26]:
import sys
sys.path.append('../..')

import requests
import json
import pandas as pd
import os

import sqlite3
import ipywidgets as widgets

In [10]:
from config import RUTA_UNIDAD_ONE_DRIVE
from config import RUTA_LOCAL_ONE_DRIVE

RUTA_COMPLETA = os.path.join(RUTA_UNIDAD_ONE_DRIVE, RUTA_LOCAL_ONE_DRIVE)
PATH_OUT = RUTA_UNIDAD_ONE_DRIVE + r'\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AGRO-CITTCA\API_FINANCIERO'
PARH_XLSX_GRUPOS_UCAF = RUTA_UNIDAD_ONE_DRIVE + '\Ingenio Azucarero Guabira S.A\COMPROMISOS ZAFRA 2025 - Documents\GRUPOS UCAF.xlsx'

In [11]:
def get_token():
    # URL base de la API
    url = "https://guabirasistemas.com:9062/Auth/login"
    # Parámetros de consulta
    params = {
        "pStrUsuario": "USRUCAF",
        "pStrClave": "DC513EA4FBDAA7A14786FFDEBC4EF64E"
    }
    response = requests.get(url, params=params)
    data = json.loads(response.text)
    token = data['evUser']['token']
    return token

In [13]:
TOKEN = get_token()
TOKEN

'eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiVVNSVUNBRiIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcm9sZSI6IlVzdWFyaW8iLCJleHAiOjE3NDg5MzA2MTR9.9Lm91fV0KEw9PXVy9kabSV4L5NhpE-FZ4yya4wI8er4'

# /Cml/TipoCreditos

In [18]:
def get_tipo_credito():
    api_url = "https://guabirasistemas.com:9062/Cml/TipoCreditos"
    headers = {
        "Authorization": f"Bearer {TOKEN}"
    }
    response = requests.get(api_url, headers=headers)
    res = response.json()
    tipos_prestamo = res['evTipos']
    df = pd.DataFrame(tipos_prestamo)
    filename = 'TipoCreditos.xlsx'
    out = os.path.join(PATH_OUT, filename)
    df.to_excel(out, index=False)
    print(f'Se descargo los datos de TIPO CREDITOS')

# /Cml/ObtenerGrupo

In [19]:
# conectar a la base SQLite (creará archivo si no existe)
conn = sqlite3.connect('db_data_agrocittca.db')
cursor = conn.cursor()

# crear tabla
cursor.execute('''
CREATE TABLE IF NOT EXISTS grupo_caneros (
    codgrupo INTEGER,
    codcanero INTEGER,
    nombrecanero TEXT,
    codfinanza INTEGER,
    totaldeuda REAL
)
''')

In [91]:
def get_obtener_grupo(cod_ca):
    api_url = "https://guabirasistemas.com:9062/Cml/ObtenerGrupo"
    headers = {
        "Authorization": f"Bearer {TOKEN}"
    }
    params = {
        "pStrCanero": str(cod_ca)
    }
    response = requests.get(api_url, headers=headers, params=params)
    res = response.json()
    grupos = res['evGrupos']
    df = pd.DataFrame(grupos)
    return df

def seleccionar_datos():
    # conectar a la base SQLite
    conn = sqlite3.connect('db_data_agrocittca.db')
    # leer datos con pandas
    df = pd.read_sql_query('SELECT * FROM grupo_caneros', conn)
    # cerrar conexión
    conn.close()
    return df

def borrar_todos_los_datos():
    # conectar a la base SQLite
    conn = sqlite3.connect('db_data_agrocittca.db')
    cursor = conn.cursor()
    # ejecutar borrado
    cursor.execute('DELETE FROM grupo_caneros')
    # confirmar cambios
    conn.commit()
    conn.close()
    print("Todos los datos de la tabla grupo_caneros han sido borrados.")
    return None
    
def obtener_codigos_ca():
    df = pd.read_excel(PARH_XLSX_GRUPOS_UCAF, sheet_name='GRUPO ECONOMICO')
    df_sin_repetidos = df.drop_duplicates(subset=['GRUPO ECONOMICO'])
    lista_cods = list(set(df_sin_repetidos['CODIGO']))
    return lista_cods

def seleccionar_codcanero_distintos():
    # conectar a la base SQLite
    conn = sqlite3.connect('db_data_agrocittca.db')
    # ejecutar consulta y leer resultados
    df = pd.read_sql_query('SELECT DISTINCT codcanero FROM grupo_caneros', conn)
    # cerrar conexión
    conn.close()
    return list(df['codcanero'])

def obtener_diferencia(lista_a, lista_b):
    # convertir lista_b a set para búsqueda rápida
    set_b = set(lista_b)
    # filtrar los que no están en lista_b
    diferencia = [x for x in lista_a if x not in set_b]
    return diferencia

In [92]:
borrar_todos_los_datos()

Todos los datos de la tabla grupo_caneros han sido borrados.

In [93]:
cods_ucaf = obtener_codigos_ca()
print(f'Se encontraron {len(cods_ucaf)} codigos.')

Se encontraron 857 codigos.

In [94]:
cods_db = seleccionar_codcanero_distintos()
print(f'Se encontraron {len(cods_db)} codigos en la BD')

Se encontraron 0 codigos en la BD

In [95]:
codigos_faltantes = obtener_diferencia(cods_ucaf, cods_db)
print(f'Se encontraron {len(codigos_faltantes)} codigos faltantes en la BD')

Se encontraron 857 codigos faltantes en la BD

In [98]:
contador = 0
for cod in codigos_faltantes:
    intentos = 0
    max_intentos = 3
    while intentos < max_intentos:
        try:
            df_grupo = get_obtener_grupo(cod)

            conn = sqlite3.connect('db_data_agrocittca.db')
            df_grupo.to_sql('grupo_caneros', conn, if_exists='append', index=False)
            conn.close()

            #print(f'Se procesó código: {cod}')
            contador = contador + 1
            with detalle_grupo_procesado:
                detalle_grupo_procesado.clear_output()
                display(f'Se ha procesado el codigo: {cod}')
                display(f'Contador: {contador}')
            break  # si salió bien, salir del while

        except requests.exceptions.ConnectTimeout:
            intentos += 1
            print(f'Timeout en intento {intentos} para código {cod}')
            time.sleep(5)

        except Exception as e:
            print(f'Error inesperado para código {cod}: {e}')
            break  # para errores que no sean timeout, salir del while

Error inesperado para código  : 'evGrupos'

In [97]:
detalle_grupo_procesado = widgets.Output(layout={'border': '1px solid black'})
detalle_grupo_procesado

Output(layout=Layout(border_bottom='1px solid black', border_left='1px solid black', border_right='1px solid b…

In [99]:
df_resultado = seleccionar_datos()
print(f'Se tiene {len(df_resultado)} registros en DB')

Se tiene 1366 registros en DB

In [100]:
filename = 'ObtenerGrupo.xlsx'
out = os.path.join(PATH_OUT, filename)
df_resultado.to_excel(out, index=False)

# /Cml/EstadoCuenta

In [128]:
conn = sqlite3.connect('db_data_agrocittca.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS estado_cuenta (
    nrocontrato TEXT,         -- Parece ser una cadena de texto (ej. '0000010019105')
    moneda TEXT,              -- Texto (ej. 'USD')
    claseprstamo TEXT,        -- Texto (ej. 'Préstamo Anticipo Semanal')
    montocredito REAL,        -- Números decimales (ej. 2574.53)
    integenerado REAL,        -- Números decimales (ej. 0.00)
    intercobrado REAL,        -- Números decimales (ej. 0.00)
    interxcobrar REAL,        -- Números decimales (ej. 0.00)
    saldopendiente REAL,      -- Números decimales (ej. 0.00)
    totalpagado REAL,         -- Números decimales (ej. 2574.53)
    totaldeuda REAL,          -- Números decimales (ej. 0.00)
    estado TEXT,              -- Texto (ej. 'PAGADO')
    diasmora INTEGER,         -- Números enteros (ej. 0)
    cod_grupo INTEGER,        -- Números enteros (ej. 262)
    cod_canero INTEGER        -- Números enteros (ej. 1215)
)
''')

# Confirmar los cambios y cerrar la conexión
conn.commit()
conn.close()

In [149]:
def seleccionar_datos_estado_cuenta():
    # conectar a la base SQLite
    conn = sqlite3.connect('db_data_agrocittca.db')
    # leer datos con pandas
    df = pd.read_sql_query('SELECT * FROM estado_cuenta', conn)
    # cerrar conexión
    conn.close()
    return df

def borrar_todos_los_datos_estado_cuenta():
    # conectar a la base SQLite
    conn = sqlite3.connect('db_data_agrocittca.db')
    cursor = conn.cursor()
    # ejecutar borrado
    cursor.execute('DELETE FROM estado_cuenta')
    # confirmar cambios
    conn.commit()
    conn.close()
    print("Todos los datos de la tabla estado_cueta han sido borrados.")
    return None

def obtener_codigos_ca_eco():
    df = pd.read_excel(PARH_XLSX_GRUPOS_UCAF, sheet_name='GRUPO ECONOMICO')
    df = df[['CODIGO', 'GRUPO ECONOMICO']]
    df = df.rename(columns={'CODIGO': 'cod_canero', 'GRUPO ECONOMICO': 'cod_grupo'})
    return df

def codcanero_distintos_estado_cuenta():
    # conectar a la base SQLite
    conn = sqlite3.connect('db_data_agrocittca.db')
    # ejecutar consulta y leer resultados
    df = pd.read_sql_query('SELECT DISTINCT cod_canero FROM estado_cuenta', conn)
    # cerrar conexión
    conn.close()
    return list(df['cod_canero'])

def get_estado_cuenta(grupo, canero):
    api_url = "https://guabirasistemas.com:9062/Cml/EstadoCuenta"
    headers = {
        "Authorization": f"Bearer {TOKEN}"
    }
    params = {
        "pStrGrupo": grupo,
        "pStrCanero": canero
    }

    try:
        response = requests.get(api_url, headers=headers, params=params, timeout=5)
        response.raise_for_status()  # lanza error si el status != 200

        estado_cuenta = response.text  # porque devuelve text/plain
        data = json.loads(estado_cuenta)['evData']
        df = pd.DataFrame(data)
        return df
    except requests.exceptions.RequestException as e:
        print(f"Error al obtener estado de cuenta: {e}")
        return None

In [135]:
# borrar todos los datos de la tabla
borrar_todos_los_datos_estado_cuenta()

Todos los datos de la tabla estado_cueta han sido borrados.

In [144]:
lista_cods_ca_eco = obtener_codigos_ca_eco()
lista_cods_ca_eco.head(3)

  cod_canero  cod_grupo
0       3361          1
1       2380          2
2       2674          2

In [152]:
lista_cod_ca_ucaf = list(lista_cods_ca_eco['cod_canero'])

In [151]:
lista_cod_ca_db = codcanero_distintos_estado_cuenta()

In [122]:
estado_cuenta = get_estado_cuenta(262, 1215)

In [124]:
estado_cuenta['cod_grupo'] = 262

In [126]:
estado_cuenta['cod_canero'] = 1215

In [127]:
estado_cuenta

,nrocontrato,moneda,claseprstamo,montocredito,integenerado,intercobrado,interxcobrar,saldopendnte,totalpagado,totaldeuda,estado,diasmora,cod_grupo,cod_canero
0,0000010019105,USD,Préstamo Anticipo Semanal,2574.53,0.00,0.00,0.00,0.00,2574.53,0.00,PAGADO,0,262,1215
1,0000010024156,USD,Préstamo Anticipo Semanal,2625.76,0.00,0.00,0.00,0.00,2625.76,0.00,PAGADO,0,262,1215
2,0000010028091,USD,Préstamo Anticipo Semanal,2993.80,0.00,0.00,0.00,0.00,2993.80,0.00,PAGADO,0,262,1215
3,0000010017084,USD,Préstamo Cañero,28735.64,1679.46,1679.46,0.00,0.00,28735.64,0.00,PAGADO,0,262,1215
4,0000010025902,USD,Préstamo Cañero,17241.38,88.12,88.12,0.00,0.00,17241.38,0.00,PAGADO,0,262,1215
5,0000010002588,USD,Préstamo Pre-zafra,991.64,15.42,15.42,0.00,0.00,991.64,0.00,PAGADO,0,262,1215
6,0000010000994,USD,Préstamo Pre-zafra,1983.27,62.10,62.10,0.00,0.00,1983.27,0.00,PAGADO,0,262,1215
7,0000010005876,USD,Préstamo Pre-zafra,906.15,52.36,52.36,0.00,0.00,906.15,0.00,PAGADO,0,262,1215
8,0000010007053,USD,Préstamo Pre-zafra,1812.30,58.39,58.39,0.00,0.00,1812.30,0.00,PAGADO,0,262,1215
9,0000010008272,USD,Préstamo Pre-zafra,906.15,23.04,23.04,0.00,0.00,906.15,0.00,PAGADO,0,262,1215
10,0000010011176,USD,Préstamo Pre-zafra,4118.52,134.42,134.42,0.00,0.00,4118.52,0.00,PAGADO,0,262,1215
11,0000010012370,USD,Préstamo Pre-zafra,2059.26,49.76,49.76,0.00,0.00,2059.26,0.00,PAGADO,0,262,1215
12,0000010014611,USD,Préstamo Pre-zafra,3906.88,118.83,118.83,0.00,0.00,3906.88,0.00,PAGADO,0,262,1215
13,0000010015880,USD,Préstamo Pre-zafra,1953.44,35.27,35.27,0.00,0.00,1953.44,0.00,PAGADO,0,262,1215
14,0000010017998,USD,Préstamo Pre-zafra,2574.53,87.96,87.96,0.00,0.00,2574.53,0.00,PAGADO,0,262,1215
15,0000010020437,USD,Préstamo Pre-zafra,2574.53,74.59,74.59,0.00,0.00,2574.53,0.00,PAGADO,0,262,1215
16,0000010021172,USD,Préstamo Pre-zafra,2574.53,70.44,70.44,0.00,0.00,2574.53,0.00,PAGADO,0,262,1215
17,0000010022838,USD,Préstamo Pre-zafra,5221.52,176.97,176.97,0.00,0.00,5221.52,0.00,PAGADO,0,262,1215
18,0000010027005,USD,Préstamo Pre-zafra,2976.69,69.03,69.03,0.00,0.00,2976.69,0.00,PAGADO,0,262,1215
19,0000010029393,USD,Préstamo Pre-zafra,2976.69,37.20,37.20,0.00,0.00,2976.69,0.00,PAGADO,0,262,1215
20,0000010030897,USD,Préstamo Pre-zafra,3003.55,122.49,122.49,0.00,0.00,3003.55,0.00,PAGADO,0,262,1215
21,0000010032091,USD,Préstamo Pre-zafra,3003.55,72.03,72.03,0.00,0.00,3003.55,0.00,PAGADO,0,262,1215
22,0000010033817,USD,Préstamo Pre-zafra,3978.76,154.78,154.78,0.00,0.00,3978.76,0.00,PAGADO,0,262,1215
23,0000010034862,USD,Préstamo Pre-zafra,3978.76,109.43,109.43,0.00,0.00,3978.76,0.00,PAGADO,0,262,1215
24,0000010036326,USD,Préstamo Pre-zafra,4004.16,122.92,0.00,122.92,4004.16,0.00,4127.08,VIGENTE,0,262,1215
25,0000010037235,USD,Préstamo Pre-zafra,4004.16,72.08,0.00,72.08,4004.16,0.00,4076.24,VIGENTE,0,262,1215
26,0000010037907,USD,Préstamo Pre-zafra,2011.49,13.08,0.00,13.08,2011.49,0.00,2024.57,VENCIDO,1,262,1215
27,0000010025583,USD,Préstamo Siembra,24000.00,1858.03,1858.03,0.00,0.00,24000.00,0.00,PAGADO,0,262,1215
28,0000010026414,USD,Préstamo Siembra,14400.00,1800.45,1800.45,0.00,0.00,14400.00,0.00,PAGADO,0,262,1215
29,0000010026579,USD,Préstamo Siembra,9600.00,1406.34,1406.34,0.00,0.00,9600.00,0.00,PAGADO,0,262,1215
30,0000010030330,USD,Préstamo Siembra,620.00,10.75,10.75,0.00,0.00,620.00,0.00,PAGADO,0,262,1215

In [130]:
df_resultado = seleccionar_datos_estado_cuenta()
print(f'Se tiene {len(df_resultado)} registros en DB')

Se tiene 0 registros en DB

In [17]:
get_tipo_credito()