In [15]:
import sys
sys.path.append('../')

In [16]:
import pandas as pd
import geopandas as gpd
from sqlalchemy import create_engine, Table, text

from config import RUTA_UNIDAD_ONE_DRIVE
from config import RUTA_LOCAL_ONE_DRIVE
from config import POSTGRES_UTEA

In [17]:
USER_DB = POSTGRES_UTEA['USER']
PASS_DB = POSTGRES_UTEA['PASSWORD']
HOST_DB = POSTGRES_UTEA['HOST']
PORT_DB = POSTGRES_UTEA['PORT']
NAME_DB = POSTGRES_UTEA['DATABASE']

ENGINE = create_engine(f'postgresql+psycopg://{USER_DB}:{PASS_DB}@{HOST_DB}:{PORT_DB}/{NAME_DB}')

PATH_GRUPOS_COSECHA = RUTA_UNIDAD_ONE_DRIVE + r'\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AVANCE COSECHA\2025\DATA\GRUPO_COSECHA.xlsx'
PATH_INSTITUCIONES = RUTA_UNIDAD_ONE_DRIVE + r'\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AVANCE COSECHA\2025\DATA\INSTITUCIONES.xlsx'

PATH_PLAN_ZAFRA = RUTA_UNIDAD_ONE_DRIVE + r'\Ingenio Azucarero Guabira S.A\COMPROMISOS ZAFRA 2025 - Documents\PLAN ZAFRA 2025\PLAN DE ZAFRA OFICIAL.xlsx'
PATH_LAICA = RUTA_UNIDAD_ONE_DRIVE + r'\Ingenio Azucarero Guabira S.A\COOR_GERENCIA_CANA - PARTES_LAICA\LAICA 6_2025.xlsx'
PATH_GRUPOS_ECO = RUTA_UNIDAD_ONE_DRIVE + r'\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AVANCE COSECHA\2025\DATA\GRUPOS ECONOMICOS.xlsx'
PATH_COMPROMISO_FIRMADO = RUTA_UNIDAD_ONE_DRIVE + r'\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AVANCE COSECHA\2025\DATA\COMPROMISOS FIRMADOS ZAFRA.xlsx'
PATH_TCH = RUTA_UNIDAD_ONE_DRIVE + r'\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AVANCE COSECHA\2025\DATA\TCHS.xlsx'

PATH_XLSX_ACCESOS_AGROCITTCA = RUTA_UNIDAD_ONE_DRIVE + r'\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AGRO-CITTCA\LISTA.xlsx'

In [18]:
def cargar_codigos_cosecha():
    try:
        df = pd.read_excel(PATH_GRUPOS_COSECHA, sheet_name='2025')
        df = df[['INS', 'CODIGO CAÑERO', 'NOMBRE CAÑERO', 'GRUPO DE COSECHA', 'DELEGADO']]
        df = df.rename(columns={
            'INS': 'inst',
            'CODIGO CAÑERO': 'cod_ca',
            'NOMBRE CAÑERO': 'nom_ca',
            'GRUPO DE COSECHA': 'cod_cos',
            'DELEGADO': 'delegado'
        })
        df = df.sort_values(by=['cod_cos', 'inst', 'cod_ca'])
        return df
    except Exception as e:
        print(f"❌ Error al cargar el archivo: {e}")
        return pd.DataFrame()

def cargar_cod_cos_a_db(df):
    # Convertir tipos para Postgres
    df['inst']     = df['inst'].astype('Int64')
    df['cod_ca']   = df['cod_ca'].astype('Int64')
    df['cod_cos']  = df['cod_cos'].astype('Int64')
    df['nom_ca']   = df['nom_ca'].astype(str)

    with ENGINE.begin() as conn:  # Inicia transacción
        # Vaciar la tabla y reiniciar secuencia
        conn.execute(text(f'TRUNCATE TABLE catastro_iag.data_codigos_cosecha RESTART IDENTITY'))
        
        # Insertar nuevos datos
        df.to_sql(
            name='data_codigos_cosecha',
            con=conn,  # conexión cruda dentro de la transacción
            schema='catastro_iag',
            if_exists='append',
            index=False,
            method='multi',
            chunksize=1000
        )
    print(f"✅ Se ha actualziado la tabla de codigos cosecha")

def get_accesos_agrocittca():
    try:
        df = pd.read_excel(PATH_XLSX_ACCESOS_AGROCITTCA)
        df = df.sort_values(by=['cod_cos'])
        return df
    except Exception as e:
        print(f"❌ Error accesos agrocittca: {e}")
        return pd.DataFrame()

def cargar_accesos_agrocittca_a_db(df):
    # Convertir tipos para Postgres
    df['id']     = df['id'].astype('Int64')
    df['cod_cos']  = df['cod_cos'].astype('Int64')
    df['cod_ca']   = df['cod_ca'].astype('Int64')
    df['nom_ca']   = df['nom_ca'].astype(str)

    with ENGINE.begin() as conn:  # Inicia transacción
        # Vaciar la tabla y reiniciar secuencia
        conn.execute(text(f'TRUNCATE TABLE data.data_accesos_agrocittca RESTART IDENTITY'))
        
        # Insertar nuevos datos
        df.to_sql(
            name='data_accesos_agrocittca',
            con=conn,  # conexión cruda dentro de la transacción
            schema='data',
            if_exists='append',
            index=False,
            method='multi',
            chunksize=1000
        )
    print(f"✅ Se ha actualziado la tabla de acceos de agrocittca")


def cargar_instituciones():
    try:
        df = pd.read_excel(PATH_INSTITUCIONES)
        return df
    except Exception as e:
        print(f"❌ Error al cargar el archivo: {e}")
        return pd.DataFrame()

def cargar_instituciones_a_db(df):
    # Convertir tipos para Postgres
    df['cod']     = df['cod'].astype('Int64')
    df['nom_inst']   = df['nom_inst'].astype(str)
    with ENGINE.begin() as conn:  # Inicia transacción
        # Vaciar la tabla y reiniciar secuencia
        conn.execute(text(f'TRUNCATE TABLE catastro_iag.data_instituciones RESTART IDENTITY'))
        # Insertar nuevos datos
        df.to_sql(
            name='data_instituciones',
            con=conn,  # conexión cruda dentro de la transacción
            schema='catastro_iag',
            if_exists='append',
            index=False,
            method='multi',
            chunksize=1000
        )
    print(f"✅ Se ha actualziado la tabla de instituciones")

def cargar_plan_zafra():
    try:
        df = pd.read_excel(PATH_PLAN_ZAFRA, sheet_name='BASE CAÑEROS')
        df = df[['INST.', 'COD. CAÑERO.1', 'NOMBRE DEL CAÑERO', 'TONELADAS COMPROMISO']]        
        df = df.rename(columns={
            'INST.': 'inst',
            'COD. CAÑERO.1': 'cod_ca',
            'NOMBRE DEL CAÑERO': 'nom_ca',
            'TONELADAS COMPROMISO': 'compromiso'
        })
        df = df.sort_values(by=['inst', 'cod_ca'])
        return df
    except Exception as e:
        print(f"❌ Error al cargar el archivo: {e}")
        return pd.DataFrame()

def cargar_plan_zafra_a_db(df):
    # Convertir tipos para Postgres
    df['inst']     = df['inst'].astype('Int64')
    df['cod_ca']   = df['cod_ca'].astype('Int64')
    df['nom_ca']   = df['nom_ca'].astype(str)
    with ENGINE.begin() as conn:  # Inicia transacción
        # Vaciar la tabla y reiniciar secuencia
        conn.execute(text(f'TRUNCATE TABLE catastro_iag.data_plan_zafra RESTART IDENTITY'))
        
        # Insertar nuevos datos
        df.to_sql(
            name='data_plan_zafra',
            con=conn,  # conexión cruda dentro de la transacción
            schema='catastro_iag',
            if_exists='append',
            index=False,
            method='multi',
            chunksize=1000
        )
    print(f"✅ Se ha actualziado la tabla de plan de zafra")
    
def get_resumen_estimativa():
    try:
        query = "select unidad_01, unidad_03, categoria, sum(area) as area from catastro_iag.estimativa group by unidad_01, unidad_03, categoria"
        df = pd.read_sql(query, ENGINE)
        return df
    except Exception as e:
        print("❌ Error al leer datos de ESTIMATIVA:", e)
        return pd.DataFrame()
    return None

def cargar_resumen_estimativa_a_db(df):
    with ENGINE.begin() as conn:  # Inicia transacción
        # Vaciar la tabla y reiniciar secuencia
        conn.execute(text(f'TRUNCATE TABLE catastro_iag.data_resumen_estimativa RESTART IDENTITY'))
        
        # Insertar nuevos datos
        df.to_sql(
            name='data_resumen_estimativa',
            con=conn,  # conexión cruda dentro de la transacción
            schema='catastro_iag',
            if_exists='append',
            index=False,
            method='multi',
            chunksize=1000
        )
    print(f"✅ Se ha actualziado la tabla de resumen estimativa")
    
def cargar_laica():
    try:
        df = pd.read_excel(PATH_LAICA, sheet_name='Datos')
        df = df[['Fecha', 'Cod. Cañero', 'Nombre Cañero', 'kg Caña Neta', '% Material Extraño (Inspección)', '% Pureza', 'PCF', 'Tipo Cosecha', 'Tipo Caña']]        
        df = df.rename(columns={
            'Fecha': 'fecha',
            'Cod. Cañero': 'cod_ca',
            'Nombre Cañero': 'nom_ca',
            'kg Caña Neta': 'kg_entregado',
            '% Material Extraño (Inspección)': 'me', 
            '% Pureza': 'pureza', 
            'PCF': 'pcf', 
            'Tipo Cosecha': 'tipo_cosecha', 
            'Tipo Caña': 'tipo_cana'
        })
        return df
    except Exception as e:
        print(f"❌ Error al cargar el archivo: {e}")
        return pd.DataFrame()

def cargar_datos_laica_a_db(df):
    with ENGINE.begin() as conn:  # Inicia transacción
        # Vaciar la tabla y reiniciar secuencia
        conn.execute(text(f'TRUNCATE TABLE catastro_iag.data_laica RESTART IDENTITY'))
        
        # Insertar nuevos datos
        df.to_sql(
            name='data_laica',
            con=conn,  # conexión cruda dentro de la transacción
            schema='catastro_iag',
            if_exists='append',
            index=False,
            method='multi',
            chunksize=1000
        )
    print(f"✅ Se ha actualziado la tabla de datos laica")

def cargar_grupos_eco():
    try:
        df = pd.read_excel(PATH_GRUPOS_ECO, sheet_name='RESUMEN_GRUPO_ECO')
        df = df.rename(columns={
            'DEUDOR': 'deudor',
            'CODIGO': 'codigo',
            'NOMBRE': 'nombre',
            'GRUPO ECONOMICO': 'grupo_economico',
            'COD. INSTITUCION': 'cod_institucion',
            'ORDEN': 'orden',
            'Cabeza del Grupo': 'cabeza_del_grupo'
        })
        return df
    except Exception as e:
        print(f"❌ Error al cargar el archivo: {e}")
        return pd.DataFrame()

def cargar_datos_grupo_eco_a_db(df):
    with ENGINE.begin() as conn:  # Inicia transacción
        # Vaciar la tabla y reiniciar secuencia
        conn.execute(text(f'TRUNCATE TABLE catastro_iag.data_grupo_eco RESTART IDENTITY'))
        
        # Insertar nuevos datos
        df.to_sql(
            name='data_grupo_eco',
            con=conn,  # conexión cruda dentro de la transacción
            schema='catastro_iag',
            if_exists='append',
            index=False,
            method='multi',
            chunksize=1000
        )
    print(f"✅ Se ha actualziado la tabla de datos grupos economicos")

def cargar_compromiso_firmado():
    try:
        df = pd.read_excel(PATH_COMPROMISO_FIRMADO, sheet_name='RESUMEN_COMPROMISO')
        df = df.rename(columns={
            'COD.': 'cod',
            'TONELADAS': 'toneladas',
            'GRUPO_ECO': 'grupo_eco'
        })
        return df
    except Exception as e:
        print(f"❌ Error al cargar el archivo: {e}")
        return pd.DataFrame()

def cargar_compromiso_firmado_a_db(df):
    with ENGINE.begin() as conn:  # Inicia transacción
        # Vaciar la tabla y reiniciar secuencia
        conn.execute(text(f'TRUNCATE TABLE catastro_iag.data_compromiso_firmado RESTART IDENTITY'))
        
        # Insertar nuevos datos
        df.to_sql(
            name='data_compromiso_firmado',
            con=conn,  # conexión cruda dentro de la transacción
            schema='catastro_iag',
            if_exists='append',
            index=False,
            method='multi',
            chunksize=1000
        )
    print(f"✅ Se ha actualziado la tabla de datos grupos economicos")

def cargar_estimativa_lote_a_db(df):
    with ENGINE.begin() as conn:  # Inicia transacción
        # Vaciar la tabla y reiniciar secuencia
        conn.execute(text(f'TRUNCATE TABLE catastro_iag.data_estimativa_lote RESTART IDENTITY'))
        
        # Insertar nuevos datos
        df.to_sql(
            name='data_estimativa_lote',
            con=conn,  # conexión cruda dentro de la transacción
            schema='catastro_iag',
            if_exists='append',
            index=False,
            method='multi',
            chunksize=1000
        )
    print(f"✅ Se ha actualziado la tabla de datos estimativa lote")

def cargar_xlsx_tchs():
    try:
        df = pd.read_excel(PATH_TCH)
        return df
    except Exception as e:
        print(f"❌ Error al cargar el archivo: {e}")
        return pd.DataFrame()

def cargar_estimativa_lote_a_db(df):
    with ENGINE.begin() as conn:  # Inicia transacción
        # Vaciar la tabla y reiniciar secuencia
        conn.execute(text(f'TRUNCATE TABLE catastro_iag.data_estimativa_lote RESTART IDENTITY'))
        
        # Insertar nuevos datos
        df.to_sql(
            name='data_estimativa_lote',
            con=conn,  # conexión cruda dentro de la transacción
            schema='catastro_iag',
            if_exists='append',
            index=False,
            method='multi',
            chunksize=1000
        )
    print(f"✅ Se ha actualziado la tabla de datos estimativa lote")

def get_propiedades_estimativa():
    try:
        query = "select distinct(unidad_01), unidad_02 from catastro_iag.estimativa order by unidad_01"
        df = pd.read_sql(query, ENGINE)
        return df
    except Exception as e:
        print("❌ Error al leer datos de ESTIMATIVA:", e)
        return pd.DataFrame()
    return None

def get_estimativa_idd():
    try:
        query = "SELECT unidad_01, unidad_03, unidad_05, categoria, area, unidad_01 || '|' || categoria idd FROM catastro_iag.estimativa"
        df = pd.read_sql(query, ENGINE)
        return df
    except Exception as e:
        print("❌ Error al leer datos de ESTIMATIVA:", e)
        return pd.DataFrame()
    return None

In [5]:
accesos = get_accesos_agrocittca()
cargar_accesos_agrocittca_a_db(accesos)

❌ Error accesos agrocittca: [Errno 13] Permission denied: 'G:\\\\Ingenio Azucarero Guabira S.A\\UTEA - SEMANAL - AGRO-CITTCA\\LISTA.xlsx'

KeyError: 'id'

In [19]:
codigos_cosecha = cargar_codigos_cosecha()
cargar_cod_cos_a_db(codigos_cosecha)

✅ Se ha actualziado la tabla de codigos cosecha

In [20]:
instituciones = cargar_instituciones()
cargar_instituciones_a_db(instituciones)

✅ Se ha actualziado la tabla de instituciones

In [21]:
plan_zafra = cargar_plan_zafra()
cargar_plan_zafra_a_db(plan_zafra)

✅ Se ha actualziado la tabla de plan de zafra

In [22]:
resumen_estimativa = get_resumen_estimativa()
cargar_resumen_estimativa_a_db(resumen_estimativa)

✅ Se ha actualziado la tabla de resumen estimativa

In [23]:
datos_laica = cargar_laica()
datos_laica['tn_entregado'] = datos_laica['kg_entregado'] / 1000
cargar_datos_laica_a_db(datos_laica)

✅ Se ha actualziado la tabla de datos laica

In [24]:
datos_grupo_eco = cargar_grupos_eco()
cargar_datos_grupo_eco_a_db(datos_grupo_eco)

✅ Se ha actualziado la tabla de datos grupos economicos

In [25]:
datos_compromiso_firmado = cargar_compromiso_firmado()
cargar_compromiso_firmado_a_db(datos_compromiso_firmado)

✅ Se ha actualziado la tabla de datos grupos economicos

In [26]:
tchs = cargar_xlsx_tchs()
tchs["idd"] = tchs.apply(lambda row: f"{row['cod_prop']}|{row['categoria']}", axis=1)
tchs.head(3)

   cod_prop nom_prop  categoria categoria 2  tch eval  tch_ajustado  idd
0         1   SONIMA          1        Nulo         0             0  1|1
1         1   SONIMA          2    Muy Bajo        20            20  1|2
2         1   SONIMA          3  Medio Bajo        30            30  1|3

In [27]:
estimativa = get_estimativa_idd()
estimativa.head(3)

   unidad_01  unidad_03 unidad_05  categoria      area   idd
0         55      14558     L14.1          3  0.010641  55|3
1         55      14558     L14.1          4  0.042564  55|4
2         55      14558     L14.1          3  0.021282  55|3

In [28]:
df_join = pd.merge(estimativa, tchs, on="idd", how="inner")
df_join['produccion'] = df_join['area'] * df_join['tch eval']

In [29]:
df_join = df_join[['unidad_01', 'unidad_03', 'unidad_05', 'area', 'produccion']]
df_join

         unidad_01  unidad_03 unidad_05      area  produccion
0               55      14558     L14.1  0.010641    0.425641
1               55      14558     L14.1  0.042564    1.915385
2               55      14558     L14.1  0.021282    0.851282
3               55      14558     L14.1  0.010641    0.532051
4               55      14558     L14.1  0.000000    0.000000
...            ...        ...       ...       ...         ...
1006903         55      14558     L14.1  0.021282    0.957692
1006904         55      14558     L14.1  0.085128    4.256410
1006905         55      14558     L14.1  0.021282    1.170513
1006906         55      14558     L14.1  0.010641    0.532051
1006907         55      14558     L14.1  0.042564    1.489744

[1006908 rows x 5 columns]

In [30]:
df_res = df_join.groupby(["unidad_01", "unidad_03", "unidad_05"])[["area", "produccion"]].sum().reset_index()

In [31]:
df_res[["area", "produccion"]] = df_res[["area", "produccion"]].round(2)

In [32]:
df_res

       unidad_01  unidad_03 unidad_05   area  produccion
0              1        388        L1   3.69      242.54
1              1        388     L10.2   7.96      487.38
2              1        388       L11   8.63      651.69
3              1        388     L13.2   7.26      314.97
4              1        388     L13.3   1.78       82.81
...          ...        ...       ...    ...         ...
10580       2302       1447        L5  16.03      610.22
10581       2302       1447        L6  11.72      670.92
10582       2302       1447        L7  16.80     1062.92
10583       2304       4915        L1   6.95      439.76
10584       2304       4915        L2   5.98      337.83

[10585 rows x 5 columns]

In [33]:
cargar_estimativa_lote_a_db(df_res)

✅ Se ha actualziado la tabla de datos estimativa lote

In [34]:
# obtiene el xlsx de TCHs
tch_xlsx = cargar_xlsx_tchs()
# 
props_estimativa = get_propiedades_estimativa()
lista_cods_props_tch_xlsx = list(set(tch_xlsx['cod_prop']))
lista_cods_props_estiamtiva = list(set(props_estimativa['unidad_01']))

In [35]:
cods_eliminar_de_xlsx = [x for x in lista_cods_props_tch_xlsx if x not in lista_cods_props_estiamtiva]
print('CODIGOS A ELIMINAR DE XLSX:')
cods_eliminar_de_xlsx

CODIGOS A ELIMINAR DE XLSX:

[1453, 1954]

In [36]:
cods_agregar_a_xlsx = [x for x in lista_cods_props_estiamtiva if x not in lista_cods_props_tch_xlsx]
print('CODIGOS A AGREGAR A XLSX:')
cods_agregar_a_xlsx

CODIGOS A AGREGAR A XLSX:

[]

In [37]:
df_filtrado = props_estimativa[props_estimativa['unidad_01'].isin(cods_agregar_a_xlsx)]
df_filtrado

Empty DataFrame
Columns: [unidad_01, unidad_02]
Index: []