In [16]:
import geopandas as gpd
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np
from datetime import datetime

import os
import ipywidgets as widgets

import tkinter as tk
from tkinter import filedialog as fd

In [17]:
# lista de cod_prop a eliminar, ya que fueron eliminados desde el anterior catastro
lista_eliminar = [592, 1483, 1482, 1480, 1634, 225, 429, 1454, 249, 1067, 92, 114, 915, 910, 20, 136, 1624, 1625, 1626]

len(lista_eliminar)

19

## Eliminar propiedades modificadas o eliminidas del DATA_EST.xlsx

In [18]:
data_est = pd.read_excel('DATA_EST.xlsx')

In [19]:
data_est['area'].sum()

53823.688764604995

In [20]:
data_est.head()

,cod_prop,nom_prop,cod_ca,nom_ca,categoria,area
0,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,NUNEZ_MARTINEZ_BRAULIO,1,2.651928
1,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,NUNEZ_MARTINEZ_BRAULIO,2,8.742085
2,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,NUNEZ_MARTINEZ_BRAULIO,3,11.546216
3,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,NUNEZ_MARTINEZ_BRAULIO,4,12.945301
4,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,NUNEZ_MARTINEZ_BRAULIO,5,18.101089

In [21]:
for i in lista_eliminar:
    data_est = data_est.drop(data_est[data_est['cod_prop'] == i].index)

In [22]:
data_est['area'].sum()

50814.078764605

In [23]:
data_est.to_excel('DATA_EST_2.xlsx')

## Eliminar propiedades modificadas o eliminadas del INTERSECT.SHP

In [24]:
intersect = gpd.read_file('INTERSECT.shp')

In [25]:
intersect.head(3)

,area,cultivo,fecha,financia,id,soca,textura,unidad_01,unidad_02,unidad_03,...,unidad_05,variedad,zona,count,label,area_2,COD,cod_prop,fs,geometry
0,25.94,canha,10/06/14,None,00003040000L1,8,FA,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,...,L1,RBB_77-26,1,1,7,0.001906,304.0,NaN,NaN,"POLYGON ((450074.799 8103440.000, 450073.230 8..."
1,25.94,canha,10/06/14,None,00003040000L1,8,FA,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,...,L1,RBB_77-26,1,5,7,0.045921,304.0,NaN,NaN,"POLYGON ((450090.000 8103410.000, 450090.000 8..."
2,25.94,canha,10/06/14,None,00003040000L1,8,FA,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,...,L1,RBB_77-26,1,8,8,0.070422,304.0,NaN,NaN,"POLYGON ((450081.075 8103400.000, 450080.000 8..."

In [26]:
intersect['area_2'].sum()

53698.528849798335

In [27]:
for i in lista_eliminar:
    intersect = intersect.drop(intersect[intersect['unidad_01'] == i].index)

In [29]:
intersect[intersect['unidad_01']==1483]

Empty GeoDataFrame
Columns: [area, cultivo, fecha, financia, id, soca, textura, unidad_01, unidad_02, unidad_03, unidad_04, unidad_05, variedad, zona, count, label, area_2, COD, cod_prop, fs, geometry]
Index: []

[0 rows x 21 columns]

In [30]:
intersect['area_2'].sum()

50688.918849798305

In [31]:
intersect.to_file("INTERSECT_2.shp", driver="ESRI Shapefile")

## Seleccionar porpiedades a procesar

In [1]:
# se lo realizo con arcmap, se importo los codigo en arcmap, y se hizo join con catastro para select las propiedades a actualizar