In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np
from datetime import datetime

import os
import ipywidgets as widgets

import tkinter as tk
from tkinter import filedialog as fd

In [2]:
# lista de cod_prop a eliminar, ya que fueron eliminados desde el anterior catastro
lista_eliminar = [24, 47, 47, 70, 89, 142, 222, 238, 238, 246, 258, 325, 329, 330, 358, 367, 418, 517, 556, 606, 617, 802, 863, 920, 943, 943, 953, 985, 993, 1074, 1126, 1250, 1362, 1657, 1749, 1805]
len(lista_eliminar)

36

## Eliminar propiedades modificadas o eliminidas del DATA_EST.xlsx

In [3]:
data_est = pd.read_excel('DATA_EST.xlsx')

In [4]:
data_est['area'].sum()

53670.294446521664

In [5]:
data_est.head()

,cod_prop,nom_prop,cod_ca,nom_ca,categoria,area
0,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,NUNEZ_MARTINEZ_BRAULIO,1,2.651928
1,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,NUNEZ_MARTINEZ_BRAULIO,2,8.742085
2,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,NUNEZ_MARTINEZ_BRAULIO,3,11.546216
3,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,NUNEZ_MARTINEZ_BRAULIO,4,12.945301
4,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,NUNEZ_MARTINEZ_BRAULIO,5,18.101089

In [6]:
for i in lista_eliminar:
    data_est = data_est.drop(data_est[data_est['cod_prop'] == i].index)

In [15]:
data_est['area'].sum()

51685.94444652166

In [16]:
data_est.to_excel('DATA_EST_2.xlsx')

## Eliminar propiedades modificadas o eliminadas del INTERSECT.SHP

In [8]:
intersect = gpd.read_file('INTERSECT.shp')

In [9]:
intersect.head(3)

,area,cultivo,fecha,financia,id,soca,textura,unidad_01,unidad_02,unidad_03,unidad_04,unidad_05,variedad,zona,count,label,area_2,COD,geometry
0,25.94,canha,10/06/14,None,00003040000L1,8,FA,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,NUNEZ_MARTINEZ_BRAULIO,L1,RBB_77-26,1,1,7,0.001906,304,"POLYGON ((450074.799 8103440.000, 450073.230 8..."
1,25.94,canha,10/06/14,None,00003040000L1,8,FA,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,NUNEZ_MARTINEZ_BRAULIO,L1,RBB_77-26,1,5,7,0.045921,304,"POLYGON ((450090.000 8103410.000, 450090.000 8..."
2,25.94,canha,10/06/14,None,00003040000L1,8,FA,304,MONTES_CLAROS--BRAULIO_NUÑEZ,9278,NUNEZ_MARTINEZ_BRAULIO,L1,RBB_77-26,1,8,8,0.070422,304,"POLYGON ((450081.075 8103400.000, 450080.000 8..."

In [10]:
intersect['area_2'].sum()

53517.184531714964

In [11]:
for i in lista_eliminar:
    intersect = intersect.drop(intersect[intersect['unidad_01'] == i].index)

In [12]:
intersect[intersect['unidad_01']==1657]

Empty GeoDataFrame
Columns: [area, cultivo, fecha, financia, id, soca, textura, unidad_01, unidad_02, unidad_03, unidad_04, unidad_05, variedad, zona, count, label, area_2, COD, geometry]
Index: []

In [13]:
intersect['area_2'].sum()

51532.834531715

In [17]:
intersect.to_file("INTERSECT_2.shp", driver="ESRI Shapefile")

## Seleccionar porpiedades a procesar

In [1]:
# se lo realizo con arcmap, se importo los codigo en arcmap, y se hizo join con catastro para select las propiedades a actualizar