In [33]:
import pandas as pd

In [34]:
# Cargar el archivo Excel
file_path = r'C:\Documents\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AVANCE COSECHA\2024\ESTIMATIVAS\MAP_09/TCH_LOTES.xlsx'
excel_data = pd.read_excel(file_path)

In [35]:
# Mostrar las primeras filas del archivo para revisión
excel_data.head()

   COD_PROP    LOTE      AREA  PRODUCCION        TCH
0       1.0    L6.1  2.050890   43.792398  21.352874
1       1.0  L6.2.2  1.667305   44.448415  26.658843
2       1.0   L10.2  7.785216  260.995130  33.524456
3       1.0    L8.3  2.026930   76.401598  37.693267
4       1.0  L6.2.1  6.366561  307.135827  48.242029

In [36]:
list_cods = list(set(excel_data['COD_PROP']))

In [30]:
list_cods = [1, 30]

In [37]:
df_destino = None
for i in list_cods:
    cod_prop = i
    prop = excel_data[excel_data['COD_PROP']==cod_prop]
    prop_sort_tch = prop.sort_values(by='TCH', ascending=True)
    total_area = prop_sort_tch['AREA'].sum()
    threshold = total_area * 0.2
    # Inicializar variables para acumular el área y almacenar las filas seleccionadas
    acum_area = 0
    selected_rows = []

    # Recorrer el dataframe y acumular el área hasta superar el umbral
    for index, row in prop_sort_tch.iterrows():
        acum_area += row['AREA']
        selected_rows.append(row)
        if acum_area > threshold:
            break
    # Crear un nuevo dataframe con las filas seleccionadas
    result_df = pd.DataFrame(selected_rows)
    df_destino = pd.concat([df_destino, result_df], ignore_index=True)

In [38]:
df_destino

      COD_PROP    LOTE       AREA  PRODUCCION        TCH
0          1.0    L6.1   2.050890   43.792398  21.352874
1          1.0  L6.2.2   1.667305   44.448415  26.658843
2          1.0   L10.2   7.785216  260.995130  33.524456
3          1.0    L8.3   2.026930   76.401598  37.693267
4          1.0  L6.2.1   6.366561  307.135827  48.242029
...        ...     ...        ...         ...        ...
3396    2174.0   L17.2   1.091489   49.337441  45.201975
3397    2174.0   L17.3  10.817984  490.716324  45.361162
3398    2175.0     L31   1.510210   30.764363  20.370913
3399    2175.0   L30.1   1.583273   57.232113  36.147966
3400    2175.0   L29.1  10.827786  442.500740  40.867148

[3401 rows x 5 columns]

In [40]:
output_path = r'C:\Documents\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - AVANCE COSECHA\2024\ESTIMATIVAS\MAP_09/TCH_LOTES_20.xlsx'
df_destino.to_excel(output_path, index=False)

In [14]:
cod_prop = list_cods[0]
cod_prop

1

In [16]:
prop = excel_data[excel_data['COD_PROP']==cod_prop]

In [18]:
prop_sort_tch = prop.sort_values(by='TCH', ascending=True)

In [25]:
total_area = prop_sort_tch['AREA'].sum()
total_area

123.93999999999993

In [27]:
porcion = total_area * 0.2
porcion

24.787999999999986

In [28]:
# Inicializar variables para acumular el área y almacenar las filas seleccionadas
acum_area = 0
threshold = 24.78
selected_rows = []

# Recorrer el dataframe y acumular el área hasta superar el umbral
for index, row in prop_sort_tch.iterrows():
    acum_area += row['AREA']
    selected_rows.append(row)
    if acum_area > threshold:
        break

# Crear un nuevo dataframe con las filas seleccionadas
result_df = pd.DataFrame(selected_rows)

In [29]:
result_df

    COD_PROP    LOTE       AREA  PRODUCCION        TCH
13         1    L6.1   2.050890   43.792398  21.352874
15         1  L6.2.2   1.667305   44.448415  26.658843
2          1   L10.2   7.785216  260.995130  33.524456
18         1    L8.3   2.026930   76.401598  37.693267
14         1  L6.2.1   6.366561  307.135827  48.242029
20         1    L9.2  11.044439  541.250454  49.006605

In [ ]:
# Supongamos que 'df_destino' es tu dataframe existente
# Combinar ambos dataframes
df_combined = pd.concat([df_destino, result_df], ignore_index=True)