In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('table_names.csv')

In [4]:
df

             TABLE_NAME
0             actividad
1           actividades
2                alerta
3      bitacora_usuario
4             categoria
..                  ...
57             unidades
58                users
59  users_import_alerta
60             variedad
61  video_documentacion

[62 rows x 1 columns]

In [6]:
list(df['TABLE_NAME'])

['actividad',
 'actividades',
 'alerta',
 'bitacora_usuario',
 'categoria',
 'categoria_producto',
 'costo',
 'costo_precio',
 'detalle_actividad',
 'detalle_costo',
 'detalle_operacion',
 'detalle_template_tipo_actividad',
 'detalle_tipo_actividad_lote',
 'documentacion',
 'empresa',
 'estado_lote',
 'failed_jobs',
 'fertilizantes_cania_cal',
 'fertilizantes_efectividad_cal',
 'galeria_alerta',
 'galeria_producto',
 'galeria_propiedad',
 'imagentiff',
 'indice_documentacion',
 'institucion',
 'labor',
 'lote',
 'mapa_estado',
 'maquinaria',
 'marca',
 'mensaje',
 'mes',
 'migrations',
 'modelo',
 'notificacion',
 'oauth_access_tokens',
 'oauth_auth_codes',
 'oauth_clients',
 'oauth_personal_access_clients',
 'oauth_refresh_tokens',
 'operacion',
 'operario',
 'password_resets',
 'periodo',
 'personal_access_tokens',
 'poligono_lote',
 'producto',
 'producto_act_miprecio',
 'producto_actividad',
 'propiedad',
 'sessions',
 'template_tipo_actividad',
 'textura',
 'tipo_actividad',
 'tipo_actividad_lote',
 'tipo_actividad_mi_precio',
 'unidad_medida',
 'unidades',
 'users',
 'users_import_alerta',
 'variedad',
 'video_documentacion']