In [1]:
path_xlsx_parte = r'C:\Documents\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - EQUIPO AVIACION UTEA\Trichogramma\PARTE DIARIO TRICHOGRAMMA 2024_RES.xlsx'

In [2]:
import sys
sys.path.append('../_amigocloud')

In [3]:
from amigocloud import AmigoCloud
import pandas as pd
from shapely import wkb

import geopandas as gpd
from shapely.geometry import Point, Polygon, MultiPolygon, MultiPoint
#from shapely.geometry import Point, MultiPoint
import os
#from fastkml import kml

In [4]:
# ruta de carpera donde estan las llaves
ruta = open('../ruta.txt')
ruta = ruta.readlines()[0]

In [5]:
# leer token
acceso = open(ruta + '/_keys/api_amigocloud.key','r')
api_token = acceso.readlines()[0]
acceso.close()
amigocloud = AmigoCloud(token=api_token)
amigocloud

In [6]:
consulta = {'query': 'select * from dataset_342996 order by idd'}
seleccion = amigocloud.get('https://app.amigocloud.com/api/v1/projects/33457/sql', consulta)
datos = seleccion['data']

In [7]:
df_datos = gpd.GeoDataFrame(datos)

In [8]:
list(set(df_datos['idd']))

[194, 195, 196, 197, 198, 199, 200, 201, 202]

In [28]:
query = {'query': 'SELECT\
    g.id, p.idd, p.fecha_registro, p.piloto_1, p.piloto_2, p.hora_inicio, p.hora_fin, p.labor, p.temperatura, p.viento, p.humedad, p.estado_de_operacion, p.dron, p.obs FROM dataset_342996 p JOIN dataset_345601 g ON ST_Intersects(p.ubicaciones, g.geometry) WHERE idd in (194, 195, 196, 197, 198, 199, 200, 201, 202)'}
select = amigocloud.get('https://app.amigocloud.com/api/v1/projects/33457/sql', query)
data = select['data']

In [29]:
df_lib = pd.DataFrame(data)

In [30]:
len(df_lib)

78

In [31]:
lista_idd = list(set(df_lib['idd']))
lista_idd

[194, 195, 196, 197, 198, 199, 200, 201, 202]

In [32]:
lista_id = list(set(df_lib['id']))
lista_id

[1088,
 1089,
 1090,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1148,
 1149,
 1154,
 1155,
 1163,
 1164,
 1165,
 1168,
 1180,
 1267,
 1268,
 1269,
 1270,
 1271,
 1272,
 1273,
 1274,
 1275,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1282,
 1283,
 1284,
 1285,
 1286,
 1287,
 1288,
 1289,
 1291,
 1292,
 1293,
 1294,
 1295,
 1296,
 1297,
 1298,
 1299,
 1300,
 1301,
 1302,
 1303,
 1304,
 1305,
 1306,
 1308,
 1309,
 1310,
 1311,
 1312,
 1313,
 1314,
 1315,
 1316,
 1317,
 1318,
 1319,
 1320,
 1321,
 1322,
 1323,
 1324,
 1325]

In [33]:
nulos = df_lib.isnull().sum()
nulos

id                      0
idd                     0
fecha_registro          0
piloto_1                0
piloto_2                0
hora_inicio             0
hora_fin                0
labor                   0
temperatura             0
viento                  0
humedad                 0
estado_de_operacion     0
dron                    0
obs                    78
dtype: int64

In [34]:
df_except_obs = df_lib.drop(columns=['obs'])
null_check = df_except_obs.isnull().any().any()

In [35]:
if null_check:
    df_lib = None
else:
    None

In [36]:
df_lib

,id,idd,fecha_registro,piloto_1,piloto_2,hora_inicio,hora_fin,labor,temperatura,viento,humedad,estado_de_operacion,dron,obs
0,1123,194,2024-09-11 23:23:46+00:00,EDUARDO REYES,EDUARDO REYES,2024-09-11 23:33:46+00:00,2024-09-12 03:15:46+00:00,LIBERACION,28,2,68,CONCLUIDO,DA 02,None
1,1124,194,2024-09-11 23:23:46+00:00,EDUARDO REYES,EDUARDO REYES,2024-09-11 23:33:46+00:00,2024-09-12 03:15:46+00:00,LIBERACION,28,2,68,CONCLUIDO,DA 02,None
2,1125,194,2024-09-11 23:23:46+00:00,EDUARDO REYES,EDUARDO REYES,2024-09-11 23:33:46+00:00,2024-09-12 03:15:46+00:00,LIBERACION,28,2,68,CONCLUIDO,DA 02,None
3,1126,194,2024-09-11 23:23:46+00:00,EDUARDO REYES,EDUARDO REYES,2024-09-11 23:33:46+00:00,2024-09-12 03:15:46+00:00,LIBERACION,28,2,68,CONCLUIDO,DA 02,None
4,1127,194,2024-09-11 23:23:46+00:00,EDUARDO REYES,EDUARDO REYES,2024-09-11 23:33:46+00:00,2024-09-12 03:15:46+00:00,LIBERACION,28,2,68,CONCLUIDO,DA 02,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,1308,202,2024-09-14 03:45:29+00:00,EDUARDO REYES,AURELIO GARCIA,2024-09-15 03:59:29+00:00,2024-09-14 06:43:29+00:00,LIBERACION,26,0,76,CONCLUIDO,DA 02,None
74,1310,202,2024-09-14 03:45:29+00:00,EDUARDO REYES,AURELIO GARCIA,2024-09-15 03:59:29+00:00,2024-09-14 06:43:29+00:00,LIBERACION,26,0,76,CONCLUIDO,DA 02,None
75,1313,202,2024-09-14 03:45:29+00:00,EDUARDO REYES,AURELIO GARCIA,2024-09-15 03:59:29+00:00,2024-09-14 06:43:29+00:00,LIBERACION,26,0,76,CONCLUIDO,DA 02,None
76,1315,202,2024-09-14 03:45:29+00:00,EDUARDO REYES,AURELIO GARCIA,2024-09-15 03:59:29+00:00,2024-09-14 06:43:29+00:00,LIBERACION,26,0,76,CONCLUIDO,DA 02,None
77,1316,202,2024-09-14 03:45:29+00:00,EDUARDO REYES,AURELIO GARCIA,2024-09-15 03:59:29+00:00,2024-09-14 06:43:29+00:00,LIBERACION,26,0,76,CONCLUIDO,DA 02,None

In [37]:
df_parte = pd.read_excel(path_xlsx_parte)

In [38]:
df_parte

,N° LABOR,FECHA,SEMANA,INSTITUCION,COD CANERO,NOMBRE CANERO,COD PROPIEDAD,NOMBRE PROPIEDAD,LOTE,HECTAREA,...,COD DRONE,PILOTO 1,PILOTO 2,OBSERVACIONES,CONFORMIDAD CANERO,FINANCIADO,ID,OS,IDD,REPORTE
0,641,2024-05-23 00:00:00,21.0,62,13171,SUAREZ JUSTINIANO DAVID,1958,NUEVA ESPERAZANZA - SUAREZ DAVID,L1,17.000000,...,DA 02,ALEJANDRO SANCHEZ,AURELIO GARCIA,NaN,NaN,SOLICITUD,NaN,NaN,NaN,SI
1,2024-07-16_510_1218,2024-07-16 00:00:00,29.0,66,1218,BALCAZAR ALCANTARA JOSE LOLY,510,LA BELLA & SANTA ROSA I & VILLA FLORES,L1,2.163175,...,MT 01,AURELIO GARCIA,AURELIO GARCIA,NaN,NaN,SIEMBRA 2024,207.0,34.0,51.0,NaN
2,2024-08-19_510_1218,2024-08-19 04:00:00,34.0,66,1218,BALCAZAR ALCANTARA JOSE LOLY,510,LA BELLA & SANTA ROSA I & VILLA FLORES,L1,2.163175,...,DA 01,EDUARDO REYES,AURELIO GARCIA,NaN,NaN,SIEMBRA 2024,917.0,63.0,132.0,NaN
3,558,2024-06-27 00:00:00,26.0,124,1530,CITTCA,299,C.I.T.T.C.A,C10.3,2.490000,...,DA 01,EDUARDO REYES,AURELIO GARCIA,NaN,NaN,SOLICITUD,NaN,NaN,NaN,SI
4,558,2024-06-27 00:00:00,26.0,124,1530,CITTCA,299,C.I.T.T.C.A,C12.2,0.830000,...,DA 01,EDUARDO REYES,AURELIO GARCIA,NaN,NaN,SOLICITUD,NaN,NaN,NaN,SI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245,NaN,NaT,NaN,0,18358,ROJAS AMELUNGE CARLOS,19,SANTA BARBARA,L5,8.271319,...,NaN,NaN,NaN,NaN,NaN,SIEMBRA 2024,1321.0,72.0,NaN,NaN
1246,NaN,NaT,NaN,124,1530,C.I.T.T.C.A.,299,C.I.T.T.C.A,C7.3,1.050864,...,NaN,NaN,NaN,NaN,NaN,SOLICITUD,1322.0,73.0,NaN,NaN
1247,NaN,NaT,NaN,124,1530,C.I.T.T.C.A.,299,C.I.T.T.C.A,C7.1,0.829978,...,NaN,NaN,NaN,NaN,NaN,SOLICITUD,1323.0,73.0,NaN,NaN
1248,NaN,NaT,NaN,62,13171,SUAREZ JUSTINIANO DAVID,1959,DON DAVID--SUAREZ DAVID,L1,5.753184,...,NaN,NaN,NaN,NaN,NaN,SOLICITUD,1324.0,73.0,NaN,NaN
1249,NaN,NaT,NaN,62,13171,SUAREZ JUSTINIANO DAVID,1959,DON DAVID--SUAREZ DAVID,L2,2.652299,...,NaN,NaN,NaN,NaN,NaN,SOLICITUD,1325.0,73.0,NaN,NaN

In [39]:
df_parte['FECHA'] = pd.to_datetime(df_parte['FECHA'], errors='coerce')
df_parte['HORA INICIO'] = pd.to_datetime(df_parte['HORA INICIO'], errors='coerce')
df_parte['HORA FINAL'] = pd.to_datetime(df_parte['HORA FINAL'], errors='coerce')

In [40]:
# Recorrer cada registro del DataFrame y actualizar los registros correspondientes en el archivo Excel
for idx, row in df_lib.iterrows():
    id_value = row['id']
    # Encontrar el índice correspondiente en el archivo Excel
    idx_parte = df_parte[df_parte['ID'] == id_value].index
    if not idx_parte.empty:
        idx_parte = idx_parte[0]
        # Convertir las fechas y eliminar la zona horaria
        fecha_registro = pd.to_datetime(row['fecha_registro'], errors='coerce').tz_localize(None)
        hora_inicio = pd.to_datetime(row['hora_inicio'], errors='coerce').tz_localize(None)
        hora_fin = pd.to_datetime(row['hora_fin'], errors='coerce').tz_localize(None)
        
        # Actualizar los valores en el archivo Excel
        df_parte.at[idx_parte, 'FECHA'] = fecha_registro
        df_parte.at[idx_parte, 'HORA INICIO'] = hora_inicio
        df_parte.at[idx_parte, 'HORA FINAL'] = hora_fin
        df_parte.at[idx_parte, 'TEMPERATURA'] = float(row['temperatura'])
        df_parte.at[idx_parte, 'VIENTO'] = float(row['viento'])
        df_parte.at[idx_parte, 'HUMEDAD'] = float(row['humedad'])
        df_parte.at[idx_parte, 'OPERACIÓN DETENIDA POR'] = str(row['estado_de_operacion'])
        df_parte.at[idx_parte, 'COD DRONE'] = str(row['dron'])
        df_parte.at[idx_parte, 'PILOTO 1'] = str(row['piloto_1'])
        df_parte.at[idx_parte, 'PILOTO 2'] = str(row['piloto_2'])
        df_parte.at[idx_parte, 'OBSERVACIONES'] = str(row['obs'])
        df_parte.at[idx_parte, 'IDD'] = float(row['idd'])
        df_parte.at[idx_parte, 'SEMANA'] = fecha_registro.isocalendar().week

C:\Users\bismarksr\AppData\Local\Temp\ipykernel_11476\2708270919.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_parte.at[idx_parte, 'OBSERVACIONES'] = str(row['obs'])

In [41]:
output_path = path_xlsx_parte
df_parte.to_excel(output_path, index=False)

# HACER COPIA Y ELIMINAR PARTE DIARIO Y PLANIFICACION DE AMIGOCLOUD

In [42]:
lista_idd

[194, 195, 196, 197, 198, 199, 200, 201, 202]

In [43]:
#copia y elimina los idd indicados del parte diario de amigocloud
for idd in lista_idd:
    id_proyecto = f'https://app.amigocloud.com/api/v1/projects/33457/sql'
    query = f'INSERT INTO dataset_348546 (fecha_registro, amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin, institucion, labor, temperatura, viento, humedad, estado_de_operacion, dron, obs, canhero, idd, ubicaciones) SELECT fecha_registro, amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin, institucion, labor, temperatura, viento, humedad, estado_de_operacion, dron, obs, canhero, idd, ubicaciones FROM dataset_342996 WHERE idd = {idd}'
    query_sql = {'query': query}
    post = amigocloud.post(id_proyecto, query_sql)
    query = {'query': f'DELETE FROM dataset_342996 WHERE idd = {idd}'}
    ejecutar = amigocloud.post(id_proyecto, query)
    print('se proceso IDD:', idd)

se proceso IDD: 194
se proceso IDD: 195
se proceso IDD: 196
se proceso IDD: 197
se proceso IDD: 198
se proceso IDD: 199
se proceso IDD: 200
se proceso IDD: 201
se proceso IDD: 202

In [44]:
#copia y elimina los id indicados de la planificacion semanal de amigocloud
for id in lista_id:
    id_proyecto = f'https://app.amigocloud.com/api/v1/projects/33457/sql'
    query = f'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = {id}'
    query_sql = {'query': query}
    post = amigocloud.post(id_proyecto, query_sql)
    query = {'query': f'DELETE FROM dataset_345601 WHERE id = {id}'}
    ejecutar = amigocloud.post(id_proyecto, query)
    print('se proceso ID:', id)

se proceso ID: 1088
se proceso ID: 1089
se proceso ID: 1090
se proceso ID: 1123
se proceso ID: 1124
se proceso ID: 1125
se proceso ID: 1126
se proceso ID: 1127
se proceso ID: 1128
se proceso ID: 1129
se proceso ID: 1130
se proceso ID: 1131
se proceso ID: 1148
se proceso ID: 1149
se proceso ID: 1154
se proceso ID: 1155
se proceso ID: 1163
se proceso ID: 1164
se proceso ID: 1165
se proceso ID: 1168
se proceso ID: 1180
se proceso ID: 1267
se proceso ID: 1268
se proceso ID: 1269
se proceso ID: 1270
se proceso ID: 1271
se proceso ID: 1272
se proceso ID: 1273
se proceso ID: 1274
se proceso ID: 1275
se proceso ID: 1276
se proceso ID: 1277
se proceso ID: 1278
se proceso ID: 1279
se proceso ID: 1280
se proceso ID: 1281
se proceso ID: 1282
se proceso ID: 1283
se proceso ID: 1284
se proceso ID: 1285
se proceso ID: 1286
se proceso ID: 1287
se proceso ID: 1288
se proceso ID: 1289
se proceso ID: 1291
se proceso ID: 1292
se proceso ID: 1293
se proceso ID: 1294
se proceso ID: 1295
se proceso ID: 1296
se proceso ID: 1297
se proceso ID: 1298
se proceso ID: 1299
se proceso ID: 1300
se proceso ID: 1301
se proceso ID: 1302
se proceso ID: 1303
se proceso ID: 1304
se proceso ID: 1305
se proceso ID: 1306
se proceso ID: 1308
se proceso ID: 1309
se proceso ID: 1310
se proceso ID: 1311
se proceso ID: 1312
se proceso ID: 1313
se proceso ID: 1314
se proceso ID: 1315
se proceso ID: 1316
se proceso ID: 1317
se proceso ID: 1318
se proceso ID: 1319
se proceso ID: 1320
se proceso ID: 1321
se proceso ID: 1322
se proceso ID: 1323
se proceso ID: 1324
se proceso ID: 1325

## Copiar ids de PARTE DIARIO a PLANIFICACION

In [50]:
path_planificacion = r'C:\Documents\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - EQUIPO AVIACION UTEA\Trichogramma\2024\SHP\PLANIFICACION.shp'
path_xlsx = r'C:\Documents\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - EQUIPO AVIACION UTEA\Trichogramma\PARTE DIARIO TRICHOGRAMMA 2024_RES.xlsx'

In [46]:
gdf_plan = gpd.read_file(path_planificacion)
df_xlsx = pd.read_excel(path_xlsx)

In [47]:
# Recorrer cada registro de df_xlsx
for index, row in df_xlsx.iterrows():
    id_value = row['ID']
    idd_value = row['IDD']
    
    # Actualizar el campo 'idd' en gdf_plan donde coincida el campo 'id'
    gdf_plan.loc[gdf_plan['id'] == id_value, 'idd'] = idd_value

In [ ]:
gdf_plan.to_file(path_planificacion, driver='ESRI Shapefile')