In [31]:
path_xlsx_parte = r'G:\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - EQUIPO AVIACION UTEA\Trichogramma\PARTE DIARIO TRICHOGRAMMA 2024_RES.xlsx'

In [32]:
import sys
sys.path.append('../_amigocloud')

In [33]:
from amigocloud import AmigoCloud
import pandas as pd
from shapely import wkb

import geopandas as gpd
from shapely.geometry import Point, Polygon, MultiPolygon, MultiPoint
#from shapely.geometry import Point, MultiPoint
import os
#from fastkml import kml

In [34]:
# ruta de carpera donde estan las llaves
ruta = open('../ruta.txt')
ruta = ruta.readlines()[0]

In [35]:
# leer token
acceso = open(ruta + '/_keys/api_amigocloud.key','r')
api_token = acceso.readlines()[0]
acceso.close()
amigocloud = AmigoCloud(token=api_token)
amigocloud

In [36]:
query = {'query': 'SELECT\
    g.id, p.idd, p.fecha_registro, p.piloto_1, p.piloto_2, p.hora_inicio, p.hora_fin, p.labor, p.temperatura, p.viento, p.humedad, p.estado_de_operacion, p.dron, p.obs FROM dataset_342996 p JOIN dataset_345601 g ON ST_Intersects(p.ubicaciones, g.geometry)'}
select = amigocloud.get('https://app.amigocloud.com/api/v1/projects/33457/sql', query)
data = select['data']

In [37]:
df_lib = pd.DataFrame(data)

In [38]:
df_lib

,id,idd,fecha_registro,piloto_1,piloto_2,hora_inicio,hora_fin,labor,temperatura,viento,humedad,estado_de_operacion,dron,obs
0,238,62,2024-06-23 04:00:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-23 14:30:00+00:00,2024-07-23 15:00:00+00:00,LIBERACION,25,15,68,CONCLUIDO,MT 01,None
1,239,59,2024-07-19 17:18:11+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 14:45:11+00:00,2024-07-19 15:39:11+00:00,LIBERACION,23,15,60,CONCLUIDO,MT 01,None
2,244,62,2024-06-23 04:00:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-23 14:30:00+00:00,2024-07-23 15:00:00+00:00,LIBERACION,25,15,68,CONCLUIDO,MT 01,None
3,271,58,2024-07-19 13:36:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 13:36:00+00:00,2024-07-21 14:15:00+00:00,LIBERACION,20,13,60,CONCLUIDO,MT 01,None
4,269,58,2024-07-19 13:36:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 13:36:00+00:00,2024-07-21 14:15:00+00:00,LIBERACION,20,13,60,CONCLUIDO,MT 01,None
5,278,58,2024-07-19 13:36:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 13:36:00+00:00,2024-07-21 14:15:00+00:00,LIBERACION,20,13,60,CONCLUIDO,MT 01,None
6,270,58,2024-07-19 13:36:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 13:36:00+00:00,2024-07-21 14:15:00+00:00,LIBERACION,20,13,60,CONCLUIDO,MT 01,None
7,279,59,2024-07-19 17:18:11+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 14:45:11+00:00,2024-07-19 15:39:11+00:00,LIBERACION,23,15,60,CONCLUIDO,MT 01,None
8,283,61,2024-07-18 18:17:24+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-18 12:36:24+00:00,2024-07-18 13:17:24+00:00,LIBERACION,20,3,63,CONCLUIDO,MT 01,None
9,285,61,2024-07-18 18:17:24+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-18 12:36:24+00:00,2024-07-18 13:17:24+00:00,LIBERACION,20,3,63,CONCLUIDO,MT 01,None
10,287,58,2024-07-19 13:36:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 13:36:00+00:00,2024-07-21 14:15:00+00:00,LIBERACION,20,13,60,CONCLUIDO,MT 01,None
11,289,60,2024-07-19 17:19:35+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 17:19:35+00:00,2024-07-19 19:30:35+00:00,LIBERACION,25,17,60,CONCLUIDO,MT 01,None
12,290,60,2024-07-19 17:19:35+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 17:19:35+00:00,2024-07-19 19:30:35+00:00,LIBERACION,25,17,60,CONCLUIDO,MT 01,None
13,292,62,2024-06-23 04:00:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-23 14:30:00+00:00,2024-07-23 15:00:00+00:00,LIBERACION,25,15,68,CONCLUIDO,MT 01,None
14,274,59,2024-07-19 17:18:11+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 14:45:11+00:00,2024-07-19 15:39:11+00:00,LIBERACION,23,15,60,CONCLUIDO,MT 01,None
15,280,61,2024-07-18 18:17:24+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-18 12:36:24+00:00,2024-07-18 13:17:24+00:00,LIBERACION,20,3,63,CONCLUIDO,MT 01,None
16,284,61,2024-07-18 18:17:24+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-18 12:36:24+00:00,2024-07-18 13:17:24+00:00,LIBERACION,20,3,63,CONCLUIDO,MT 01,None
17,286,61,2024-07-18 18:17:24+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-18 12:36:24+00:00,2024-07-18 13:17:24+00:00,LIBERACION,20,3,63,CONCLUIDO,MT 01,None
18,288,58,2024-07-19 13:36:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 13:36:00+00:00,2024-07-21 14:15:00+00:00,LIBERACION,20,13,60,CONCLUIDO,MT 01,None

In [39]:
lista_idd = list(set(df_lib['idd']))
lista_idd

[58, 59, 60, 61, 62]

In [40]:
lista_id = list(set(df_lib['id']))
lista_id

[269,
 270,
 271,
 274,
 278,
 279,
 280,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 292,
 238,
 239,
 244]

In [41]:
nulos = df_lib.isnull().sum()
nulos

id                      0
idd                     0
fecha_registro          0
piloto_1                0
piloto_2                0
hora_inicio             0
hora_fin                0
labor                   0
temperatura             0
viento                  0
humedad                 0
estado_de_operacion     0
dron                    0
obs                    19
dtype: int64

In [42]:
df_except_obs = df_lib.drop(columns=['obs'])
null_check = df_except_obs.isnull().any().any()

In [43]:
if null_check:
    df_lib = None
else:
    None

In [44]:
df_lib

,id,idd,fecha_registro,piloto_1,piloto_2,hora_inicio,hora_fin,labor,temperatura,viento,humedad,estado_de_operacion,dron,obs
0,238,62,2024-06-23 04:00:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-23 14:30:00+00:00,2024-07-23 15:00:00+00:00,LIBERACION,25,15,68,CONCLUIDO,MT 01,None
1,239,59,2024-07-19 17:18:11+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 14:45:11+00:00,2024-07-19 15:39:11+00:00,LIBERACION,23,15,60,CONCLUIDO,MT 01,None
2,244,62,2024-06-23 04:00:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-23 14:30:00+00:00,2024-07-23 15:00:00+00:00,LIBERACION,25,15,68,CONCLUIDO,MT 01,None
3,271,58,2024-07-19 13:36:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 13:36:00+00:00,2024-07-21 14:15:00+00:00,LIBERACION,20,13,60,CONCLUIDO,MT 01,None
4,269,58,2024-07-19 13:36:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 13:36:00+00:00,2024-07-21 14:15:00+00:00,LIBERACION,20,13,60,CONCLUIDO,MT 01,None
5,278,58,2024-07-19 13:36:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 13:36:00+00:00,2024-07-21 14:15:00+00:00,LIBERACION,20,13,60,CONCLUIDO,MT 01,None
6,270,58,2024-07-19 13:36:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 13:36:00+00:00,2024-07-21 14:15:00+00:00,LIBERACION,20,13,60,CONCLUIDO,MT 01,None
7,279,59,2024-07-19 17:18:11+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 14:45:11+00:00,2024-07-19 15:39:11+00:00,LIBERACION,23,15,60,CONCLUIDO,MT 01,None
8,283,61,2024-07-18 18:17:24+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-18 12:36:24+00:00,2024-07-18 13:17:24+00:00,LIBERACION,20,3,63,CONCLUIDO,MT 01,None
9,285,61,2024-07-18 18:17:24+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-18 12:36:24+00:00,2024-07-18 13:17:24+00:00,LIBERACION,20,3,63,CONCLUIDO,MT 01,None
10,287,58,2024-07-19 13:36:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 13:36:00+00:00,2024-07-21 14:15:00+00:00,LIBERACION,20,13,60,CONCLUIDO,MT 01,None
11,289,60,2024-07-19 17:19:35+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 17:19:35+00:00,2024-07-19 19:30:35+00:00,LIBERACION,25,17,60,CONCLUIDO,MT 01,None
12,290,60,2024-07-19 17:19:35+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 17:19:35+00:00,2024-07-19 19:30:35+00:00,LIBERACION,25,17,60,CONCLUIDO,MT 01,None
13,292,62,2024-06-23 04:00:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-23 14:30:00+00:00,2024-07-23 15:00:00+00:00,LIBERACION,25,15,68,CONCLUIDO,MT 01,None
14,274,59,2024-07-19 17:18:11+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 14:45:11+00:00,2024-07-19 15:39:11+00:00,LIBERACION,23,15,60,CONCLUIDO,MT 01,None
15,280,61,2024-07-18 18:17:24+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-18 12:36:24+00:00,2024-07-18 13:17:24+00:00,LIBERACION,20,3,63,CONCLUIDO,MT 01,None
16,284,61,2024-07-18 18:17:24+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-18 12:36:24+00:00,2024-07-18 13:17:24+00:00,LIBERACION,20,3,63,CONCLUIDO,MT 01,None
17,286,61,2024-07-18 18:17:24+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-18 12:36:24+00:00,2024-07-18 13:17:24+00:00,LIBERACION,20,3,63,CONCLUIDO,MT 01,None
18,288,58,2024-07-19 13:36:00+00:00,EDUARDO REYES,EDUARDO REYES,2024-07-19 13:36:00+00:00,2024-07-21 14:15:00+00:00,LIBERACION,20,13,60,CONCLUIDO,MT 01,None

In [45]:
df_parte = pd.read_excel(path_xlsx_parte)

In [46]:
df_parte

,NÂ° LABOR,FECHA,SEMANA,INSTITUCION,COD CANERO,NOMBRE CANERO,COD PROPIEDAD,NOMBRE PROPIEDAD,LOTE,HECTAREA,...,COD DRONE,PILOTO 1,PILOTO 2,OBSERVACIONES,CONFORMIDAD CANERO,FINANCIADO,ID,OS,IDD,REPORTE
0,641,2024-05-23,21.0,8,13171,SUAREZ JUSTINIANO DAVID,1958,NUEVA ESPERAZANZA - SUAREZ DAVID,L1,17.000000,...,DA 02,ALEJANDRO SANCHEZ,AURELIO GARCIA,NaN,NaN,SOLICITUD,NaN,NaN,NaN,SI
1,525,2024-06-27,26.0,66,1218,BALCAZAR ALCANTARA JOSE LOLY,510,LA BELLA & SANTA ROSA I & VILLA FLORES,L9.2,17.830000,...,DA 01,EDUARDO REYES,AURELIO GARCIA,NaN,NaN,CREDITO 2024,NaN,NaN,NaN,SI
2,525,2024-06-27,26.0,66,1218,BALCAZAR ALCANTARA JOSE LOLY,510,LA BELLA & SANTA ROSA I & VILLA FLORES,L13,10.710000,...,DA 01,EDUARDO REYES,AURELIO GARCIA,NaN,NaN,CREDITO 2024,NaN,NaN,NaN,SI
3,558,2024-06-27,26.0,124,1530,CITTCA,299,CITTCA,C10.3,2.490000,...,DA 01,EDUARDO REYES,AURELIO GARCIA,NaN,NaN,SOLICITUD,NaN,NaN,NaN,SI
4,558,2024-06-27,26.0,124,1530,CITTCA,299,CITTCA,C12.2,0.830000,...,DA 01,EDUARDO REYES,AURELIO GARCIA,NaN,NaN,SOLICITUD,NaN,NaN,NaN,SI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,NaN,NaT,NaN,0,13067,SAUCEDO CERRUTI SONIA,111,NAICO--CERRUTI,L5,0.535525,...,NaN,NaN,NaN,NaN,NaN,SIEMBRA 2023,288.0,41.0,NaN,NaN
307,NaN,NaT,NaN,304,41819,AGROPECUARIA GUSTAVITO SRL,251,FAJA KUMALI--CALLE,L8.1,3.674873,...,NaN,NaN,NaN,NaN,NaN,SIEMBRA 2023,289.0,41.0,NaN,NaN
308,NaN,NaT,NaN,304,41819,AGROPECUARIA GUSTAVITO SRL,1002,FAJA COTOCA,L2,1.159400,...,NaN,NaN,NaN,NaN,NaN,SIEMBRA 2023,290.0,41.0,NaN,NaN
309,NaN,NaT,NaN,50,86,AGUILERA TARADELLES JOSE LUIS,55,LA CONQUISTA--AGUILERA,L2.2,3.706051,...,NaN,NaN,NaN,NaN,NaN,SIEMBRA 2023,291.0,41.0,NaN,NaN
310,NaN,NaT,NaN,69,6550,JUSTINIANO PEREYRA ALVARO,333,LA CUTA--JUSTINIANO,B-6.1,0.590857,...,NaN,NaN,NaN,NaN,NaN,SOLICITUD,292.0,42.0,NaN,NaN

In [47]:
df_parte['FECHA'] = pd.to_datetime(df_parte['FECHA'], errors='coerce')
df_parte['HORA INICIO'] = pd.to_datetime(df_parte['HORA INICIO'], errors='coerce')
df_parte['HORA FINAL'] = pd.to_datetime(df_parte['HORA FINAL'], errors='coerce')

In [48]:
# Recorrer cada registro del DataFrame y actualizar los registros correspondientes en el archivo Excel
for idx, row in df_lib.iterrows():
    id_value = row['id']
    # Encontrar el Ã­ndice correspondiente en el archivo Excel
    idx_parte = df_parte[df_parte['ID'] == id_value].index
    if not idx_parte.empty:
        idx_parte = idx_parte[0]
        # Convertir las fechas y eliminar la zona horaria
        fecha_registro = pd.to_datetime(row['fecha_registro'], errors='coerce').tz_localize(None)
        hora_inicio = pd.to_datetime(row['hora_inicio'], errors='coerce').tz_localize(None)
        hora_fin = pd.to_datetime(row['hora_fin'], errors='coerce').tz_localize(None)
        
        # Actualizar los valores en el archivo Excel
        df_parte.at[idx_parte, 'FECHA'] = fecha_registro
        df_parte.at[idx_parte, 'HORA INICIO'] = hora_inicio
        df_parte.at[idx_parte, 'HORA FINAL'] = hora_fin
        df_parte.at[idx_parte, 'TEMPERATURA'] = float(row['temperatura'])
        df_parte.at[idx_parte, 'VIENTO'] = float(row['viento'])
        df_parte.at[idx_parte, 'HUMEDAD'] = float(row['humedad'])
        df_parte.at[idx_parte, 'OPERACIÃN DETENIDA POR'] = str(row['estado_de_operacion'])
        df_parte.at[idx_parte, 'COD DRONE'] = str(row['dron'])
        df_parte.at[idx_parte, 'PILOTO 1'] = str(row['piloto_1'])
        df_parte.at[idx_parte, 'PILOTO 2'] = str(row['piloto_2'])
        df_parte.at[idx_parte, 'OBSERVACIONES'] = str(row['obs'])
        df_parte.at[idx_parte, 'IDD'] = float(row['idd'])
        df_parte.at[idx_parte, 'SEMANA'] = fecha_registro.isocalendar().week

C:\Users\Usuario\AppData\Local\Temp\ipykernel_27012\2708270919.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_parte.at[idx_parte, 'OBSERVACIONES'] = str(row['obs'])

In [49]:
output_path = path_xlsx_parte
df_parte.to_excel(output_path, index=False)

# HACER COPIA Y ELIMINAR PARTE DIARIO Y PLANIFICACION DE AMIGOCLOUD

In [50]:
lista_idd

[58, 59, 60, 61, 62]

In [51]:
#copia y elimina los idd indicados del parte diario de amigocloud
for idd in lista_idd:
    id_proyecto = f'https://app.amigocloud.com/api/v1/projects/33457/sql'
    query = f'INSERT INTO dataset_348546 (fecha_registro, amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin, institucion, labor, temperatura, viento, humedad, estado_de_operacion, dron, obs, canhero, idd, ubicaciones) SELECT fecha_registro, amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin, institucion, labor, temperatura, viento, humedad, estado_de_operacion, dron, obs, canhero, idd, ubicaciones FROM dataset_342996 WHERE idd = {idd}'
    query_sql = {'query': query}
    post = amigocloud.post(id_proyecto, query_sql)
    query = {'query': f'DELETE FROM dataset_342996 WHERE idd = {idd}'}
    ejecutar = amigocloud.post(id_proyecto, query)
    print('se proceso IDD:', idd)

se proceso IDD: 58
se proceso IDD: 59
se proceso IDD: 60
se proceso IDD: 61
se proceso IDD: 62

In [52]:
#copia y elimina los id indicados de la planificacion semanal de amigocloud
for id in lista_id:
    id_proyecto = f'https://app.amigocloud.com/api/v1/projects/33457/sql'
    query = f'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = {id}'
    query_sql = {'query': query}
    post = amigocloud.post(id_proyecto, query_sql)
    query = {'query': f'DELETE FROM dataset_345601 WHERE id = {id}'}
    ejecutar = amigocloud.post(id_proyecto, query)
    print('se proceso ID:', id)

se proceso ID: 269
se proceso ID: 270
se proceso ID: 271
se proceso ID: 274
se proceso ID: 278
se proceso ID: 279
se proceso ID: 280
se proceso ID: 283
se proceso ID: 284
se proceso ID: 285
se proceso ID: 286
se proceso ID: 287
se proceso ID: 288
se proceso ID: 289
se proceso ID: 290
se proceso ID: 292
se proceso ID: 238
se proceso ID: 239
se proceso ID: 244