In [147]:
path_xlsx_parte = r'C:\Documents\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - EQUIPO AVIACION UTEA\Trichogramma\PARTE DIARIO TRICHOGRAMMA 2024_RES.xlsx'

In [148]:
import sys
sys.path.append('../_amigocloud')

In [149]:
from amigocloud import AmigoCloud
import pandas as pd
from shapely import wkb

import geopandas as gpd
from shapely.geometry import Point, Polygon, MultiPolygon, MultiPoint
#from shapely.geometry import Point, MultiPoint
import os
#from fastkml import kml

In [150]:
# ruta de carpera donde estan las llaves
ruta = open('../ruta.txt')
ruta = ruta.readlines()[0]

In [151]:
# leer token
acceso = open(ruta + '/_keys/api_amigocloud.key','r')
api_token = acceso.readlines()[0]
acceso.close()
amigocloud = AmigoCloud(token=api_token)
amigocloud

In [152]:
consulta = {'query': 'select * from dataset_342996 order by idd'}
seleccion = amigocloud.get('https://app.amigocloud.com/api/v1/projects/33457/sql', consulta)
datos = seleccion['data']

In [153]:
df_datos = gpd.GeoDataFrame(datos)

In [154]:
list(set(df_datos['idd']))

[158]

In [155]:
query = {'query': 'SELECT\
    g.id, p.idd, p.fecha_registro, p.piloto_1, p.piloto_2, p.hora_inicio, p.hora_fin, p.labor, p.temperatura, p.viento, p.humedad, p.estado_de_operacion, p.dron, p.obs FROM dataset_342996 p JOIN dataset_345601 g ON ST_Intersects(p.ubicaciones, g.geometry) WHERE idd in (158)'}
select = amigocloud.get('https://app.amigocloud.com/api/v1/projects/33457/sql', query)
data = select['data']

In [156]:
df_lib = pd.DataFrame(data)

In [157]:
len(df_lib)

0

In [158]:
lista_idd = list(set(df_lib['idd']))
lista_idd

KeyError: 'idd'

In [130]:
lista_id = list(set(df_lib['id']))
lista_id

[1027,
 1028,
 1029,
 1030,
 1032,
 1033,
 1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 1056,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1071,
 1072,
 1073,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 838,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 957,
 958,
 960,
 961,
 964,
 965,
 966,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 987,
 988,
 989,
 991,
 992,
 993,
 994,
 999,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1022]

In [131]:
nulos = df_lib.isnull().sum()
nulos

id                      0
idd                     0
fecha_registro          0
piloto_1                0
piloto_2                0
hora_inicio             0
hora_fin                0
labor                   0
temperatura             0
viento                  0
humedad                 0
estado_de_operacion     0
dron                    0
obs                    81
dtype: int64

In [132]:
df_except_obs = df_lib.drop(columns=['obs'])
null_check = df_except_obs.isnull().any().any()

In [133]:
if null_check:
    df_lib = None
else:
    None

In [134]:
df_lib

,id,idd,fecha_registro,piloto_1,piloto_2,hora_inicio,hora_fin,labor,temperatura,viento,humedad,estado_de_operacion,dron,obs
0,1067,151,2024-08-29 04:00:00+00:00,AURELIO GARCIA,CHRISTIAN CALIZAYA,2024-08-29 05:18:00+00:00,2024-08-29 05:25:00+00:00,LIBERACION,24,2,60,CONCLUIDO,DA 01,None
1,1063,152,2024-08-29 04:00:00+00:00,AURELIO GARCIA,CHRISTIAN CALIZAYA,2024-08-29 08:30:00+00:00,2024-08-29 08:42:10+00:00,LIBERACION,22,3,60,CONCLUIDO,DA 01,None
2,1066,152,2024-08-29 04:00:00+00:00,AURELIO GARCIA,CHRISTIAN CALIZAYA,2024-08-29 08:30:00+00:00,2024-08-29 08:42:10+00:00,LIBERACION,22,3,60,CONCLUIDO,DA 01,None
3,1064,153,2024-08-29 04:00:00+00:00,AURELIO GARCIA,CHRISTIAN CALIZAYA,2024-08-29 09:12:00+00:00,2024-08-29 09:25:00+00:00,LIBERACION,19,3,50,CONCLUIDO,DA 01,None
4,1065,153,2024-08-29 04:00:00+00:00,AURELIO GARCIA,CHRISTIAN CALIZAYA,2024-08-29 09:12:00+00:00,2024-08-29 09:25:00+00:00,LIBERACION,19,3,50,CONCLUIDO,DA 01,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,1032,165,2024-08-29 02:26:23+00:00,EDUARDO REYES,EDUARDO REYES,2024-08-28 23:27:23+00:00,2024-08-29 08:08:23+00:00,LIBERACION,24,2,78,CONCLUIDO,DA 03,None
77,1033,165,2024-08-29 02:26:23+00:00,EDUARDO REYES,EDUARDO REYES,2024-08-28 23:27:23+00:00,2024-08-29 08:08:23+00:00,LIBERACION,24,2,78,CONCLUIDO,DA 03,None
78,1075,165,2024-08-29 02:26:23+00:00,EDUARDO REYES,EDUARDO REYES,2024-08-28 23:27:23+00:00,2024-08-29 08:08:23+00:00,LIBERACION,24,2,78,CONCLUIDO,DA 03,None
79,1076,165,2024-08-29 02:26:23+00:00,EDUARDO REYES,EDUARDO REYES,2024-08-28 23:27:23+00:00,2024-08-29 08:08:23+00:00,LIBERACION,24,2,78,CONCLUIDO,DA 03,None
80,1080,165,2024-08-29 02:26:23+00:00,EDUARDO REYES,EDUARDO REYES,2024-08-28 23:27:23+00:00,2024-08-29 08:08:23+00:00,LIBERACION,24,2,78,CONCLUIDO,DA 03,None

In [135]:
df_parte = pd.read_excel(path_xlsx_parte)

In [136]:
df_parte

,N° LABOR,FECHA,SEMANA,INSTITUCION,COD CANERO,NOMBRE CANERO,COD PROPIEDAD,NOMBRE PROPIEDAD,LOTE,HECTAREA,...,COD DRONE,PILOTO 1,PILOTO 2,OBSERVACIONES,CONFORMIDAD CANERO,FINANCIADO,ID,OS,IDD,REPORTE
0,641,2024-05-23,21.0,8,13171,SUAREZ JUSTINIANO DAVID,1958,NUEVA ESPERAZANZA - SUAREZ DAVID,L1,17.000000,...,DA 02,ALEJANDRO SANCHEZ,AURELIO GARCIA,NaN,NaN,SOLICITUD,NaN,NaN,NaN,SI
1,525,2024-06-27,26.0,66,1218,BALCAZAR ALCANTARA JOSE LOLY,510,LA BELLA & SANTA ROSA I & VILLA FLORES,L9.2,17.830000,...,DA 01,EDUARDO REYES,AURELIO GARCIA,NaN,NaN,CREDITO 2024,NaN,NaN,NaN,SI
2,525,2024-06-27,26.0,66,1218,BALCAZAR ALCANTARA JOSE LOLY,510,LA BELLA & SANTA ROSA I & VILLA FLORES,L13,10.710000,...,DA 01,EDUARDO REYES,AURELIO GARCIA,NaN,NaN,CREDITO 2024,NaN,NaN,NaN,SI
3,558,2024-06-27,26.0,124,1530,CITTCA,299,CITTCA,C10.3,2.490000,...,DA 01,EDUARDO REYES,AURELIO GARCIA,NaN,NaN,SOLICITUD,NaN,NaN,NaN,SI
4,558,2024-06-27,26.0,124,1530,CITTCA,299,CITTCA,C12.2,0.830000,...,DA 01,EDUARDO REYES,AURELIO GARCIA,NaN,NaN,SOLICITUD,NaN,NaN,NaN,SI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,NaN,NaT,NaN,62,13171,SUAREZ JUSTINIANO DAVID,1395,LA CANDELARIA--SUAREZ DAVID,L2.1,3.962505,...,NaN,NaN,NaN,NaN,NaN,SOLICITUD,1077.0,66.0,NaN,NaN
1006,NaN,NaT,NaN,62,13171,SUAREZ JUSTINIANO DAVID,1395,LA CANDELARIA--SUAREZ DAVID,L2.3,16.207007,...,NaN,NaN,NaN,NaN,NaN,SOLICITUD,1078.0,66.0,NaN,NaN
1007,NaN,NaT,NaN,69,14993,VACA CUELLAR JORGE,211,LOS MAGUESES--VACA CUELLAR,L32.1,0.202827,...,NaN,NaN,NaN,NaN,NaN,SOLICITUD,1079.0,66.0,NaN,NaN
1008,NaN,NaT,NaN,69,2816,DONOSO BLANCO ALBERTO,74,LOS ARROYOS--DONOSO,A2,3.607199,...,NaN,NaN,NaN,NaN,NaN,SIEMBRA 2023,1080.0,66.0,NaN,NaN
1009,NaN,NaT,NaN,138,41599,LOPEZ TURIHUANO JUAN CARLOS,823,EL COLORADO II--JUAN CONDORI,L3.1.1,2.802879,...,NaN,NaN,NaN,NaN,NaN,SIEMBRA 2024,1081.0,66.0,NaN,NaN

In [137]:
df_parte['FECHA'] = pd.to_datetime(df_parte['FECHA'], errors='coerce')
df_parte['HORA INICIO'] = pd.to_datetime(df_parte['HORA INICIO'], errors='coerce')
df_parte['HORA FINAL'] = pd.to_datetime(df_parte['HORA FINAL'], errors='coerce')

In [138]:
# Recorrer cada registro del DataFrame y actualizar los registros correspondientes en el archivo Excel
for idx, row in df_lib.iterrows():
    id_value = row['id']
    # Encontrar el índice correspondiente en el archivo Excel
    idx_parte = df_parte[df_parte['ID'] == id_value].index
    if not idx_parte.empty:
        idx_parte = idx_parte[0]
        # Convertir las fechas y eliminar la zona horaria
        fecha_registro = pd.to_datetime(row['fecha_registro'], errors='coerce').tz_localize(None)
        hora_inicio = pd.to_datetime(row['hora_inicio'], errors='coerce').tz_localize(None)
        hora_fin = pd.to_datetime(row['hora_fin'], errors='coerce').tz_localize(None)
        
        # Actualizar los valores en el archivo Excel
        df_parte.at[idx_parte, 'FECHA'] = fecha_registro
        df_parte.at[idx_parte, 'HORA INICIO'] = hora_inicio
        df_parte.at[idx_parte, 'HORA FINAL'] = hora_fin
        df_parte.at[idx_parte, 'TEMPERATURA'] = float(row['temperatura'])
        df_parte.at[idx_parte, 'VIENTO'] = float(row['viento'])
        df_parte.at[idx_parte, 'HUMEDAD'] = float(row['humedad'])
        df_parte.at[idx_parte, 'OPERACIÓN DETENIDA POR'] = str(row['estado_de_operacion'])
        df_parte.at[idx_parte, 'COD DRONE'] = str(row['dron'])
        df_parte.at[idx_parte, 'PILOTO 1'] = str(row['piloto_1'])
        df_parte.at[idx_parte, 'PILOTO 2'] = str(row['piloto_2'])
        df_parte.at[idx_parte, 'OBSERVACIONES'] = str(row['obs'])
        df_parte.at[idx_parte, 'IDD'] = float(row['idd'])
        df_parte.at[idx_parte, 'SEMANA'] = fecha_registro.isocalendar().week

C:\Users\bismarksr\AppData\Local\Temp\ipykernel_30680\2708270919.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_parte.at[idx_parte, 'OBSERVACIONES'] = str(row['obs'])

In [139]:
output_path = path_xlsx_parte
df_parte.to_excel(output_path, index=False)

# HACER COPIA Y ELIMINAR PARTE DIARIO Y PLANIFICACION DE AMIGOCLOUD

In [140]:
lista_idd

[160, 161, 162, 163, 164, 165, 151, 152, 153, 154, 155, 156, 157, 159]

In [141]:
#copia y elimina los idd indicados del parte diario de amigocloud
for idd in lista_idd:
    id_proyecto = f'https://app.amigocloud.com/api/v1/projects/33457/sql'
    query = f'INSERT INTO dataset_348546 (fecha_registro, amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin, institucion, labor, temperatura, viento, humedad, estado_de_operacion, dron, obs, canhero, idd, ubicaciones) SELECT fecha_registro, amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin, institucion, labor, temperatura, viento, humedad, estado_de_operacion, dron, obs, canhero, idd, ubicaciones FROM dataset_342996 WHERE idd = {idd}'
    query_sql = {'query': query}
    post = amigocloud.post(id_proyecto, query_sql)
    query = {'query': f'DELETE FROM dataset_342996 WHERE idd = {idd}'}
    ejecutar = amigocloud.post(id_proyecto, query)
    print('se proceso IDD:', idd)

se proceso IDD: 160
se proceso IDD: 161
se proceso IDD: 162
se proceso IDD: 163
se proceso IDD: 164
se proceso IDD: 165
se proceso IDD: 151
se proceso IDD: 152
se proceso IDD: 153
se proceso IDD: 154
se proceso IDD: 155
se proceso IDD: 156
se proceso IDD: 157
se proceso IDD: 159

In [142]:
#copia y elimina los id indicados de la planificacion semanal de amigocloud
for id in lista_id:
    id_proyecto = f'https://app.amigocloud.com/api/v1/projects/33457/sql'
    query = f'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = {id}'
    query_sql = {'query': query}
    post = amigocloud.post(id_proyecto, query_sql)
    query = {'query': f'DELETE FROM dataset_345601 WHERE id = {id}'}
    ejecutar = amigocloud.post(id_proyecto, query)
    print('se proceso ID:', id)

se proceso ID: 1027
se proceso ID: 1028
se proceso ID: 1029
se proceso ID: 1030
se proceso ID: 1032
se proceso ID: 1033
se proceso ID: 1050
se proceso ID: 1051
se proceso ID: 1052
se proceso ID: 1053
se proceso ID: 1054
se proceso ID: 1055
se proceso ID: 1056
se proceso ID: 1058
se proceso ID: 1059
se proceso ID: 1060
se proceso ID: 1061
se proceso ID: 1062
se proceso ID: 1063
se proceso ID: 1064
se proceso ID: 1065
se proceso ID: 1066
se proceso ID: 1067
se proceso ID: 1071
se proceso ID: 1072
se proceso ID: 1073
se proceso ID: 1075
se proceso ID: 1076
se proceso ID: 1077
se proceso ID: 1078
se proceso ID: 1079
se proceso ID: 1080
se proceso ID: 1081
se proceso ID: 838
se proceso ID: 943
se proceso ID: 944
se proceso ID: 945
se proceso ID: 946
se proceso ID: 947
se proceso ID: 948
se proceso ID: 949
se proceso ID: 950
se proceso ID: 957
se proceso ID: 958
se proceso ID: 960
se proceso ID: 961
se proceso ID: 964
se proceso ID: 965
se proceso ID: 966
se proceso ID: 971
se proceso ID: 972
se proceso ID: 973
se proceso ID: 974
se proceso ID: 975
se proceso ID: 976
se proceso ID: 977
se proceso ID: 978
se proceso ID: 979
se proceso ID: 980
se proceso ID: 981
se proceso ID: 982
se proceso ID: 983
se proceso ID: 984
se proceso ID: 985
se proceso ID: 987
se proceso ID: 988
se proceso ID: 989
se proceso ID: 991
se proceso ID: 992
se proceso ID: 993
se proceso ID: 994
se proceso ID: 999
se proceso ID: 1003
se proceso ID: 1004
se proceso ID: 1005
se proceso ID: 1006
se proceso ID: 1007
se proceso ID: 1008
se proceso ID: 1009
se proceso ID: 1010
se proceso ID: 1022

## Copiar ids de PARTE DIARIO a PLANIFICACION

In [143]:
path_planificacion = r'C:\Documents\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - EQUIPO AVIACION UTEA\Trichogramma\2024\SHP\PLANIFICACION.shp'
path_xlsx = r'C:\Documents\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - EQUIPO AVIACION UTEA\Trichogramma\PARTE DIARIO TRICHOGRAMMA 2024_RES.xlsx'

In [144]:
gdf_plan = gpd.read_file(path_planificacion)
df_xlsx = pd.read_excel(path_xlsx)

In [145]:
# Recorrer cada registro de df_xlsx
for index, row in df_xlsx.iterrows():
    id_value = row['ID']
    idd_value = row['IDD']
    
    # Actualizar el campo 'idd' en gdf_plan donde coincida el campo 'id'
    gdf_plan.loc[gdf_plan['id'] == id_value, 'idd'] = idd_value

In [146]:
gdf_plan.to_file(path_planificacion, driver='ESRI Shapefile')