In [18]:
path_xlsx_parte = r'G:\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - EQUIPO AVIACION UTEA\Trichogramma\PARTE DIARIO TRICHOGRAMMA 2024_RES.xlsx'

In [19]:
import sys
sys.path.append('../_amigocloud')

In [20]:
from amigocloud import AmigoCloud
import pandas as pd
from shapely import wkb

import geopandas as gpd
from shapely.geometry import Point, Polygon, MultiPolygon, MultiPoint
#from shapely.geometry import Point, MultiPoint
import os
#from fastkml import kml

In [21]:
# ruta de carpera donde estan las llaves
ruta = open('../ruta.txt')
ruta = ruta.readlines()[0]

In [22]:
# leer token
acceso = open(ruta + '/_keys/api_amigocloud.key','r')
api_token = acceso.readlines()[0]
acceso.close()
amigocloud = AmigoCloud(token=api_token)
amigocloud

In [23]:
consulta = {'query': 'select * from dataset_342996 order by idd'}
seleccion = amigocloud.get('https://app.amigocloud.com/api/v1/projects/33457/sql', consulta)
datos = seleccion['data']

In [24]:
df_datos = gpd.GeoDataFrame(datos)

In [25]:
list(set(df_datos['idd']))

[203, 204]

In [26]:
query = {'query': 'SELECT\
    g.id, p.idd, p.fecha_registro, p.piloto_1, p.piloto_2, p.hora_inicio, p.hora_fin, p.labor, p.temperatura, p.viento, p.humedad, p.estado_de_operacion, p.dron, p.obs FROM dataset_342996 p JOIN dataset_345601 g ON ST_Intersects(p.ubicaciones, g.geometry) WHERE idd in (203, 204)'}
select = amigocloud.get('https://app.amigocloud.com/api/v1/projects/33457/sql', query)
data = select['data']

In [27]:
df_lib = pd.DataFrame(data)

In [28]:
len(df_lib)

33

In [29]:
lista_idd = list(set(df_lib['idd']))
lista_idd

[203, 204]

In [30]:
lista_id = list(set(df_lib['id']))
lista_id

[1559,
 1560,
 1561,
 1563,
 1565,
 1567,
 1568,
 1569,
 1570,
 1571,
 1572,
 1573,
 1574,
 1575,
 1576,
 1577,
 1578,
 1579,
 1580,
 1581,
 1582,
 1583,
 1584,
 1585,
 1586,
 1587,
 1588,
 1589,
 1590,
 1591,
 1592,
 1593,
 1594]

In [31]:
nulos = df_lib.isnull().sum()
nulos

id                      0
idd                     0
fecha_registro          0
piloto_1                0
piloto_2                0
hora_inicio             0
hora_fin                0
labor                   0
temperatura             0
viento                  0
humedad                 0
estado_de_operacion     0
dron                    0
obs                    33
dtype: int64

In [32]:
df_except_obs = df_lib.drop(columns=['obs'])
null_check = df_except_obs.isnull().any().any()

In [33]:
if null_check:
    df_lib = None
else:
    None

In [34]:
df_lib

,id,idd,fecha_registro,piloto_1,piloto_2,hora_inicio,hora_fin,labor,temperatura,viento,humedad,estado_de_operacion,dron,obs
0,1559,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
1,1560,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
2,1561,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
3,1563,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
4,1565,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
5,1567,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
6,1568,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
7,1569,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
8,1570,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
9,1571,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
10,1572,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
11,1573,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
12,1574,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
13,1575,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
14,1576,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
15,1577,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
16,1578,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
17,1579,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
18,1580,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
19,1581,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
20,1582,203,2024-09-16 04:00:00+00:00,ALEJANDRO SANCHEZ,ALEJANDRO SANCHEZ,2024-09-17 02:04:00+00:00,2024-09-17 07:34:00+00:00,LIBERACION,21,2,75,CONCLUIDO,DA 02,None
21,1583,204,2024-08-23 04:00:00+00:00,CHRISTIAN CALIZAYA,CHRISTIAN CALIZAYA,2024-08-24 03:50:00+00:00,2024-08-24 10:35:00+00:00,LIBERACION,24,3,75,CONCLUIDO,DA 03,None
22,1584,204,2024-08-23 04:00:00+00:00,CHRISTIAN CALIZAYA,CHRISTIAN CALIZAYA,2024-08-24 03:50:00+00:00,2024-08-24 10:35:00+00:00,LIBERACION,24,3,75,CONCLUIDO,DA 03,None
23,1585,204,2024-08-23 04:00:00+00:00,CHRISTIAN CALIZAYA,CHRISTIAN CALIZAYA,2024-08-24 03:50:00+00:00,2024-08-24 10:35:00+00:00,LIBERACION,24,3,75,CONCLUIDO,DA 03,None
24,1586,204,2024-08-23 04:00:00+00:00,CHRISTIAN CALIZAYA,CHRISTIAN CALIZAYA,2024-08-24 03:50:00+00:00,2024-08-24 10:35:00+00:00,LIBERACION,24,3,75,CONCLUIDO,DA 03,None
25,1587,204,2024-08-23 04:00:00+00:00,CHRISTIAN CALIZAYA,CHRISTIAN CALIZAYA,2024-08-24 03:50:00+00:00,2024-08-24 10:35:00+00:00,LIBERACION,24,3,75,CONCLUIDO,DA 03,None
26,1588,204,2024-08-23 04:00:00+00:00,CHRISTIAN CALIZAYA,CHRISTIAN CALIZAYA,2024-08-24 03:50:00+00:00,2024-08-24 10:35:00+00:00,LIBERACION,24,3,75,CONCLUIDO,DA 03,None
27,1589,204,2024-08-23 04:00:00+00:00,CHRISTIAN CALIZAYA,CHRISTIAN CALIZAYA,2024-08-24 03:50:00+00:00,2024-08-24 10:35:00+00:00,LIBERACION,24,3,75,CONCLUIDO,DA 03,None
28,1590,204,2024-08-23 04:00:00+00:00,CHRISTIAN CALIZAYA,CHRISTIAN CALIZAYA,2024-08-24 03:50:00+00:00,2024-08-24 10:35:00+00:00,LIBERACION,24,3,75,CONCLUIDO,DA 03,None
29,1591,204,2024-08-23 04:00:00+00:00,CHRISTIAN CALIZAYA,CHRISTIAN CALIZAYA,2024-08-24 03:50:00+00:00,2024-08-24 10:35:00+00:00,LIBERACION,24,3,75,CONCLUIDO,DA 03,None
30,1592,204,2024-08-23 04:00:00+00:00,CHRISTIAN CALIZAYA,CHRISTIAN CALIZAYA,2024-08-24 03:50:00+00:00,2024-08-24 10:35:00+00:00,LIBERACION,24,3,75,CONCLUIDO,DA 03,None
31,1593,204,2024-08-23 04:00:00+00:00,CHRISTIAN CALIZAYA,CHRISTIAN CALIZAYA,2024-08-24 03:50:00+00:00,2024-08-24 10:35:00+00:00,LIBERACION,24,3,75,CONCLUIDO,DA 03,None
32,1594,204,2024-08-23 04:00:00+00:00,CHRISTIAN CALIZAYA,CHRISTIAN CALIZAYA,2024-08-24 03:50:00+00:00,2024-08-24 10:35:00+00:00,LIBERACION,24,3,75,CONCLUIDO,DA 03,None

In [35]:
df_parte = pd.read_excel(path_xlsx_parte)

In [36]:
df_parte

,N° LABOR,FECHA,SEMANA,INSTITUCION,COD CANERO,NOMBRE CANERO,COD PROPIEDAD,NOMBRE PROPIEDAD,LOTE,HECTAREA,...,COD DRONE,PILOTO 1,PILOTO 2,OBSERVACIONES,CONFORMIDAD CANERO,FINANCIADO,ID,OS,IDD,REPORTE
0,641,2024-05-23 00:00:00,21.0,62,13171,SUAREZ JUSTINIANO DAVID,1958,NUEVA ESPERAZANZA - SUAREZ DAVID,L1,17.000000,...,DA 02,ALEJANDRO SANCHEZ,AURELIO GARCIA,NaN,NaN,SOLICITUD,NaN,NaN,NaN,SI
1,2024-07-16_510_1218,2024-07-16 00:00:00,29.0,66,1218,BALCAZAR ALCANTARA JOSE LOLY,510,LA BELLA & SANTA ROSA I & VILLA FLORES,L1,2.163175,...,MT 01,AURELIO GARCIA,AURELIO GARCIA,NaN,NaN,SIEMBRA 2024,207.0,34.0,51.0,NaN
2,2024-08-19_510_1218,2024-08-19 04:00:00,34.0,66,1218,BALCAZAR ALCANTARA JOSE LOLY,510,LA BELLA & SANTA ROSA I & VILLA FLORES,L1,2.163175,...,DA 01,EDUARDO REYES,AURELIO GARCIA,NaN,NaN,SIEMBRA 2024,917.0,63.0,132.0,NaN
3,558,2024-06-27 00:00:00,26.0,124,1530,CITTCA,299,C.I.T.T.C.A,C10.3,2.490000,...,DA 01,EDUARDO REYES,AURELIO GARCIA,NaN,NaN,SOLICITUD,NaN,NaN,NaN,SI
4,558,2024-06-27 00:00:00,26.0,124,1530,CITTCA,299,C.I.T.T.C.A,C12.2,0.830000,...,DA 01,EDUARDO REYES,AURELIO GARCIA,NaN,NaN,SOLICITUD,NaN,NaN,NaN,SI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1502,NaN,NaT,NaN,50,790,AGUILERA RIVERO JESSICA BEATRIZ,17,LA ESTACADA--OLGUITA,C8.2,3.643506,...,NaN,NaN,NaN,NaN,NaN,SOLICITUD,1590.0,78.0,NaN,NaN
1503,NaN,NaT,NaN,50,40004,AGUILERA RIVERO NICOLAS JULIO,17,LA ESTACADA--OLGUITA,C3,25.231392,...,NaN,NaN,NaN,NaN,NaN,SOLICITUD,1591.0,78.0,NaN,NaN
1504,NaN,NaT,NaN,50,8003,AGUILERA RIVERO SERGIO STEFAN,17,LA ESTACADA--OLGUITA,C4.2,8.967462,...,NaN,NaN,NaN,NaN,NaN,SOLICITUD,1592.0,78.0,NaN,NaN
1505,NaN,NaT,NaN,50,1215,AGUILERA RIVERO OLGA KARINA,17,LA ESTACADA--OLGUITA,C4,5.625935,...,NaN,NaN,NaN,NaN,NaN,SOLICITUD,1593.0,78.0,NaN,NaN
1506,NaN,NaT,NaN,50,8003,AGUILERA RIVERO SERGIO STEFAN,17,LA ESTACADA--OLGUITA,B4.1,14.342974,...,NaN,NaN,NaN,NaN,NaN,SOLICITUD,1594.0,78.0,NaN,NaN

In [37]:
df_parte['FECHA'] = pd.to_datetime(df_parte['FECHA'], errors='coerce')
df_parte['HORA INICIO'] = pd.to_datetime(df_parte['HORA INICIO'], errors='coerce')
df_parte['HORA FINAL'] = pd.to_datetime(df_parte['HORA FINAL'], errors='coerce')

In [38]:
# Recorrer cada registro del DataFrame y actualizar los registros correspondientes en el archivo Excel
for idx, row in df_lib.iterrows():
    id_value = row['id']
    # Encontrar el índice correspondiente en el archivo Excel
    idx_parte = df_parte[df_parte['ID'] == id_value].index
    if not idx_parte.empty:
        idx_parte = idx_parte[0]
        # Convertir las fechas y eliminar la zona horaria
        fecha_registro = pd.to_datetime(row['fecha_registro'], errors='coerce').tz_localize(None)
        hora_inicio = pd.to_datetime(row['hora_inicio'], errors='coerce').tz_localize(None)
        hora_fin = pd.to_datetime(row['hora_fin'], errors='coerce').tz_localize(None)
        
        # Actualizar los valores en el archivo Excel
        df_parte.at[idx_parte, 'FECHA'] = fecha_registro
        df_parte.at[idx_parte, 'HORA INICIO'] = hora_inicio
        df_parte.at[idx_parte, 'HORA FINAL'] = hora_fin
        df_parte.at[idx_parte, 'TEMPERATURA'] = float(row['temperatura'])
        df_parte.at[idx_parte, 'VIENTO'] = float(row['viento'])
        df_parte.at[idx_parte, 'HUMEDAD'] = float(row['humedad'])
        df_parte.at[idx_parte, 'OPERACIÓN DETENIDA POR'] = str(row['estado_de_operacion'])
        df_parte.at[idx_parte, 'COD DRONE'] = str(row['dron'])
        df_parte.at[idx_parte, 'PILOTO 1'] = str(row['piloto_1'])
        df_parte.at[idx_parte, 'PILOTO 2'] = str(row['piloto_2'])
        df_parte.at[idx_parte, 'OBSERVACIONES'] = str(row['obs'])
        df_parte.at[idx_parte, 'IDD'] = float(row['idd'])
        df_parte.at[idx_parte, 'SEMANA'] = fecha_registro.isocalendar().week

C:\Users\Usuario\AppData\Local\Temp\ipykernel_30004\2708270919.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'None' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_parte.at[idx_parte, 'OBSERVACIONES'] = str(row['obs'])

In [39]:
output_path = path_xlsx_parte
df_parte.to_excel(output_path, index=False)

# HACER COPIA Y ELIMINAR PARTE DIARIO Y PLANIFICACION DE AMIGOCLOUD

In [40]:
lista_idd

[203, 204]

In [41]:
#copia y elimina los idd indicados del parte diario de amigocloud
for idd in lista_idd:
    id_proyecto = f'https://app.amigocloud.com/api/v1/projects/33457/sql'
    query = f'INSERT INTO dataset_348546 (fecha_registro, amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin, institucion, labor, temperatura, viento, humedad, estado_de_operacion, dron, obs, canhero, idd, ubicaciones) SELECT fecha_registro, amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin, institucion, labor, temperatura, viento, humedad, estado_de_operacion, dron, obs, canhero, idd, ubicaciones FROM dataset_342996 WHERE idd = {idd}'
    query_sql = {'query': query}
    post = amigocloud.post(id_proyecto, query_sql)
    query = {'query': f'DELETE FROM dataset_342996 WHERE idd = {idd}'}
    ejecutar = amigocloud.post(id_proyecto, query)
    print('se proceso IDD:', idd)

se proceso IDD: 203
se proceso IDD: 204

In [42]:
#copia y elimina los id indicados de la planificacion semanal de amigocloud
for id in lista_id:
    id_proyecto = f'https://app.amigocloud.com/api/v1/projects/33457/sql'
    query = f'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = {id}'
    query_sql = {'query': query}
    post = amigocloud.post(id_proyecto, query_sql)
    query = {'query': f'DELETE FROM dataset_345601 WHERE id = {id}'}
    ejecutar = amigocloud.post(id_proyecto, query)
    print('se proceso ID:', id)

se proceso ID: 1559
se proceso ID: 1560
se proceso ID: 1561
se proceso ID: 1563
se proceso ID: 1565
se proceso ID: 1567
se proceso ID: 1568
se proceso ID: 1569
se proceso ID: 1570
se proceso ID: 1571
se proceso ID: 1572
se proceso ID: 1573
se proceso ID: 1574
se proceso ID: 1575
se proceso ID: 1576
se proceso ID: 1577
se proceso ID: 1578
se proceso ID: 1579
se proceso ID: 1580
se proceso ID: 1581
se proceso ID: 1582
se proceso ID: 1583
se proceso ID: 1584
se proceso ID: 1585
se proceso ID: 1586
se proceso ID: 1587
se proceso ID: 1588
se proceso ID: 1589
se proceso ID: 1590
se proceso ID: 1591
se proceso ID: 1592
se proceso ID: 1593
se proceso ID: 1594

## Copiar ids de PARTE DIARIO a PLANIFICACION

In [43]:
path_planificacion = r'G:\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - EQUIPO AVIACION UTEA\Trichogramma\2024\SHP\PLANIFICACION.shp'
path_xlsx = r'G:\Ingenio Azucarero Guabira S.A\UTEA - SEMANAL - EQUIPO AVIACION UTEA\Trichogramma\PARTE DIARIO TRICHOGRAMMA 2024_RES.xlsx'

In [44]:
gdf_plan = gpd.read_file(path_planificacion)
df_xlsx = pd.read_excel(path_xlsx)

In [45]:
# Recorrer cada registro de df_xlsx
for index, row in df_xlsx.iterrows():
    id_value = row['ID']
    idd_value = row['IDD']
    
    # Actualizar el campo 'idd' en gdf_plan donde coincida el campo 'id'
    gdf_plan.loc[gdf_plan['id'] == id_value, 'idd'] = idd_value

In [46]:
gdf_plan.to_file(path_planificacion, driver='ESRI Shapefile')