In [1]:
import sys
sys.path.append('../_amigocloud')

In [3]:
from amigocloud import AmigoCloud
import pandas as pd
from shapely import wkb

import geopandas as gpd
from shapely.geometry import Point, Polygon, MultiPolygon, MultiPoint
#from shapely.geometry import Point, MultiPoint
import os
#from fastkml import kml

In [5]:
# ruta de carpera donde estan las llaves
ruta = open('../ruta.txt')
ruta = ruta.readlines()[0]

In [6]:
# leer token
acceso = open(ruta + '/_keys/api_amigocloud.key','r')
api_token = acceso.readlines()[0]
acceso.close()
amigocloud = AmigoCloud(token=api_token)
amigocloud

In [12]:
query = {'query': 'SELECT\
    g.id, p.fecha_registro, p.piloto_1, p.piloto_2, p.hora_inicio, p.hora_fin, p.labor, p.temperatura, p.viento, p.humedad, p.estado_de_operacion, p.dron, p.obs FROM dataset_342996 p JOIN dataset_345601 g ON ST_Intersects(p.ubicaciones, g.geometry) WHERE p.fecha_registro BETWEEN \'2024-07-04 14:50:55\' AND \'2024-07-04 14:50:55\''}
select = amigocloud.get('https://app.amigocloud.com/api/v1/projects/33457/sql', query)
data = select['data']

In [14]:
df = pd.DataFrame(data)

In [15]:
df

,id,fecha_registro,piloto_1,piloto_2,hora_inicio,hora_fin,labor,temperatura,viento,humedad,estado_de_operacion,dron,obs
0,1,2024-07-04 14:50:55+00:00,EDUARDO REYES,CHRISTIAN CALIZAYA,2024-07-04 00:50:55+00:00,2024-07-04 09:00:55+00:00,LIBERACION,20,2,80,CONCLUIDO,DA 01,None
1,2,2024-07-04 14:50:55+00:00,EDUARDO REYES,CHRISTIAN CALIZAYA,2024-07-04 00:50:55+00:00,2024-07-04 09:00:55+00:00,LIBERACION,20,2,80,CONCLUIDO,DA 01,None
2,3,2024-07-04 14:50:55+00:00,EDUARDO REYES,CHRISTIAN CALIZAYA,2024-07-04 00:50:55+00:00,2024-07-04 09:00:55+00:00,LIBERACION,20,2,80,CONCLUIDO,DA 01,None
3,4,2024-07-04 14:50:55+00:00,EDUARDO REYES,CHRISTIAN CALIZAYA,2024-07-04 00:50:55+00:00,2024-07-04 09:00:55+00:00,LIBERACION,20,2,80,CONCLUIDO,DA 01,None
4,5,2024-07-04 14:50:55+00:00,EDUARDO REYES,CHRISTIAN CALIZAYA,2024-07-04 00:50:55+00:00,2024-07-04 09:00:55+00:00,LIBERACION,20,2,80,CONCLUIDO,DA 01,None
5,6,2024-07-04 14:50:55+00:00,EDUARDO REYES,CHRISTIAN CALIZAYA,2024-07-04 00:50:55+00:00,2024-07-04 09:00:55+00:00,LIBERACION,20,2,80,CONCLUIDO,DA 01,None

In [17]:
nulos = df.isnull().sum()
nulos

id                     0
fecha_registro         0
piloto_1               0
piloto_2               0
hora_inicio            0
hora_fin               0
labor                  0
temperatura            0
viento                 0
humedad                0
estado_de_operacion    0
dron                   0
obs                    6
dtype: int64