In [4]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime

In [46]:
path_cat_shp = r'G:/OneDrive - Ingenio Azucarero Guabira S.A/INFORMACION GENERAL/CATASTRO/catastro241023rv.shp'
path_cos_shp = r'G:/OneDrive - Ingenio Azucarero Guabira S.A/INFORMACION GENERAL/CATASTRO/cosecha2023rv.shp'

In [6]:
cat_shp = gpd.read_file(path_cat_shp)

In [33]:
siembras = cat_shp[cat_shp['finan2023']=='IAG']

In [34]:
siembras['area'].sum()

2944.16

In [35]:
siembras.columns

Index(['id', 'unidad_01', 'unidad_02', 'unidad_03', 'unidad_04', 'unidad_05',
       'variedad', 'fs', 'variedad23', 'textura', 'financia', 'soca',
       'cultivo', 'zona', 'fs23', 'ins', 'finan2023', 'area', 'Tecnico',
       'geometry'],
      dtype='object')

In [36]:
siembras = siembra[['unidad_01', 'unidad_02', 'unidad_03', 'unidad_04', 'unidad_05', 'fs23', 'area']]

In [40]:
siembras.rename(columns={'fs23':'fecha'}, inplace=True)

In [42]:
siembras['tipo'] = 'siembra'

In [45]:
siembras

,unidad_01,unidad_02,unidad_03,unidad_04,unidad_05,fecha,area,tipo
0,947,SAN FELIX DE SEJAS--FELIX SEJAS,13002.0,SEJAS SALVATIERRA JULIO CESAR,L3.4,2023-05-15,1.08,siembra
4,759,EL MANGO--FLORES,5385.0,HUANCA CANO MARIA,L2,2023-07-13,2.87,siembra
7,1426,EL NARANJAL I--DIONICIA COLQUE,2660.0,CONDORI COLQUE CARMELO,L2.1,2023-06-12,1.90,siembra
9,478,SAN LORENZO I--JUAN MEDRANO,8227.0,MEDRANO NUNEZ REMBERTO,L15.1,2023-04-10,13.25,siembra
11,1426,EL NARANJAL I--DIONICIA COLQUE,2660.0,CONDORI COLQUE CARMELO,L1.5,2023-06-30,0.82,siembra
...,...,...,...,...,...,...,...,...
789,509,NATIVIDAD--CLAROS,1977.0,CLAROS CADIMA NATIVIDAD,L6.2,2023-05-11,1.10,siembra
790,1865,OKINAWA 400--CONDORI RUDDY,42178.0,CONDORI ORELLANA RUDDY,L3,2023-04-25,5.34,siembra
791,201,LA HONDONADA--CRUZ,2505.0,CRUZ BARRIENTOS CRISTIAN F.,L18.4,2023-05-09,0.90,siembra
793,85,NARANJAL ROCA,12162.0,ROCA REYES MARCOS,L7.11,2023-04-22,4.46,siembra
13147,1587,LAS CAÑA--CUELLAR,2285.0,CUELLAR ZABALA ADALBERTO,L5.3,2023-05-08,4.66,siembra

In [47]:
cos_shp = gpd.read_file(path_cos_shp)

In [51]:
cosechado = cos_shp[cos_shp['estado'] == 'cosechado']

In [53]:
cosechado['area'].sum()

45838.96

In [55]:
cosechado.columns

Index(['id', 'unidad_01', 'unidad_02', 'unidad_03', 'unidad_04', 'unidad_05',
       'variedad', 'fs', 'soca', 'cultivo', 'zona', 'area', 'semana', 'fc',
       'fsi', 'estado', 'fsico', 'tipoc', 'geometry'],
      dtype='object')

In [57]:
cosechado = cosechado[['unidad_01', 'unidad_02', 'unidad_03', 'unidad_04', 'unidad_05', 'fc', 'area']]

In [60]:
cosechado.rename(columns={'fc':'fecha'}, inplace=True)

In [64]:
cosechado['tipo'] = 'soca'

C:\Users\Usuario\anaconda3\envs\utea_reportes\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [65]:
cosechado

,unidad_01,unidad_02,unidad_03,unidad_04,unidad_05,fecha,area,tipo
1,560,LA_TUJA_IAG_SA,15284,ROJAS_CORDOVA_ROGELIO_FELIPE,L2.2,2023-10-22,2.30,soca
3,560,LA_TUJA_IAG_SA,15284,ROJAS_CORDOVA_ROGELIO_FELIPE,L7.1,2023-10-09,8.59,soca
4,560,LA_TUJA_IAG_SA,15284,ROJAS_CORDOVA_ROGELIO_FELIPE,L7.2,2023-10-19,10.91,soca
5,560,LA_TUJA_IAG_SA,15284,ROJAS_CORDOVA_ROGELIO_FELIPE,L8.1,2023-10-22,7.37,soca
6,560,LA_TUJA_IAG_SA,12254,RIBERA_ARNEZ_ROSSNOVA,L9.2,2023-09-29,3.86,soca
...,...,...,...,...,...,...,...,...
16102,493,NELVI_TORRICO_QUIMAYA_I,13709,TORRICO_QUIMAYA_NELVI,L1,2023-10-24,4.18,soca
16104,1891,CAÑAL--CORDOVA_ALCIDES,2446,CORDOVA_SEJAS_ALCIDES,L1.3,2023-10-24,5.75,soca
16105,1891,CAÑAL--CORDOVA_ALCIDES,2446,CORDOVA_SEJAS_ALCIDES,L1.4,2023-10-24,12.19,soca
16106,242,SAN_NICOLAS--ALBARRACIN,692,AMURRIO_TAPIA_JAIME,L8.2,2023-09-29,10.45,soca
16107,242,SAN_NICOLAS--ALBARRACIN,692,AMURRIO_TAPIA_JAIME,L10,2023-09-29,12.81,soca

In [67]:
df_merge = pd.concat(siembras, cosechado)

C:\Users\Usuario\anaconda3\envs\utea_reportes\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  """Entry point for launching an IPython kernel.

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"