In [19]:
import sys
sys.path.append('..')

import os
import geopandas as gpd
import pandas as pd
from shapely import wkb
from geopandas import sjoin
import binascii

from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError

from utilities_amigocloud import AmigocloudFunctions

In [20]:
from config import RUTA_UNIDAD_ONE_DRIVE
from config import RUTA_LOCAL_ONE_DRIVE
from config import API_AMIGOCLOUD_TOKEN_ADM
from config import POSTGRES_UTEA

ID_PROYECTO = 33457
RUTA_COMPLETA = os.path.join(RUTA_UNIDAD_ONE_DRIVE, RUTA_LOCAL_ONE_DRIVE)

In [21]:
ID_PROYECTO

33457

In [22]:
amigocloud = AmigocloudFunctions(token=API_AMIGOCLOUD_TOKEN_ADM)
amigocloud

In [23]:
def obtener_engine():
    return create_engine(
        f"postgresql+psycopg2://{POSTGRES_UTEA['USER']}:{POSTGRES_UTEA['PASSWORD']}@{POSTGRES_UTEA['HOST']}:{POSTGRES_UTEA['PORT']}/{POSTGRES_UTEA['DATABASE']}"
    )

def obtenet_parte_diario_amigocloud():
    query = 'select * from dataset_342996 order by idd'
    select = amigocloud.ejecutar_query_sql(ID_PROYECTO, query, 'get')
    return select['data']

def mover_parte_a_clon_amigocloud(idd):
    query = f'INSERT INTO dataset_348546 (fecha_registro, amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin,\
            institucion, labor, temperatura, viento, humedad, dron, obs, canhero, idd, ubicaciones) SELECT fecha_registro,\
            amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin, institucion, labor, temperatura, viento, \
            humedad, dron, obs, canhero, idd, ubicaciones FROM dataset_342996 WHERE idd = {idd}'
    result1 = amigocloud.ejecutar_query_sql(ID_PROYECTO, query, 'post')
    query = f'DELETE FROM dataset_342996 WHERE idd = {idd}'
    result2 = amigocloud.ejecutar_query_sql(ID_PROYECTO, query, 'post')
    return result2

def mover_lote_a_clon_amigocloud(id):
    query = f'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,\
    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,\
    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = {id}'
    result1 = amigocloud.ejecutar_query_sql(ID_PROYECTO, query, 'post')
    query = f'DELETE FROM dataset_345601 WHERE id = {id}'
    result2 = amigocloud.ejecutar_query_sql(ID_PROYECTO, query, 'post')
    return result2

def obtenet_parte_diario_db_planificado():
    engine = obtener_engine()
    try:
        query = """
            SELECT * FROM drones_control_bio.parte_diario_ctrl_bio WHERE estado = 'PLANIFICADO'
        """
        gdf = gpd.read_postgis(query, engine, geom_col='geom')
        return gdf
    except Exception as e:
        print(f"❌ Error en la consulta: {e}")
        return gpd.GeoDataFrame()
    return None

def obtenet_parte_diario_db_ejecutado():
    engine = obtener_engine()
    try:
        query = """
            SELECT * FROM drones_control_bio.parte_diario_ctrl_bio WHERE estado = 'EJECUTADO'
        """
        gdf = gpd.read_postgis(query, engine, geom_col='geom')
        return gdf
    except Exception as e:
        print(f"❌ Error en la consulta: {e}")
        return gpd.GeoDataFrame()
    return None

def convertir_json_a_gdf_utm20(json_data):
    datos_con_geom = [d for d in json_data if d.get('ubicaciones')]
    geometrias = []
    for item in datos_con_geom:
        hex_wkb = item['ubicaciones']
        try:
            wkb_bytes = binascii.unhexlify(hex_wkb)
            geom = wkb.loads(wkb_bytes)
        except Exception as e:
            print(f"Error con item {item.get('idd')}: {e}")
            geom = None
        geometrias.append(geom)

    df = pd.DataFrame(datos_con_geom)
    gdf = gpd.GeoDataFrame(df, geometry=geometrias, crs="EPSG:4326")
    gdf_utm = gdf.to_crs("EPSG:32720")
    return gdf_utm

def validar_puntos_parte_fuera(puntos, lotes):
    # Extraer la geometría multipunto
    multipunto = puntos.geometry.iloc[0]
    # Crear un GeoDataFrame con cada punto por separado
    gdf_puntos = gpd.GeoDataFrame(geometry=[p for p in multipunto.geoms], crs="EPSG:32720")
    # Verifica para cada punto si intersecta algún polígono
    gdf_puntos["intersecta"] = gdf_puntos.geometry.apply(
        lambda punto: lotes.intersects(punto).any()
    )
    puntos_fuera = gdf_puntos[~gdf_puntos["intersecta"]]
    if len(puntos_fuera) > 0:
        return True
    else:
        return False
    return None

def validar_puntos_en_propiedad(gdf_parte_db, gdf_parte_amigocloud):
    gdf_intersect_directo = gpd.sjoin(gdf_parte_db, gdf_parte_amigocloud, how="inner", predicate="intersects")
    count_props = len(list(set(gdf_intersect_directo['unidad_01'])))
    if count_props == 1:
        return True
    else:
        return False
    return None

def validar_parte_diario_amigocloud_nulls(parte_diario):
    columnas_a_eliminar = ['propiedad', 'lote', 'area', 'institucion', 'obs', 'canhero']
    parte_diario = parte_diario.drop(columns=columnas_a_eliminar)
    # Lista columnas con valores nulos en la fila
    null_columns = parte_diario.isnull().any()
    null_fields = null_columns[null_columns].index.tolist()
    if len(null_fields) > 0:
        return True
    else:
        return False
    return None

def actualizar_estado_ejecutado(producto, dosis, fecha_reg, semana, temp, viento, humedad, cod_dron, piloto_1, piloto_2, idd, hora_inicio, hora_fin, estado, id):
    engine = obtener_engine()
    try:
        with engine.connect() as connection:
            query = text("""
                UPDATE drones_control_bio.parte_diario_ctrl_bio
                    SET
                    producto = :producto,
                    dosis = :dosis,
                    fecha = :fecha_reg,
                    semana = :semana,
                    temp = :temp,
                    viento = :viento,
                    humedad = :humedad,
                    cod_dron = :cod_dron,
                    piloto_1 = :piloto_1,
                    piloto_2 = :piloto_2,
                    idd = :idd,
                    hora_ini = :hora_inicio,
                    hora_fin = :hora_fin,
                    estado = :estado
                    WHERE id = :id
            """)
            connection.execute(query, {
                "producto": producto,
                "dosis": dosis,
                "fecha_reg": fecha_reg,
                "semana": semana,
                "temp": temp,
                "viento": viento,
                "humedad": humedad,
                "cod_dron": cod_dron,
                "piloto_1": piloto_1,
                "piloto_2": piloto_2,
                "idd": idd,
                "hora_inicio": hora_inicio,
                "hora_fin": hora_fin,
                "estado": estado,
                "id": id})
            connection.commit()
            print(f"✅ Estado actualizado a 'EJECUTADO' para IDs: {id}")
    except SQLAlchemyError as e:
        print(f"❌ Error al actualizar estado: {e}")

In [24]:
parte_diario_amigocloud = obtenet_parte_diario_amigocloud()

In [25]:
gdf_parte_diario_amigocloud = convertir_json_a_gdf_utm20(parte_diario_amigocloud)
gdf_parte_diario_db = obtenet_parte_diario_db_planificado()

In [26]:
for i in range(len(gdf_parte_diario_amigocloud)):
    parte_diario_amigocloud = gdf_parte_diario_amigocloud.iloc[[i]]
    idd_aux = parte_diario_amigocloud['idd'].iloc[0]
    
    parte_diario_nulls = validar_parte_diario_amigocloud_nulls(parte_diario_amigocloud)
    puntos_fuera = validar_puntos_parte_fuera(parte_diario_amigocloud, gdf_parte_diario_db)
    puntos_en_propiedad = validar_puntos_en_propiedad(gdf_parte_diario_db, parte_diario_amigocloud)

    if parte_diario_nulls == True:
        print(f'El parte diario de AmigoCloud idd: {idd_aux} tiene campos nulos')
        continue
    elif puntos_fuera == True:
        print(f'El parte diario de AmigoCloud idd: {idd_aux} tiene puntos que no coinsiden con algun lote')
        continue
    elif puntos_en_propiedad == False:
        print(f'El parte diario de AmigoCloud idd: {idd_aux} tiene puntos en mas de una propiedad')
        continue
    
    gdf_intersect = gpd.sjoin(parte_diario_amigocloud, gdf_parte_diario_db, how="inner", predicate="intersects")
    idd = gdf_intersect['idd_left'].iloc[0]
    id_lotes_ejecutado = list(gdf_intersect['id'])
    
    for i, row in gdf_intersect.iterrows():
        id = row['id']
        producto = row['producto_left']
        dosis = row['dosis_left']
        fecha_reg = pd.to_datetime(row['fecha_registro'])
        semana = fecha_reg.isocalendar().week
        temp = row['temperatura']
        viento = row['viento_left']
        humedad = row['humedad_left']
        cod_dron = row['dron']
        piloto_1 = row['piloto_1_left']
        piloto_2 = row['piloto_2_left']
        idd = row['idd_left']
        hora_inicio = pd.to_datetime(row['hora_inicio'])
        hora_fin = pd.to_datetime(row['hora_fin_left'])
        estado = 'EJECUTADO'
        
        actualizar_estado_ejecutado(producto, dosis, fecha_reg, semana, temp, viento, humedad, cod_dron, piloto_1, piloto_2, idd, hora_inicio, hora_fin, estado, id)
        result = mover_lote_a_clon_amigocloud(id)
    
    result = mover_parte_a_clon_amigocloud(idd)

✅ Estado actualizado a 'EJECUTADO' para IDs: 562
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 562', 'count': 1, 'amigo_ids': ['97d045bfcb5c4316818c937e8e557524']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 563
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 563', 'count': 1, 'amigo_ids': ['d9038a45f3b5463fa44cb50299973f81']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 566
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 566', 'count': 1, 'amigo_ids': ['af85c6021ef643daa358f3114fcd63df']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 565
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 565', 'count': 1, 'amigo_ids': ['a572b19b37dd4cbdb7e040664b002a06']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 564
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 564', 'count': 1, 'amigo_ids': ['bb47a469d8b647a58ef4ffc683825513']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 561
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 561', 'count': 1, 'amigo_ids': ['fa561269f40e403f8c5b1c70a80e4ca7']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 567
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 567', 'count': 1, 'amigo_ids': ['6a9ba2014a704d4890eab23cfc23c3ec']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 559
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 559', 'count': 1, 'amigo_ids': ['70b91de0a1934df59953c1477b4864ea']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 560
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 560', 'count': 1, 'amigo_ids': ['c5dc3870ec254c579bf23983f33be1ef']}
{'query': 'INSERT INTO dataset_348546 (fecha_registro, amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin,            institucion, labor, temperatura, viento, humedad, dron, obs, canhero, idd, ubicaciones) SELECT fecha_registro,            amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin, institucion, labor, temperatura, viento,             humedad, dron, obs, canhero, idd, ubicaciones FROM dataset_342996 WHERE idd = 599', 'count': 1, 'amigo_ids': ['b85473f12d4a40dc86fa7b4b72c5a277']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 577
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 577', 'count': 1, 'amigo_ids': ['6c63947a4cbf40d9a50a41cd00870390']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 568
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 568', 'count': 1, 'amigo_ids': ['747e727ec2b648d591fefa5b37b27238']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 570
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 570', 'count': 1, 'amigo_ids': ['1b68fd104b9d4bd5b3b88a7170422324']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 572
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 572', 'count': 1, 'amigo_ids': ['f1e646c28227438fa32e64b423f9a540']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 571
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 571', 'count': 1, 'amigo_ids': ['d359d2144f90408aa053caafaa24395a']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 573
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 573', 'count': 1, 'amigo_ids': ['6e932aac563a49528b09e140d929216f']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 576
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 576', 'count': 1, 'amigo_ids': ['c474bf19c6d8470892f4d818a35e40a5']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 574
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 574', 'count': 1, 'amigo_ids': ['97d78149025744ef928d84a8951128d7']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 569
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 569', 'count': 1, 'amigo_ids': ['c6c11b956f1f45eaadf0cf045852a16e']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 575
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 575', 'count': 1, 'amigo_ids': ['fcdb64ccd5b34239aec43c347d2cfb16']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 578
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 578', 'count': 1, 'amigo_ids': ['1d65cc190f524f08a80f2af5cca1850e']}
{'query': 'INSERT INTO dataset_348546 (fecha_registro, amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin,            institucion, labor, temperatura, viento, humedad, dron, obs, canhero, idd, ubicaciones) SELECT fecha_registro,            amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin, institucion, labor, temperatura, viento,             humedad, dron, obs, canhero, idd, ubicaciones FROM dataset_342996 WHERE idd = 600', 'count': 1, 'amigo_ids': ['7368a00d5ebf49c1aaad492bf9afdeda']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 556
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 556', 'count': 1, 'amigo_ids': ['8c1be8f167634e7b98ac003484a9c237']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 554
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 554', 'count': 1, 'amigo_ids': ['1582b5eef3cc41339062ebf9e46589b4']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 557
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 557', 'count': 1, 'amigo_ids': ['399674802943497f97a2ef64382245da']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 555
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 555', 'count': 1, 'amigo_ids': ['f080bcfd552c42e98dc15ca9d0135796']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 558
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 558', 'count': 1, 'amigo_ids': ['82472b41bff24644af344e594929822a']}
{'query': 'INSERT INTO dataset_348546 (fecha_registro, amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin,            institucion, labor, temperatura, viento, humedad, dron, obs, canhero, idd, ubicaciones) SELECT fecha_registro,            amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin, institucion, labor, temperatura, viento,             humedad, dron, obs, canhero, idd, ubicaciones FROM dataset_342996 WHERE idd = 601', 'count': 1, 'amigo_ids': ['f202d50d33414ab2850905fb545f21c5']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 544
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 544', 'count': 1, 'amigo_ids': ['1d1be94bddf449698433d06f6b9d79a9']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 553
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 553', 'count': 1, 'amigo_ids': ['cd8ae0a174a843aa8523051541e11021']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 547
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 547', 'count': 1, 'amigo_ids': ['a649fc7d152142f6b71604c30a8b7353']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 540
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 540', 'count': 1, 'amigo_ids': ['54e679b7e1604a6ca2209649ae7239a5']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 545
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 545', 'count': 1, 'amigo_ids': ['6449a03216d04108bc61b17153e2523a']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 548
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 548', 'count': 1, 'amigo_ids': ['8a88ff410dea46158ba2096cb18b4d71']}
{'query': 'INSERT INTO dataset_348546 (fecha_registro, amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin,            institucion, labor, temperatura, viento, humedad, dron, obs, canhero, idd, ubicaciones) SELECT fecha_registro,            amigo_id, propiedad, piloto_1, piloto_2, lote, area, hora_inicio, hora_fin, institucion, labor, temperatura, viento,             humedad, dron, obs, canhero, idd, ubicaciones FROM dataset_342996 WHERE idd = 602', 'count': 1, 'amigo_ids': ['fe0d5cf1aae74804b41fcd2afb5a83ba']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 542
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 542', 'count': 1, 'amigo_ids': ['90c8da4ac51d470eaa855b081e2be6b9']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 552
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 552', 'count': 1, 'amigo_ids': ['02f72f15444a47f3bb14424e7dd7e6b1']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 541
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 541', 'count': 1, 'amigo_ids': ['8dd36811da5f4bb49aa9685ea1925f23']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 543
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 543', 'count': 1, 'amigo_ids': ['19f263e52914492ea791ca3f03b606ec']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 579
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 579', 'count': 1, 'amigo_ids': ['ffe4dcbb71724d6f94d3df97b610b032']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 546
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 546', 'count': 1, 'amigo_ids': ['f48112daf85a40e6b74178abb187067d']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 580
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 580', 'count': 1, 'amigo_ids': ['e0f49b442da14f0598c8ee5fc5925a7a']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 551
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 551', 'count': 1, 'amigo_ids': ['0560423ed5ae4aaca8a39f92c88d774f']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 550
{'query': 'INSERT INTO dataset_348547 (fecha_registro, amigo_id, id, unidad_01, unidad_02, unidad_03, unidad_04,    unidad_05, area, origen, dias, os, geometry) SELECT fecha_registro, amigo_id, id, unidad_01, unidad_02,    unidad_03, unidad_04, unidad_05, area, origen, dias, os, geometry FROM dataset_345601 WHERE id = 550', 'count': 1, 'amigo_ids': ['ca3a8a913be7404aab32b2edd09090a7']}
✅ Estado actualizado a 'EJECUTADO' para IDs: 549