In [2]:
from amigocloud import AmigoCloud

In [3]:
import pandas as pd

In [4]:
# ruta de carpera donde estan las llaves
ruta = open('../ruta.txt')
ruta = ruta.readlines()[0]

# leer token
acceso = open(ruta + '/_keys/api_amigocloud.key','r')
api_token = acceso.readlines()[0]
acceso.close()
amigocloud = AmigoCloud(token=api_token)
amigocloud

In [5]:
semana = 'S36'
query = {'query': 'select split_part(canhero, \' / \', 1) cod, split_part(canhero, \' / \', 2) nom from dataset_307560 where semana_2da = \'{sem}\''.format(sem=semana)}
project = 'https://app.amigocloud.com/api/v1/projects/32672/sql'
select = amigocloud.get(project, query)
data = select['data']

In [6]:
df = pd.DataFrame(data)
df

      cod                            nom
0   13067         SAUCEDO CERRUTI SONIA
1    1693        CANO DELGADILLO LIMBERG
2   13480       TAPIA MARTINEZ FRANCISCO
3   42073          TAPIA SEGOVIA ENRIQUE
4    8838              MENDEZ PAZ MIRYAM
5   11750           REYES VALDIVIA JOSE
6    2285       CUELLAR ZABALA ADALBERTO
7    6457       JORDAN TONDELLY RODOLFO
8   40252   BEJARANO ALVES LUIS ALBERTO
9   42182           TAPIA SEGOVIA RONALD
10   8814  MURIALDO MENDEZ WALTER DANIEL
11   5345           HUANCA SUAREZ EDGAR
12   1104   BRUNNER LIMPIAS JUAN CARLOS
13   2893            DAVALOS SILVA MARIO
14  11116            QUENA OVANDO VICTOR
15  41556      FRANCO GUZMAN MARIA AILEN